.people {
    > .inner {
        padding: 0.1px;
    }
    &_wrap {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;

        &::after {
            content: "";
            width: 100%;
            height: 51.5%;

            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            opacity: 0.7;
            background-color: #e4ecf0;
        }

        @include media_min_query() {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        @include media_min_query("xl") {
            padding-top: 197px;
            padding-bottom: 190px;
        }
    }
    &_head {
        margin-top: 7px;
        @include media_min_query() {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .btn {
            width: 320px;
            margin-top: 40px;
            @include media_min_query() {
                margin-top: -6px;
            }
        }
    }
    &_slider {
        overflow: hidden;

        .slick-list {
            overflow: visible;
        }
        &_wrap {
            margin-top: 60px;
            position: relative;
            @include media_min_query("xl") {
                width: calc(1200px + (100vw - 1200px) * 0.5);
                margin-top: 100px;
            }
        }
        &_slick {
            width: 375px;
            max-width: 100%;
            @include media_min_query() {
                width: 1028px;
            }
        }
        &_txt {
            @extend %f_30;
            font-family: $f_noto_serif;
            letter-spacing: -0.02em;
            line-height: 1.5;
            margin-top: 20px;
            @include media_min_query() {
                margin-top: 29px;
            }
        }
        &_pos {
            @extend %f_20;
            letter-spacing: -0.02em;
            line-height: 2;

            margin-top: 10px;
            @include media_min_query() {
                margin-top: 14px;
            }
        }
        &_name {
            @extend %f_40;
            font-family: $f_poppins;
            font-weight: 600;

            margin-top: 10px;
            text-transform: uppercase;
        }
        &_item {
            margin-left: 20px;
            margin-right: 20px;
            @include media_min_query() {
                width: 474px;
                margin-left: 0;
                margin-right: 40px;

                &:hover {
                    img {
                        scale: 1.05;
                    }
                }
            }
        }
        &_avatar {
            border-radius: 5px;
            overflow: hidden;
            img {
                transition: 300ms ease-out;
            }
        }
        &_btn {
            position: relative;
            background-color: #5f6c76;
            overflow: hidden;
            cursor: pointer;
            &::after,
            &::before {
                background-color: #fff;
            }

            &_wrap {
                width: 100%;
                position: absolute;
                top: 40%;
                @include media_min_query() {
                    top: 43%;
                }
                .container {
                    max-width: 1200px;
                    height: 1px;
                    margin-left: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        &_prev,
        &_next {
            width: 60px;
            height: 60px;
            border-radius: 99px;
            border: 1px solid #ccdae2;
            position: relative;
            .icon {
                width: 15px;
                height: 13px;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;

                translate: -50% -50%;
                background-size: cover;
                background-repeat: no-repeat;
            }
            @include media_min_query() {
                width: 95px;
                height: 95px;
            }
        }
        &_prev {
            translate: -10px;
            .icon {
                background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
                rotate: -180deg;
            }
            @include media_min_query() {
                &:hover {
                    .icon {
                        background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
                    }
                }
            }

            @include media_min_query("xl") {
                translate: -50%;
            }
        }
        &_next {
            translate: 10px;
            .icon {
                background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
            }
            @include media_min_query() {
                &:hover {
                    .icon {
                        background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
                    }
                }
            }
            @include media_min_query("xl") {
                // translate: 50%;
            }
        }
    }
    &_foot {
        .btn {
            width: 375px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
