$font_base: 'Noto Sans JP', sans-serif;
$font_jose: 'Josefin Sans', sans-serif;
$font_manrope: 'Manrope', sans-serif;
$font_raleway: 'Raleway', sans-serif;
$font_shingoH: 'Noto Sans JP', sans-serif;
$font_shingoB: 'Noto Sans JP', sans-serif;
$font_shingoU: 'Noto Sans JP', sans-serif;
// $font_shingoH: 'shingoproH', sans-serif;
// $font_shingoB: 'shingoproB', sans-serif;
// $font_shingoU: 'shingoproU', sans-serif;

// @font-face {
//     font-family: shingoproH;
//     src: url(../fonts/A-OTF-Shin-Go-Pro-H.otf);
// }

// @font-face {
//     font-family: shingoproB;
//     src: url(../fonts/A-OTF-Shin-Go-Pro-B.otf);
// }

// @font-face {
//     font-family: shingoproU;
//     src: url(../fonts/A-OTF-Shin-Go-Pro-U.otf);
// }

$c_base: #404D61;
$c_second: #004BAC;
$c_third: #F7FF00;
$c_four: #FF9A3A;
$c_five: #47AEF5;
