.p_top .business_map .pos {
  font-size: 1.4rem;
}

.p_top .people_slider_pos, .p_top .guide_heading > .en {
  font-size: 1.6rem;
}

.p_top .benefit_more .p {
  font-size: 1.8rem;
}

.p_top .people_slider_txt {
  font-size: 2rem;
}

.p_top .mv_heading > .jp {
  font-size: 2.2rem;
}

.p_top .people_slider_name, .p_top .guide_heading > .jp {
  font-size: 2.3rem;
}

.p_top .mv_heading > .en {
  font-size: 3rem;
}

@media only screen and (min-width: 768px) {
  .p_top .business_map .pos {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_top .people_slider_pos, .p_top .guide_heading > .en {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_top .people_slider_pos, .p_top .guide_heading > .en {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_top .benefit_more .p {
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_top .benefit_more .p {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_top .people_slider_txt {
    font-size: 2.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_top .mv_heading > .jp {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_top .people_slider_name, .p_top .guide_heading > .jp {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_top .people_slider_txt {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_top .mv_heading > .jp {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_top .people_slider_name, .p_top .guide_heading > .jp {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_top .mv_heading > .en {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_top .mv_heading > .en {
    font-size: 7.5rem;
  }
}

.p_top .mv > .inner {
  padding: 0.2px;
}
.p_top .mv_cover {
  height: 450px;
  position: relative;
}
.p_top .mv_cover::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("./../images/commons/icons/icon_play.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  translate: -50% -50%;
}
@media only screen and (min-width: 768px) {
  .p_top .mv_cover {
    height: auto;
  }
  .p_top .mv_cover::after {
    width: 120px;
    height: 120px;
  }
}
.p_top .mv_cover img {
  height: 100%;
  object-fit: cover;
}
.p_top .mv_content {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #f7f9fc;
  padding-right: 20px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .p_top .mv_content {
    padding-right: 76px;
    padding-bottom: 82px;
  }
}
.p_top .mv_heading {
  text-align: right;
  padding-right: 20px;
  position: relative;
}
.p_top .mv_heading::before, .p_top .mv_heading::after {
  content: "";
  width: 5px;
  height: 50%;
  position: absolute;
  right: 2px;
}
.p_top .mv_heading::before {
  top: 50%;
  translate: 0 -100%;
  background-color: #0fb4b4;
}
.p_top .mv_heading::after {
  bottom: 50%;
  translate: 0 100%;
  background-color: #2f57ff;
}
@media only screen and (min-width: 768px) {
  .p_top .mv_heading {
    padding-right: 40px;
  }
  .p_top .mv_heading::after, .p_top .mv_heading::before {
    width: 10px;
  }
}
.p_top .mv_heading .en,
.p_top .mv_heading .jp {
  display: block;
  line-height: 1.1;
}
.p_top .mv_heading > .en {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.p_top .mv_heading > .jp {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.p_top .intro > .inner {
  padding: 0.2px;
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .p_top .intro > .inner {
    padding-top: 140px;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .intro > .inner {
    padding-top: 200px;
  }
}
.p_top .intro_wrap {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .p_top .intro_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.p_top .intro_images {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.p_top .intro_images_01 {
  width: 375px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 992px) {
  .p_top .intro_images_01 {
    width: 600px;
    max-width: 38%;
    margin-left: 0;
  }
}
.p_top .intro_images_02 {
  width: 200px;
}
@media only screen and (min-width: 992px) {
  .p_top .intro_images_02 {
    max-width: 15%;
    margin-right: 0;
    padding-bottom: 148px;
    align-self: center;
  }
}
.p_top .intro_images .image_01 {
  width: 410px;
  max-width: 80%;
}
.p_top .intro_images .image_02 {
  width: 238px;
  max-width: 43%;
  position: absolute;
  top: 62.6%;
  left: 57.2%;
  z-index: 1;
}
.p_top .intro_content {
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px 40px 20px;
}
@media only screen and (min-width: 992px) {
  .p_top .intro_content {
    padding-top: 139px;
    max-width: 40%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 1199.98px) {
  .p_top .intro .btn {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .intro .btn + .btn {
    margin-left: 40px;
  }
}
.p_top .intro .btn_group {
  width: 375px;
  max-width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .p_top .intro .btn_group {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .intro .btn_group {
    margin-top: 82px;
    display: flex;
    align-items: center;
  }
}
.p_top .benefit > .inner {
  padding: 0.1px;
}
.p_top .benefit_wrap {
  padding-top: 40px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .p_top .benefit_wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .benefit_wrap {
    padding-top: 200px;
    padding-bottom: 215px;
  }
}
.p_top .benefit_head .p_sub_lead {
  margin-top: 6px;
}
.p_top .benefit_body {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .p_top .benefit_body {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .p_top .benefit_body {
    margin-top: 62px;
  }
}
.p_top .benefit_more {
  width: 100%;
  display: block;
  margin-bottom: 35px;
}
@media only screen and (min-width: 768px) {
  .p_top .benefit_more {
    width: 559px;
    max-width: calc(50% - 20px);
    margin-bottom: 0;
  }
  .p_top .benefit_more:hover img {
    scale: 1.05;
  }
  .p_top .benefit_more:hover .icon {
    margin-left: 15px;
  }
}
.p_top .benefit_more .p {
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
@media only screen and (min-width: 768px) {
  .p_top .benefit_more .p {
    margin-top: 27px;
  }
}
.p_top .benefit_more_image {
  overflow: hidden;
  border-radius: 5px;
}
.p_top .benefit_more_image img {
  transition: 300ms ease-out;
}
.p_top .benefit_more .icon {
  margin-left: 11px;
  margin-top: 5px;
  transition: 150ms ease-out;
}
.p_top .business > .inner {
  padding: 0.1px;
}
.p_top .business_wrap {
  position: relative;
  padding-top: 200px;
}
@media only screen and (min-width: 768px) {
  .p_top .business_wrap {
    padding-top: 29.3%;
  }
}
.p_top .business_cover {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.p_top .business_content {
  width: 1360px;
  max-width: calc(100% - 20px);
  background-color: #fff;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.p_top .business_content::after {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 90%;
  top: 0;
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  .p_top .business_content {
    padding-top: 98px;
    padding-bottom: 89px;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  .p_top .business_intro {
    display: flex;
    margin-top: 13px;
  }
}
.p_top .business_intro .p_sub_lead {
  line-height: 1.3;
}
@media only screen and (min-width: 992px) {
  .p_top .business_intro .p_sub_lead {
    width: 550px;
  }
}
.p_top .business_intro .p_intro {
  padding-top: 4px;
  line-height: 2;
}
@media only screen and (min-width: 992px) {
  .p_top .business_intro .p_intro {
    width: calc(100% - 550px);
    padding-left: 10px;
    letter-spacing: -0.08em;
  }
}
.p_top .business .overflow_auto {
  margin-top: 40px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .p_top .business .overflow_auto {
    margin-top: 63px;
  }
}
.p_top .business_map {
  width: 1160px;
  position: relative;
}
.p_top .business_map_position {
  position: absolute;
  inset: 0;
}
.p_top .business_map .pos {
  padding: 15px 20px 15px 17px;
  line-height: 1.25;
  letter-spacing: -0.08em;
  border-radius: 5px;
  font-weight: 700;
  position: absolute;
  top: 0;
  color: #fff;
  background-color: #3057ff;
}
.p_top .business_map .pos::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  border: 10px solid transparent;
  border-top-color: #3057ff;
  border-bottom: 0;
  bottom: -9px;
}
.p_top .business_map .pos:nth-child(1) {
  top: 17.5%;
  left: 1.3%;
}
.p_top .business_map .pos:nth-child(2) {
  top: 6.5%;
  left: 10.3%;
}
.p_top .business_map .pos:nth-child(3) {
  top: 28.3%;
  left: 9.6%;
}
.p_top .business_map .pos:nth-child(4) {
  top: 0%;
  left: 22.7%;
}
.p_top .business_map .pos:nth-child(5) {
  top: 26.9%;
  left: 29.5%;
}
.p_top .business_map .pos:nth-child(6) {
  top: 44.5%;
  left: 37.2%;
}
.p_top .business_map .pos:nth-child(7) {
  top: 8.5%;
  left: 56.5%;
}
.p_top .business_map .pos:nth-child(8) {
  top: 57.1%;
  left: 74.6%;
}
.p_top .business_map .pos:nth-child(9) {
  top: 38%;
  left: 83.1%;
}
.p_top .business_map .pos:nth-child(10) {
  top: 50%;
  left: 86%;
}
.p_top .business .btn {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767.98px) {
  .p_top .business .btn {
    width: 375px;
  }
}
.p_top .career > .inner {
  padding: 0.1px;
}
.p_top .career_wrap {
  margin-top: 100px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .p_top .career_wrap {
    display: flex;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .career_wrap {
    margin-top: 200px;
    padding-bottom: 200px;
  }
}
.p_top .career_left_side, .p_top .career_right_side {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .p_top .career_left_side {
    width: 500px;
    max-width: 32%;
    margin-left: 0;
  }
}
.p_top .career_left_side img:nth-child(1) {
  width: 410px;
  max-width: 82%;
}
.p_top .career_left_side img:nth-child(2) {
  position: absolute;
  width: 174px;
  max-width: 35%;
  top: 82.3%;
  left: 64.5%;
}
@media only screen and (min-width: 992px) {
  .p_top .career_right_side {
    width: 494px;
    max-width: 31%;
    margin-right: 0;
  }
}
.p_top .career_right_side img:nth-child(1) {
  width: 410px;
  max-width: 83%;
  padding-top: 60px;
  margin-left: auto;
}
.p_top .career_right_side img:nth-child(2) {
  position: absolute;
  width: 238px;
  max-width: 49%;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 992px) {
  .p_top .career_right_side img:nth-child(1) {
    padding-top: 200px;
  }
}
.p_top .career_body {
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px 40px 20px;
}
@media only screen and (min-width: 992px) {
  .p_top .career_body {
    width: 520px;
    max-width: 37%;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .career_body {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.p_top .career_head {
  text-align: center;
}
.p_top .career_head .p_sub_lead {
  letter-spacing: -0.02em;
  margin-top: 16px;
}
@media only screen and (min-width: 1200px) {
  .p_top .career_head .p_sub_lead {
    font-size: 4rem;
  }
}
.p_top .career_main {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .p_top .career_main {
    margin-top: 45px;
  }
}
.p_top .career_main .p {
  letter-spacing: -0.08em;
  line-height: 1.9;
}
.p_top .career_foot {
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .p_top .career_foot {
    margin-top: 57px;
  }
}
.p_top .career_foot .btn {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767.98px) {
  .p_top .career_foot .btn {
    width: 375px;
  }
}
@media only screen and (min-width: 768px) {
  .p_top .career_foot .btn {
    width: 320px;
  }
}
@media only screen and (max-width: 767.98px) {
  .p_top .career_cover {
    height: 280px;
  }
}
.p_top .career_cover img {
  height: 100%;
  object-fit: cover;
}
.p_top .people > .inner {
  padding: 0.1px;
}
.p_top .people_wrap {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.p_top .people_wrap::after {
  content: "";
  width: 100%;
  height: 51.5%;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: #e4ecf0;
}
@media only screen and (min-width: 768px) {
  .p_top .people_wrap {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .people_wrap {
    padding-bottom: 190px;
  }
}
.p_top .people_head {
  margin-top: 7px;
}
@media only screen and (min-width: 768px) {
  .p_top .people_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.p_top .people_head .btn {
  width: 320px;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .p_top .people_head .btn {
    margin-top: -6px;
  }
}
.p_top .people_slider {
  overflow: hidden;
}
.p_top .people_slider .slick-list {
  overflow: visible;
}
.p_top .people_slider_wrap {
  margin-top: 60px;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .p_top .people_slider_wrap {
    width: calc(1200px + (100vw - 1200px) * 0.5);
    margin-top: 100px;
  }
}
.p_top .people_slider_slick {
  width: 375px;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_slick {
    width: 1028px;
  }
}
.p_top .people_slider_txt {
  font-family: "Noto Serif JP", serif;
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_txt {
    margin-top: 29px;
  }
}
.p_top .people_slider_pos {
  letter-spacing: -0.02em;
  line-height: 2;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_pos {
    margin-top: 14px;
  }
}
.p_top .people_slider_name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}
.p_top .people_slider_item {
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_item {
    width: 474px;
    margin-left: 0;
    margin-right: 40px;
  }
  .p_top .people_slider_item:hover img {
    scale: 1.05;
  }
}
.p_top .people_slider_avatar {
  border-radius: 5px;
  overflow: hidden;
}
.p_top .people_slider_avatar img {
  transition: 300ms ease-out;
}
.p_top .people_slider_btn {
  position: relative;
  background-color: #5f6c76;
  overflow: hidden;
  cursor: pointer;
}
.p_top .people_slider_btn::after, .p_top .people_slider_btn::before {
  background-color: #fff;
}
.p_top .people_slider_btn_wrap {
  width: 100%;
  position: absolute;
  top: 40%;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_btn_wrap {
    top: 43%;
  }
}
.p_top .people_slider_btn_wrap .container {
  max-width: 1200px;
  height: 1px;
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.p_top .people_slider_prev, .p_top .people_slider_next {
  width: 60px;
  height: 60px;
  border-radius: 99px;
  border: 1px solid #ccdae2;
  position: relative;
}
.p_top .people_slider_prev .icon, .p_top .people_slider_next .icon {
  width: 15px;
  height: 13px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_prev, .p_top .people_slider_next {
    width: 95px;
    height: 95px;
  }
}
.p_top .people_slider_prev {
  translate: -10px;
}
.p_top .people_slider_prev .icon {
  background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
  rotate: -180deg;
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_prev:hover .icon {
    background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .people_slider_prev {
    translate: -50%;
  }
}
.p_top .people_slider_next {
  translate: 10px;
}
.p_top .people_slider_next .icon {
  background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
}
@media only screen and (min-width: 768px) {
  .p_top .people_slider_next:hover .icon {
    background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
  }
}
.p_top .people_foot .btn {
  width: 375px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.p_top .guide > .inner {
  padding: 40px 0.1px;
}
@media only screen and (min-width: 768px) {
  .p_top .guide > .inner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .p_top .guide > .inner {
    padding-top: 262px;
    padding-bottom: 201px;
  }
}
.p_top .guide_wrap {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.p_top .guide_more {
  height: 320px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.p_top .guide_more::before, .p_top .guide_more::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #000;
  transition: 500ms ease-out;
}
.p_top .guide_more::before {
  opacity: 0.15;
}
.p_top .guide_more::after {
  opacity: 0.1;
  transition-delay: 150ms;
}
.p_top .guide_more img {
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .p_top .guide_more {
    height: auto;
  }
  .p_top .guide_more:hover::after, .p_top .guide_more:hover::before {
    translate: 100% 0;
  }
}
.p_top .guide_content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 1;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .p_top .guide_content {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 42px;
  }
}
.p_top .guide_heading {
  color: #fff;
  width: calc(100% - 80px);
}
@media only screen and (min-width: 768px) {
  .p_top .guide_heading {
    width: calc(100% - 100px);
  }
}
.p_top .guide_heading .en,
.p_top .guide_heading .jp {
  display: block;
  line-height: 1.4;
}
.p_top .guide_heading > .en {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.p_top .guide_heading > .jp {
  font-family: "Noto Serif JP", serif;
  letter-spacing: -0.02em;
}
.p_top .guide_icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  background-color: #fff;
  border-radius: 99px;
  position: relative;
}
.p_top .guide_icon::after {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .p_top .guide_icon {
    width: 95px;
    height: 95px;
    margin-top: 0;
  }
}
.p_top .bc_fixed {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #f5f8f8;
}
.p_top .bc_fixed > img {
  mix-blend-mode: soft-light;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
