@use "sass:math";
@use "../global"as *;

/*!
component > footer
------------------------------
*/
.footer {
    position: relative;
    width: 100%;
    background: #e60012;

    &_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        color: #fff;
        height: 100px;
        font-weight: 500;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &_inner {
        display: flex;
        gap: 36px;
        padding: 4px 0 10px;
        margin-left: -2px;

        @include mq(md) {
            padding: 4px 0 0;
        }
    }

    &_link {
        position: relative;
        font-weight: 400;

        @include mq(md) {
            padding-right: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background: url(../../assets/images/common/icon_link.png) no-repeat;
            background-size: cover;
            right: 2px;
            top: 5px;
        }
    }

    .copy_right {
        padding-right: 50px;
        font-weight: 400;
    }
}