/node_modules

/public/__workbench/

*.map

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.repo_lock
.htpasswd
.htaccess
.deploy_sha
.deploy_manifest.json
.env
.env.*
!.env.example


workbench/.backup/
workbench__backup/
workbench_backup/
workbench copy/
scratch/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets
!.vscode/extension/
.vscode/.temp*
