@use '../../global' as *;
.top01_mv {
    position: relative;
    background: #f8f8f9;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        background: #fff;
        height: 30%;
        width: 100%;
        z-index: 0;
    }
    &_main {
        position: relative;
        z-index: 1;
        width: calc(100% - 30px);
        margin: 0 auto;
        @include mq('md') {
            width: calc(100% - clamped(30, 54, 768, 1600));
            min-height: clamped(470, 702, 768, 1600);
        }
    }
    &_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: 68%;
            @include mq('md') {
                object-position: inherit;
            }
        }
    }
    &_content {
        position: relative;
        z-index: 1;
        padding: 100px 0;
        @include mq('md') {
            padding-top: clamped(95, 202, 768, 1600);
            padding-bottom: 0;
        }
        .container {
            height: 100%;
        }
        &_ttl_small,
        &_ttl {
            font-family: 'Noto Serif JP', serif;

            line-height: 1.5;
            @include mq('md') {
                letter-spacing: 0.1em;
            }
        }
        &_ttl_small {
        }
        &_ttl {
            @include mq('md') {
                line-height: 1.56em;
                margin-top: 13px;
                position: relative;
                left: -2px;
            }
        }
    }
}
