@use '../../global' as *;
.top01_process {
    padding-top: 65px;
    @include mq('md') {
        padding-top: 155px;
    }
    &_btn {
        margin-top: 25px;
        @include mq('md') {
            margin-top: 50px;
        }
    }
    .top01_block {
        &_info {
            @include mq('lg') {
                width: 48.5%;
                padding-top: clamped(0, 115, 1025, 1600);
            }
        }
        &_copy {
            @include mq('lg') {
                margin-top: 29px;
                padding-left: clamped(0, 8, 1025, 1600);
            }
        }
    }
}
