@use '../../global' as *;
.top01_voice {
    padding-top: 70px;
    @include mq('md') {
        padding-top: 137px;
    }
    &_items {
        position: relative;
        margin-top: 30px;
        @include mq('md') {
            margin-top: 40px;
        }
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 51.4%;
            transform: translateY(-50%);
            width: 300vw;
            left: -100vw;
            height: 86.1%;
            background: #f8f8f9 url(../images/top01/bg_pattern_03.png) repeat
                center;
        }
    }
    &_item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        margin-top: 25px;
        overflow: hidden;
        @include mq('md') {
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 39px;
        }
        &:first-child {
            @include mq('md') {
                margin-top: 0;
            }
        }
        &_img {
            width: 100%;
            flex-shrink: 0;
            margin: 30px auto 0;
            @include mq('sm') {
                width: 350px;
            }
            @include mq('md') {
                width: 50%;
                margin: 0;
            }
        }
        &_info {
            width: 100%;
            background: #fdfcfb;
            padding: 30px 25px;
            @include mq('md') {
                padding: clamped(30, 38, 1025, 1600) clamped(20, 73, 1025, 1600)
                    clamped(30, 38, 1025, 1600) clamped(20, 60, 1025, 1600);
                width: 50%;
            }
        }
        &_ttl {
            font-family: 'Noto Serif JP', serif;
            font-size: rem(16);
            font-weight: 600;
            line-height: 1.5;
            color: #3a795a;
            letter-spacing: 0.1em;
            margin-top: 12px;
            @include mq('md') {
                margin-top: 24px;
                font-size: rem(20);
            }
        }
        &_ttl_small {
            @include mq('md') {
            }
            .ttl_small {
                font-family: 'Noto Serif JP', serif;
                font-weight: 600;
                display: inline-block;
                padding: 6px 15px;
                line-height: 1.5;
                border-bottom: solid 1px #707070;
                border-top: solid 1px #707070;
                letter-spacing: 0.1em;
            }
        }
        &_copy {
            margin-top: 8px;
            @include mq('md') {
                margin-top: 11px;
            }
        }
        &02 {
            .top01_voice_item_info {
                @include mq('lg') {
                    padding: clamped(30, 50, 1025, 1600)
                        clamped(20, 73, 1025, 1600) clamped(25, 30, 1600, 1025)
                        clamped(20, 65, 1025, 1600);
                }
            }
        }
        &03 {
            .top01_voice_item_info {
                @include mq('lg') {
                    padding: clamped(30, 50, 1025, 1600)
                        clamped(20, 73, 1025, 1600) clamped(25, 30, 1600, 1025)
                        clamped(20, 65, 1025, 1600);
                }
            }
        }
    }
    &_item_reserved {
        @include mq('md') {
            flex-direction: row-reverse;
        }
    }
}
