@use '../../global' as *;

.top01_news {
    padding-top: 50px;
    @include mq('md') {
        padding-top: 102px;
    }
    &_btn_big {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        @include mq('md') {
        }
        .link {
            font-family: 'Noto Serif JP', serif;
            font-weight: 500;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px #ce3100;
            text-decoration: none;
            text-align: center;
            color: #ce3100;
            padding: 11px 22px;
            letter-spacing: 0.1em;
            @include mq('md') {
                transition: all 0.5s;
                padding: 21px 50px 24px;
                &:hover {
                    background: #ce3100;
                    color: #fff;
                    &::after {
                        background: url(../images/top01/icon_arrow_01_white.svg)
                            no-repeat center/contain;
                    }
                }
            }
            &::after {
                position: absolute;
                content: '';
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                background: url(../images/top01/icon_arrow_01.svg) no-repeat
                    center/contain;
                width: 10px;
                height: 19px;
                @include mq('md') {
                    right: 30px;
                    width: 12px;
                    height: 21px;
                    transition: all 0.5s;
                }
            }
        }
    }
    .c_ttl {
        margin-top: 45px;
        @include mq('md') {
            margin-top: 87px;
        }
    }
    &_item {
        @include mq('md') {
            margin-top: 10px;
        }
        &:first-child {
            margin-top: 0;
        }
        &_link {
            text-decoration: none;
            display: block;
            border-bottom: solid 1px #ccc;
            padding: 9px 0;
            @include mq('md') {
                padding: 9px 5px;
                display: flex;
                align-items: flex-start;
                transition: all 0.5s;
                &:hover {
                    background: #3a795a;
                    .top01_news_item_ttl,
                    .top01_news_item_date {
                        color: #fff;
                    }
                }
            }
        }
        &_date,
        &_ttl {
            letter-spacing: 0.1em;
        }
        &_date {
            flex-shrink: 0;
            line-height: 1.3;
            display: block;
            font-size: rem(15);
            @include mq('md') {
                display: inline-block;
                font-size: rem(17);
                transition: all 0.5s;
                margin: 0 50px 0 0;
            }
        }
        &_ttl {
            line-height: 1.3;
            display: block;
            font-weight: 300;
            margin-top: 5px;
            @include mq('md') {
                display: inline-block;
                margin-top: 0;
                transition: all 0.5s;
            }
        }
    }
    &_list {
        margin-top: 13px;
        @include mq('md') {
            margin-top: 26px;
        }
    }
    &_btn {
        margin-top: 27px;
        @include mq('md') {
            margin-top: 58px;
        }
    }
}
