/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
/* ================================
UTILITIES
================================ */
.c-txt10 {
  font-size: 0.625rem;
}

.c-txt11 {
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  .c-txt11 {
    font-size: clamp(0.4813rem, 0.6992vw + 0.1457rem, 0.6875rem);
  }
}

.c-txt12 {
  font-size: 0.625rem;
}
@media screen and (min-width: 768px) {
  .c-txt12 {
    font-size: clamp(0.525rem, 0.7627vw + 0.1589rem, 0.75rem);
  }
}

.c-txt13 {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-txt13 {
    font-size: clamp(0.5688rem, 0.8263vw + 0.1721rem, 0.8125rem);
  }
}

.c-txt14 {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-txt14 {
    font-size: clamp(0.6125rem, 0.8898vw + 0.1854rem, 0.875rem);
  }
}

.c-txt15 {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .c-txt15 {
    font-size: clamp(0.6563rem, 0.9534vw + 0.1986rem, 0.9375rem);
  }
}

.c-txt16, body {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-txt16, body {
    font-size: clamp(0.7rem, 1.0169vw + 0.2119rem, 1rem);
  }
}

.c-ttl17, .c-txt17 {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .c-ttl17, .c-txt17 {
    font-size: clamp(0.7437rem, 1.0805vw + 0.2251rem, 1.0625rem);
  }
}

.c-ttl18, .c-txt18 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-ttl18, .c-txt18 {
    font-size: clamp(0.7875rem, 1.1441vw + 0.2384rem, 1.125rem);
  }
}

.c-txt19 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-txt19 {
    font-size: clamp(0.8313rem, 1.2076vw + 0.2516rem, 1.1875rem);
  }
}

.c-ttl20, .c-txt20 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-ttl20, .c-txt20 {
    font-size: clamp(0.875rem, 1.2712vw + 0.2648rem, 1.25rem);
  }
}

.c-txt21 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .c-txt21 {
    font-size: clamp(0.9188rem, 1.3347vw + 0.2781rem, 1.3125rem);
  }
}

.c-ttl22, .c-txt22 {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .c-ttl22, .c-txt22 {
    font-size: clamp(0.9625rem, 1.3983vw + 0.2913rem, 1.375rem);
  }
}

.c-txt23 {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .c-txt23 {
    font-size: clamp(1.0062rem, 1.4619vw + 0.3046rem, 1.4375rem);
  }
}

.c-ttl24, .c-txt24 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-ttl24, .c-txt24 {
    font-size: clamp(1.05rem, 1.5254vw + 0.3178rem, 1.5rem);
  }
}

.c-txt25 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-txt25 {
    font-size: clamp(1.0938rem, 1.589vw + 0.331rem, 1.5625rem);
  }
}

.c-ttl26, .c-txt26 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-ttl26, .c-txt26 {
    font-size: clamp(1.1375rem, 1.6525vw + 0.3443rem, 1.625rem);
  }
}

.c-txt27 {
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .c-txt27 {
    font-size: clamp(1.1813rem, 1.7161vw + 0.3575rem, 1.6875rem);
  }
}

.c-ttl28, .c-txt28 {
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .c-ttl28, .c-txt28 {
    font-size: clamp(1.225rem, 1.7797vw + 0.3708rem, 1.75rem);
  }
}

.c-txt29 {
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .c-txt29 {
    font-size: clamp(1.2687rem, 1.8432vw + 0.384rem, 1.8125rem);
  }
}

.c-ttl30, .c-txt30 {
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .c-ttl30, .c-txt30 {
    font-size: clamp(1.3125rem, 1.9068vw + 0.3972rem, 1.875rem);
  }
}

.c-ttl32, .c-txt32 {
  font-size: 1.375rem;
}
@media screen and (min-width: 768px) {
  .c-ttl32, .c-txt32 {
    font-size: clamp(1.4rem, 2.0339vw + 0.4237rem, 2rem);
  }
}

.c-txt34 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-txt34 {
    font-size: clamp(1.4875rem, 2.161vw + 0.4502rem, 2.125rem);
  }
}

.c-ttl40 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-ttl40 {
    font-size: clamp(1.75rem, 2.5424vw + 0.5297rem, 2.5rem);
  }
}

.u-align--left {
  text-align: left !important;
}
.u-align--right {
  text-align: right !important;
}
.u-align--center {
  text-align: center !important;
}

.u-fw--100 {
  font-weight: 100 !important;
}
.u-fw--200 {
  font-weight: 200 !important;
}
.u-fw--300 {
  font-weight: 300 !important;
}
.u-fw--400 {
  font-weight: 400 !important;
}
.u-fw--500 {
  font-weight: 500 !important;
}
.u-fw--600 {
  font-weight: 600 !important;
}
.u-fw--700 {
  font-weight: 700 !important;
}
.u-fw--800 {
  font-weight: 800 !important;
}
.u-fw--900 {
  font-weight: 900 !important;
}

.u-family--base {
  font-family: "Noto Sans JP", sans-serif !important;
}
.u-family--barlow {
  font-family: "Barlow", sans-serif !important;
}
.u-family--roboto {
  font-family: "Roboto", sans-serif !important;
}

/*!
page > common > common
------------------------------
*/
/*!
foundation > reset
------------------------------
*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table; /* 1 */
  color: inherit; /* 2 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*!
foundation > base
------------------------------
*/
:root {
  --base: #3E3E3E;
  --black: #000;
  --white: #fff;
}

body {
  line-height: 2;
  font-weight: 400;
  color: var(--base);
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.01em;
}

body.overflow_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.body-wrapper {
  position: relative;
  display: block;
  overflow: clip;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  transition: 0.5s;
}
a:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  a:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.pc {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .pc {
    display: block !important;
  }
}

.sp {
  display: block !important;
}
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

/*!
component > Texts
------------------------------
*/
/*!
component > title
------------------------------
*/
.c-ttl17 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl17--500 {
  font-weight: 500;
}
.c-ttl17--400 {
  font-weight: 400;
}
.c-ttl17--green {
  color: var(--green);
}
.c-ttl17--white {
  color: var(--white);
}
.c-ttl17--center {
  text-align: center;
}
.c-ttl17--noresize {
  font-size: 1.125rem;
}

.c-ttl18 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl18--500 {
  font-weight: 500;
}
.c-ttl18--400 {
  font-weight: 400;
}
.c-ttl18--green {
  color: var(--green);
}
.c-ttl18--white {
  color: var(--white);
}
.c-ttl18--center {
  text-align: center;
}
.c-ttl18--noresize {
  font-size: 1.125rem;
}

.c-ttl20 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl20--500 {
  font-weight: 500;
}
.c-ttl20--400 {
  font-weight: 400;
}
.c-ttl20--green {
  color: var(--green);
}
.c-ttl20--white {
  color: var(--white);
}
.c-ttl20--center {
  text-align: center;
}
.c-ttl20--noresize {
  font-size: 1.25rem;
}

.c-ttl22 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl22--500 {
  font-weight: 500;
}
.c-ttl22--400 {
  font-weight: 400;
}
.c-ttl22--green {
  color: var(--green);
}
.c-ttl22--white {
  color: var(--white);
}
.c-ttl22--center {
  text-align: center;
}
.c-ttl22--noresize {
  font-size: 1.375rem;
}

.c-ttl24 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl24--500 {
  font-weight: 500;
}
.c-ttl24--400 {
  font-weight: 400;
}
.c-ttl24--green {
  color: var(--green);
}
.c-ttl24--white {
  color: var(--white);
}
.c-ttl24--center {
  text-align: center;
}
.c-ttl24--noresize {
  font-size: 1.5rem;
}

.c-ttl26 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl26--500 {
  font-weight: 500;
}
.c-ttl26--400 {
  font-weight: 400;
}
.c-ttl26--green {
  color: var(--green);
}
.c-ttl26--white {
  color: var(--white);
}
.c-ttl26--center {
  text-align: center;
}
.c-ttl26--noresize {
  font-size: 1.625rem;
}

.c-ttl28 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl28--500 {
  font-weight: 500;
}
.c-ttl28--400 {
  font-weight: 400;
}
.c-ttl28--green {
  color: var(--green);
}
.c-ttl28--white {
  color: var(--white);
}
.c-ttl28--center {
  text-align: center;
}
.c-ttl28--noresize {
  font-size: 1.75rem;
}

.c-ttl30 {
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .c-ttl30 {
    line-height: 1.86;
  }
}
.c-ttl30--500 {
  font-weight: 500;
}
.c-ttl30--400 {
  font-weight: 400;
}
.c-ttl30--green {
  color: var(--green);
}
.c-ttl30--white {
  color: var(--white);
}
.c-ttl30--center {
  text-align: center;
}
.c-ttl30--noresize {
  font-size: 1.875rem;
}

.c-ttl32 {
  font-weight: 700;
  line-height: 1.65;
}
@media screen and (min-width: 768px) {
  .c-ttl32 {
    line-height: 1.86;
  }
}
.c-ttl32--500 {
  font-weight: 500;
}
.c-ttl32--400 {
  font-weight: 400;
}
.c-ttl32--green {
  color: var(--green);
}
.c-ttl32--white {
  color: var(--white);
}
.c-ttl32--center {
  text-align: center;
}
.c-ttl32--noresize {
  font-size: 2rem;
}

.c-ttl40 {
  font-weight: 700;
  line-height: 1.6;
}
.c-ttl40--500 {
  font-weight: 500;
}
.c-ttl40--400 {
  font-weight: 400;
}
.c-ttl40--green {
  color: var(--green);
}
.c-ttl40--white {
  color: var(--white);
}
.c-ttl40--center {
  text-align: center;
}
.c-ttl40--noresize {
  font-size: 2.5rem;
}

.c-ttl48 {
  font-size: clamp(1.05rem, 1.5254vw + 0.3178rem, 1.5rem);
  font-weight: 700;
  line-height: 1.7208333333;
}
@media screen and (min-width: 768px) {
  .c-ttl48 {
    font-size: clamp(1.5rem, 5.0847vw + -0.9407rem, 3rem);
  }
}
.c-ttl48--500 {
  font-weight: 500;
}
.c-ttl48--400 {
  font-weight: 400;
}
.c-ttl48--green {
  color: var(--green);
}
.c-ttl48--white {
  color: var(--white);
}
.c-ttl48--center {
  text-align: center;
}
.c-ttl48--noresize {
  font-size: 3rem;
}

/*!
component > btn
------------------------------
*/
.c-totop {
  position: fixed;
  right: 20px;
  bottom: 60px;
  display: block;
  font-size: 0;
  width: 45px;
  height: 45px;
  transform: translateY(150px);
  transition: 0.5s;
  font-size: 0;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1;
  z-index: 9;
  background: var(--green);
  border-radius: 40px;
  border: 2px solid var(--white);
}
@media screen and (min-width: 768px) {
  .c-totop {
    right: 60px;
    bottom: 69px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 3px solid var(--white);
  }
}
.c-totop::before {
  position: absolute;
  top: 50%;
  left: 11px;
  content: "";
  width: 12px;
  height: 3px;
  background: var(--white);
  transform: translateY(-50%) rotate(-45deg);
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .c-totop::before {
    left: 15px;
    width: 15px;
  }
}
.c-totop::after {
  position: absolute;
  top: 50%;
  right: 11px;
  content: "";
  width: 12px;
  height: 3px;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;
  background: var(--white);
}
@media screen and (min-width: 768px) {
  .c-totop::after {
    right: 15px;
    width: 15px;
  }
}
@media screen and (min-width: 768px) {
  .c-totop:hover {
    transform: translateY(-20px) !important;
  }
}

/*!
component > Links
------------------------------
*/
/*!
component > List
------------------------------
*/
/*!
component > Box
------------------------------
*/
/*!
component > FORM
------------------------------
*/
/*!
component > Box
------------------------------
*/
/*!
component > TBL
------------------------------
*/
/*!
component > MV
------------------------------
*/
/*!
component > Gnavi
------------------------------
*/
/*!
component > header
------------------------------
*/
.c-toggle {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: var(--green);
  border-radius: 0 0 0 5px;
  z-index: 11;
}
@media screen and (min-width: 768px) {
  .c-toggle {
    display: none;
  }
}
.c-toggle::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 100px;
  background: var(--white);
  transition: 0.5s;
}
.c-toggle::after {
  position: absolute;
  bottom: 20px;
  left: 20px;
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 100px;
  background: var(--white);
  transition: 0.5s;
}
.c-toggle__line {
  position: absolute;
  top: 29px;
  left: 20px;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  background: var(--white);
  transition: 0.5s;
}
.c-toggle.active::before {
  width: 24px;
  transform: translate(-2px, 9px) rotate(45deg);
}
.c-toggle.active::after {
  width: 24px;
  transform: translate(-2px, -9px) rotate(-45deg);
}
.c-toggle.active .c-toggle__line {
  opacity: 0;
}

/*!
component > footer
------------------------------
*/
/*!
component > Other
------------------------------

- loadpage
------------------------------
*/
.is-loading .c-loading {
  opacity: 1;
  pointer-events: all;
}

.c-loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--base);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
.c-loading__content {
  position: relative;
  transform: translate(-15px, -15px);
}
.c-loading__item {
  background-color: var(--white);
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
}
.c-loading__item:first-child {
  animation: ball-zig 0.7s 0s infinite linear;
}
.c-loading__item:last-child {
  animation: ball-zag 0.7s 0s infinite linear;
}
@keyframes ball-zig {
  33% {
    transform: translate(-15px, -30px);
  }
  66% {
    transform: translate(15px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes ball-zag {
  33% {
    transform: translate(15px, 30px);
  }
  66% {
    transform: translate(-15px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/*!
- Cookiewrap
------------------------------
*/
#cookiewrap {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--white);
  z-index: 999;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: none;
}
@media screen and (min-width: 768px) {
  #cookiewrap {
    padding: 40px;
  }
}
#cookiewrap .inner {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
#cookiewrap .inner .close {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1em;
}
@media screen and (min-width: 768px) {
  #cookiewrap .inner .close {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
#cookiewrap .inner .close a {
  display: block;
  padding: 8px;
  border: 1px solid var(--base);
}
#cookiewrap .inner .txt {
  font-size: 0.875rem;
  line-height: 1.8;
  padding-bottom: 45px;
}
@media screen and (min-width: 768px) {
  #cookiewrap .inner .txt {
    padding-bottom: 0;
    padding-right: 110px;
  }
}

/*!
- Recruit
------------------------------
*/
.p-404__inner {
  padding: 50px 0 100px;
}
@media screen and (min-width: 768px) {
  .p-404__inner {
    padding: clamp(6.25rem, 7.8125vw + 2.5rem, 8.75rem) 0 clamp(8.125rem, 8.3984vw + 4.0938rem, 10.8125rem) 0;
    margin-bottom: -22px;
  }
}
.p-404__btn {
  padding: 40px 0 0 0;
}
@media screen and (min-width: 768px) {
  .p-404__btn {
    padding: 50px 0 50px 0;
  }
}

.p-thanks__inner {
  padding: 50px 0 100px;
}
@media screen and (min-width: 768px) {
  .p-thanks__inner {
    text-align: center;
    padding: clamp(6.25rem, 7.8125vw + 2.5rem, 8.75rem) 0 clamp(8.125rem, 8.3984vw + 4.0938rem, 10.8125rem) 0;
    margin-bottom: -22px;
  }
}
.p-thanks__inner .c-ttl30 {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .p-thanks__inner .c-ttl30 {
    margin-bottom: 40px;
  }
}
.p-thanks__btn {
  padding: 40px 0 0 0;
}
@media screen and (min-width: 768px) {
  .p-thanks__btn {
    padding: 50px 0 50px 0;
  }
}

/*!
component > Popup
------------------------------
*/
:where(.inview) {
  visibility: hidden;
}

:where(.inview.inview-opacity) {
  opacity: 0;
}

.fadeIn,
.fadeUp,
.fadeRight,
.fadeRight,
.bounceIn {
  animation-duration: 1.5s;
  animation-timing-function: ease;
}

.fadeUp {
  animation-name: ani_fadeup;
  animation-fill-mode: forwards;
}

.fadeRight {
  animation-name: ani_toright;
  animation-fill-mode: forwards;
}

.fadeLeft {
  animation-name: ani_toleft;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: ani_fadein;
  animation-fill-mode: forwards;
}

.bounceIn {
  animation-name: bounce_in;
  animation-fill-mode: forwards;
}

@keyframes ani_fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ani_toright {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes ani_toleft {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ani_fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce_in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/*!
layout > container
------------------------------
*/
.l-container {
  width: unset;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .l-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: auto;
  }
  .l-container {
    max-width: 1240px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=common.css.map */