@use "sass:math";
@use "../global" as *;

/*!
component > btn
------------------------------
*/
.c_btn01{
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.6;
    background: url(../images/common/bg_btn.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: vw(4,375) vw(13,375);
    color: #fff;
    border: 1px solid #FFFFFF;
    font-size: vw(14,375);
    @include mq(md) {
        letter-spacing: 0.05em;
        padding: clamped(16,33, 768, 1920) clamped(44,88, 768, 1920);
        font-size: clamped(15,22, 768, 1920);
    }
}

.c_btn02{
    background-color: #FFFFFF;
    color: #00389C;
    font-size: vw(10,320);
    font-weight: 800;
    letter-spacing: 0.05em;
    line-height: math.div(10,6);
    padding: vw(3,425) vw(10,425) ;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    @include mq(md) {
        width:  clamped(130,241, 768, 1920);
        padding: clamped(5,10, 768, 1920) clamped(7,15, 768, 1920);
        font-size: clamped(16,22, 768, 1920);
    }
    
    &:hover{
        opacity: 1;
        @include mq(md) {
            opacity: 0.45;
        }
    }
}

.c_totop {
    position: fixed;
    right: 20px;
    bottom: 60px;
    display: block;
    font-size: 0;
    width: 45px;
    height: 45px;
    transform: translateY(150px);
    transition: 0.5s;
    font-size: 0;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1;
    z-index: 8;
    background: url(../images/common/bg_btn.jpg) no-repeat center;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid #fff;

    @include mq(md) {
        right: 60px;
        bottom: 69px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        border: 2px solid #fff;
    }
    &::before {
        position: absolute;
        top: calc(50% + 2px);
        left: 50%;
        content: "";
        width: 12px;
        height: 12px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: translate(-50%,-50%) rotate(45deg);
        pointer-events: none;
        @include mq(md) {
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
            width: 15px;
            height: 15px;
            top: calc(50% + 3px);
        }
    }    

    &:hover {
        transform: translateY(-20px) !important;
    }
}
