@use "sass:math";
@use "../global"as *;

/*!
component > Gnavi
------------------------------
*/

.c_gnavi{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100vh;
    display: none;
    background: url(../images/common/bg_gnavi.svg) no-repeat center;
    background-size: cover;
    @include mq(md) {
        background: none;
        position: relative;
        width: auto;
        height: auto;
        display: block;        
    }    
    &__inner{
        width: 100%;
        margin: 0 auto;
        padding: vw(105,375) vw(83,375);
        overflow-y: auto;
        height: 100%;
        transition: padding 0.5s;
        @include mq(md) {
            padding: 0;
            margin: 0;
            max-width: unset;
            padding-top: clamped(0,13, 768, 1920);
            display: flex;
            align-items: center;
        }
        
    }
    
    &__text{
        &__en{
            font-size: vw(18,375);
            font-family: $font-family-en;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 1;
            display: block;
            @include mq(md) {
                font-weight: 700;
                display: inline-block;
                font-size: clamped(11,16, 768, 1920);
            }
        }
        &__jp{
            display: block;
            color: #00C2FF;
            font-size: vw(10,375);
            letter-spacing: 0.05em;
            line-height: 1.6;
            font-weight: 500;
            @include mq(md) {
                display: none;
            }
        }
    }
    &__link{
        display: block;
        @include mq(md) {
            display: inline-block;
        }
    }
    &__link01{
        position: relative;
        display: inline-block;
        padding-right: vw(25,375);
        font-size: vw(14,375);
        font-weight: 700;
        padding-bottom: vw(3,375);
        @include mq(md) {
            display: none;
        }
        .icon{
            display: inline-block;
            width: vw(18,375);
            position: absolute;
            right: 0;
            top: vw(-5,375);
        }
        &::after{
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #fff;
        }
    }
    &__list{
        @include mq(md) {
            display: flex;
            position: relative;
            top: 0;
        }
        &__item{
            margin-bottom: vw(18,375);
            @include mq(md) {
                margin-bottom: 0;
                margin-right: clamped(10,80, 768, 1920);
            }
            &.end{
                @include mq(md) {
                    margin-right: clamped(15,52, 768, 1920);
                }
            }
        }
    }
}
