@use "sass:math";
@use "../global" as *;

/*!
component > header
------------------------------
*/

.c_header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    color: #fff;
    padding: vw(14, 375) vw(55, 375) vw(14, 375) vw(8, 375);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.5s;
    overflow: hidden;

    @include mq(md) {
        padding: clamped(10, 22, 768, 1920) clamped(120, 223, 768, 1920) clamped(10, 22, 768, 1920) clamped(15, 20, 768, 1920);
    }

    &__logo {
        width: vw(170, 375);
        display: block;
        flex-shrink: 0;

        @include mq(md) {
            position: relative;
            top: 0;
            width: clamped(200, 443, 769, 1920);
        }

        img {
            display: block;
        }
    }

    .btn {
        font-size: vw(12, 375);
        letter-spacing: 0.05em;
        font-weight: 700;
        line-height: 1;
        padding: vw(6, 375) vw(14, 375);
        border: 1px solid #fff;
        text-align: center;
        position: absolute;
        right: vw(55, 375);
        top: vw(10, 375);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: background 0.5s, color 0.5s, right 0.5s;

        @include mq(md) {
            right: clamped(20, 52, 768, 1920);
            top: clamped(7, 23, 768, 1920);
            letter-spacing: 0.1em;
            border: clamped(1, 3, 768, 1920) solid #fff;
            padding: clamped(8, 16, 768, 1920) clamped(10, 36, 768, 1920);
            font-size: clamped(12, 17, 768, 1920);
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(100%);
            transition: 0.5s;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: url(../images/common/bg_btn.jpg) no-repeat center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: none;
        }

        &__content {
            position: relative;
            z-index: 3;
        }

        &:hover {
            opacity: 1;

            @include mq(md) {
                color: #00389C;
            }

            &::before {
                @include mq(md) {
                    transform: translateY(0);
                }
            }
        }
    }

    &__btn {
        @include mq(md) {
            display: block;
        }
    }

    .c_gnavi {
        &__btn {
            @include mq(md) {
                display: none;
            }

            .btn {
                position: relative;
                right: 0;
                padding: vw(13, 375) vw(15, 375);
                font-weight: 600;
            }
        }
    }

    &.active {

        background-color: #fff;

        @include mq(md) {
            color: #284DA1;
        }

        .c_header__btn {
            .btn {
                color: #fff;
                border: none;
                top: 50%;
                transform: translateY(-50%);
                right: vw(55, 375);
                padding: vw(16, 375) vw(20, 375);

                @include mq(md) {
                    right: 0;
                    width: clamped(120, 223, 768, 1920);
                    height: clamped(44, 87, 768, 1920);
                    padding: 2px clamped(10, 36, 768, 1920);
                }

                &::after {
                    display: block;
                    transition: 0.5s;

                    @include mq(md) {}
                }

                &:hover {
                    @include mq(md) {
                        color: #00389C;
                    }

                    &::before {
                        @include mq(md) {
                            transform: translateY(0);
                        }
                    }

                    &::after {
                        @include mq(md) {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .c_gnavi {
            &__inner {
                @include mq(md) {
                    padding-top: 0;
                }

                .btn {
                    position: relative;
                    background: unset;

                }
            }
        }

        .c_toggle {
            &::after {
                background: #0E277A;
            }

            &::before {
                background: #0E277A;
            }

            &__line {
                background: #0E277A;
            }

            &.active {
                &::before {
                    background: #fff;
                }

                &::after {
                    background: #fff;
                }
            }

        }

    }
}

.c_toggle {
    position: fixed;
    display: block;
    right: vw(17, 375);
    top: vw(12, 375);
    width: vw(21, 375);
    ;
    height: vw(22, 375);
    ;
    cursor: pointer;
    z-index: 11;

    @include mq(md) {
        display: none;
    }

    &::after {
        position: absolute;
        top: vw(17, 375);
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.5s;
    }

    &::before {
        position: absolute;
        top: vw(3, 375);
        left: 0;
        content: "";
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.5s;
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(-50%);
        transition: 0.5s;
    }

    &.active {
        &::before {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .c_toggle__line {
            opacity: 0;
        }
    }
}