/** -- ▷ header ◁ -- */
.header {
    width: 100%;
    position: fixed;
    z-index: 250697;
    top: 0;
    left: 0;

    > .inner {
        display: flex;
        align-items: flex-end;

        padding-right: 20px;
        @include media_min_query() {
            padding-right: 30px;
        }
    }

    &_logo {
        width: 200px;
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #fff;
        @include media_min_query() {
            width: 349px;
            height: 100px;
        }
        .nav_link {
            width: 294px;
            max-width: calc(100% - 20px);
        }
    }

    &_info {
        margin-left: auto;
        display: none;
        @include media_min_query("xl") {
            display: block;
        }
        .btn {
            margin-right: 20px;
            &_group {
                @include media_min_query("xl") {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
        }
    }
}
