.top01_mv {
  position: relative;
  background: #f8f8f9;
}
.top01_mv::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #fff;
  height: 30%;
  width: 100%;
  z-index: 0;
}
.top01_mv_main {
  position: relative;
  z-index: 1;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.top01_mv_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.top01_mv_img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 68%;
  object-position: 68%;
}
.top01_mv_content {
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
.top01_mv_content .container {
  height: 100%;
}
.top01_mv_content_ttl_small, .top01_mv_content_ttl {
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
}

.top01_news {
  padding-top: 50px;
}
.top01_news_btn_big {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.top01_news_btn_big .link {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ce3100;
  text-decoration: none;
  text-align: center;
  color: #ce3100;
  padding: 11px 22px;
  letter-spacing: 0.1em;
}
.top01_news_btn_big .link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: url(../images/top01/icon_arrow_01.svg) no-repeat center/contain;
  width: 10px;
  height: 19px;
}
.top01_news .c_ttl {
  margin-top: 45px;
}
.top01_news_item:first-child {
  margin-top: 0;
}
.top01_news_item_link {
  text-decoration: none;
  display: block;
  border-bottom: solid 1px #ccc;
  padding: 9px 0;
}
.top01_news_item_date, .top01_news_item_ttl {
  letter-spacing: 0.1em;
}
.top01_news_item_date {
  flex-shrink: 0;
  line-height: 1.3;
  display: block;
  font-size: 0.9375rem;
}
.top01_news_item_ttl {
  line-height: 1.3;
  display: block;
  font-weight: 300;
  margin-top: 5px;
}
.top01_news_list {
  margin-top: 13px;
}
.top01_news_btn {
  margin-top: 27px;
}

.top01_features {
  padding-top: 75px;
  padding-bottom: 77px;
}

.top01_support {
  position: relative;
  padding-top: 45px;
  padding-bottom: 50px;
}
.top01_support::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8f8f9 url(../images/top01/bg_pattern_01.png) repeat center;
}
.top01_support .container {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.top01_support_items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.top01_support_item {
  width: 100%;
  height: 50vw;
}
.top01_support_item_link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top01_support_item_link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
  z-index: 2;
}
.top01_support_item_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.top01_support_item_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.top01_support_item_ttl {
  z-index: 2;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.7;
}

.top01_plan {
  padding-top: 69px;
}
.top01_plan_copy {
  margin-top: 15px;
  letter-spacing: 0.1em;
}
.top01_plan_items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
}
.top01_plan_item {
  margin-bottom: 25px;
  width: 100%;
}
.top01_plan_item_link {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  height: 100%;
  width: 100%;
}
.top01_plan_item_img {
  position: relative;
  display: block;
  overflow: hidden;
}
.top01_plan_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.top01_plan_item_info {
  padding: 10px;
  background: #f5f5f5;
}
.top01_plan_item_ttl {
  text-align: center;
}
.top01_plan_item_ttl .ttl_big,
.top01_plan_item_ttl .ttl_small {
  display: block;
  line-height: 1.2em;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.top01_plan_item_ttl .ttl_small {
  margin-top: 5px;
}
.top01_plan_item_price {
  text-align: center;
  margin-top: 6px;
}
.top01_plan_item_price .label {
  display: inline-block;
  margin: 0 10px 5px 0;
}
.top01_plan_item_price .label_txt {
  background: #dcdcdc;
  display: inline-block;
  padding: 6px 10px 5px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}
.top01_plan_item_price .price {
  font-family: "Noto Serif JP", serif;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  margin: 0 0 5px 0;
}
.top01_plan_item_price .price::before {
  position: absolute;
  content: "";
  top: 56%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background: #333;
}
.top01_plan_item_arrow {
  position: relative;
  width: 17px;
  height: 8px;
  margin: 5px auto;
}
.top01_plan_item_arrow .arrow {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-top: solid 8.5px #707070;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
.top01_plan_item_price_number {
  text-align: center;
}
.top01_plan_item_price_number .txt,
.top01_plan_item_price_number .price {
  display: block;
  line-height: 1.2em;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  color: #d82828;
  letter-spacing: 0.1em;
}
.top01_plan_item_price_number .txt {
  font-size: 1rem;
}
.top01_plan_btn {
  margin-top: 30px;
}

.top01_homemap {
  padding-top: 68px;
}
.top01_homemap_img {
  margin-top: 30px;
  height: 350px;
}
.top01_homemap_img img,
.top01_homemap_img iframe {
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.top01_homemap_main {
  position: relative;
  padding: 20px 0;
}
.top01_homemap_main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 300vw;
  height: 100%;
  left: -200vw;
  background: #f8f8f9 url(../images/top01/bg_pattern_02.png) repeat center;
}
.top01_homemap_items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}
.top01_homemap_item {
  width: 100%;
  margin-bottom: 20px;
}
.top01_homemap_item:last-child {
  margin-bottom: 0;
}
.top01_homemap_item_txt {
  align-items: flex-start;
  display: flex;
}
.top01_homemap_item .txt {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.top01_homemap_item .icon {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  width: 18px;
  flex-shrink: 0;
}

.top01_process {
  padding-top: 65px;
}
.top01_process_btn {
  margin-top: 25px;
}

.top01_voice {
  padding-top: 70px;
}
.top01_voice_items {
  position: relative;
  margin-top: 30px;
}
.top01_voice_items::before {
  position: absolute;
  content: "";
  left: 0;
  top: 51.4%;
  transform: translateY(-50%);
  width: 300vw;
  left: -100vw;
  height: 86.1%;
  background: #f8f8f9 url(../images/top01/bg_pattern_03.png) repeat center;
}
.top01_voice_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: 25px;
  overflow: hidden;
}
.top01_voice_item_img {
  width: 100%;
  flex-shrink: 0;
  margin: 30px auto 0;
}
.top01_voice_item_info {
  width: 100%;
  background: #fdfcfb;
  padding: 30px 25px;
}
.top01_voice_item_ttl {
  font-family: "Noto Serif JP", serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3a795a;
  letter-spacing: 0.1em;
  margin-top: 12px;
}
.top01_voice_item_ttl_small .ttl_small {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  display: inline-block;
  padding: 6px 15px;
  line-height: 1.5;
  border-bottom: solid 1px #707070;
  border-top: solid 1px #707070;
  letter-spacing: 0.1em;
}
.top01_voice_item_copy {
  margin-top: 8px;
}

.top01_block_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top01_block_img {
  width: 100%;
  flex-shrink: 0;
  margin: 30px auto 0;
}
.top01_block_copy {
  margin-top: 20px;
}
.top01_block_info {
  width: 100%;
}

.top01_btn_section {
  padding-top: 75px;
}

.top01_bnr_section {
  padding: 100px 0;
}
.top01_bnr_box_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}
.top01_bnr_box_link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: url(../images/common/icon_arrow_03.svg) no-repeat center/contain;
  width: 14px;
  height: 30px;
}
.top01_bnr_box_img {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.top01_bnr_box_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.top01_bnr_box_txt {
  position: relative;
  display: block;
  color: #fff;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  z-index: 2;
  text-align: center;
  line-height: 1.5em;
}
@media screen and (min-width: 415px) {
  .top01_plan_items {
    justify-content: space-between;
    margin-top: 52px;
  }
  .top01_plan_item {
    width: calc(50% - 15px);
  }
  .top01_voice_item_img {
    width: 350px;
  }
  .top01_block_img {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .top01_mv_main {
    width: calc(100% - clamp(1.875rem, 2.8846153846vw + 0.4903846154rem, 3.375rem));
    min-height: clamp(29.375rem, 27.8846153846vw + 15.9903846154rem, 43.875rem);
  }
  .top01_mv_img img {
    -o-object-position: inherit;
    object-position: inherit;
  }
  .top01_mv_content {
    padding-top: clamp(5.9375rem, 12.8605769231vw + -0.2355769231rem, 12.625rem);
    padding-bottom: 0;
  }
  .top01_mv_content_ttl_small, .top01_mv_content_ttl {
    letter-spacing: 0.1em;
  }
  .top01_mv_content_ttl {
    line-height: 1.56em;
    margin-top: 13px;
    position: relative;
    left: -2px;
  }
  .top01_news {
    padding-top: 102px;
  }
  .top01_news_btn_big .link {
    transition: all 0.5s;
    padding: 21px 50px 24px;
  }
  .top01_news_btn_big .link:hover {
    background: #ce3100;
    color: #fff;
  }
  .top01_news_btn_big .link:hover::after {
    background: url(../images/top01/icon_arrow_01_white.svg) no-repeat center/contain;
  }
  .top01_news_btn_big .link::after {
    right: 30px;
    width: 12px;
    height: 21px;
    transition: all 0.5s;
  }
  .top01_news .c_ttl {
    margin-top: 87px;
  }
  .top01_news_item {
    margin-top: 10px;
  }
  .top01_news_item_link {
    padding: 9px 5px;
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
  }
  .top01_news_item_link:hover {
    background: #3a795a;
  }
  .top01_news_item_link:hover .top01_news_item_ttl,
  .top01_news_item_link:hover .top01_news_item_date {
    color: #fff;
  }
  .top01_news_item_date {
    display: inline-block;
    font-size: 1.0625rem;
    transition: all 0.5s;
    margin: 0 50px 0 0;
  }
  .top01_news_item_ttl {
    display: inline-block;
    margin-top: 0;
    transition: all 0.5s;
  }
  .top01_news_list {
    margin-top: 26px;
  }
  .top01_news_btn {
    margin-top: 58px;
  }
  .top01_features {
    padding-top: 151px;
    padding-bottom: 153px;
  }
  .top01_support {
    padding-top: 89px;
    padding-bottom: 99px;
  }
  .top01_support .container {
    padding: 0 clamp(1.5625rem, 3.0048076923vw + 0.1201923077rem, 3.125rem);
  }
  .top01_support_items {
    margin-top: 40px;
  }
  .top01_support_item {
    width: 33.3333333333%;
    height: 300px;
  }
  .top01_support_item_link {
    padding: 30px;
  }
  .top01_support_item_link:hover img {
    transform: scale(1.05);
  }
  .top01_support_item_img img {
    transition: all 0.5s;
  }
  .top01_plan {
    padding-top: 138px;
  }
  .top01_plan_copy {
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 31px;
  }
  .top01_plan_item:last-child {
    margin-right: 0;
  }
  .top01_plan_item_link {
    transition: all 0.5s;
  }
  .top01_plan_item_link:hover {
    opacity: 0.7;
  }
  .top01_plan_item_link:hover .p_plan_item_img img {
    transform: scale(1.05);
  }
  .top01_plan_item_img {
    height: 290px;
  }
  .top01_plan_item_img img {
    transition: all 0.5s;
  }
  .top01_plan_item_info {
    padding: 20px 10px 16px;
    height: calc(100% - 290px);
  }
  .top01_plan_item_ttl .ttl_small {
    margin-top: 0;
    margin-bottom: -4px;
  }
  .top01_plan_item_price {
    margin-top: 12px;
  }
  .top01_plan_item_price .price {
    font-size: 1.125rem;
  }
  .top01_plan_item_arrow {
    margin: 2px auto 0;
  }
  .top01_plan_item_price_number {
    margin-top: 9px;
  }
  .top01_plan_item_price_number .txt {
    font-size: 1.125rem;
  }
  .top01_plan_btn {
    margin-top: 60px;
  }
  .top01_homemap {
    padding-top: 136px;
  }
  .top01_homemap_img {
    height: 711px;
    margin-top: 61px;
  }
  .top01_homemap_main {
    padding: 25px 0 35px;
  }
  .top01_homemap_items {
    padding: 0 clamp(0rem, 22.6086956522vw + -14.4836956522rem, 8.125rem) 0 clamp(0rem, 30.9565217391vw + -19.8315217391rem, 11.125rem);
  }
  .top01_homemap_item {
    width: 49%;
    margin-bottom: clamp(-0.25rem, -5.625vw + 5.375rem, 0.3125rem);
  }
  .top01_homemap_item .txt {
    font-size: 1.25rem;
  }
  .top01_homemap_item .icon {
    margin-right: clamp(0.9375rem, 0.4807692308vw + 0.7067307692rem, 1.1875rem);
    top: clamp(0.125rem, 0.2403846154vw + 0.0096153846rem, 0.25rem);
    width: clamp(1.125rem, 0.4807692308vw + 0.8942307692rem, 1.375rem);
  }
  .top01_homemap_item:nth-child(2n+2) {
    padding-left: clamp(0.625rem, 20vw + -17.375rem, 2.625rem);
  }
  .top01_process {
    padding-top: 155px;
  }
  .top01_process_btn {
    margin-top: 50px;
  }
  .top01_voice {
    padding-top: 137px;
  }
  .top01_voice_items {
    margin-top: 40px;
  }
  .top01_voice_item {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 39px;
  }
  .top01_voice_item:first-child {
    margin-top: 0;
  }
  .top01_voice_item_img {
    width: 50%;
    margin: 0;
  }
  .top01_voice_item_info {
    padding: clamp(1.875rem, 1.3913043478vw + 0.9836956522rem, 2.375rem) clamp(1.25rem, 9.2173913043vw + -4.6548913043rem, 4.5625rem) clamp(1.875rem, 1.3913043478vw + 0.9836956522rem, 2.375rem) clamp(1.25rem, 6.9565217391vw + -3.2065217391rem, 3.75rem);
    width: 50%;
  }
  .top01_voice_item_ttl {
    margin-top: 24px;
    font-size: 1.25rem;
  }
  .top01_voice_item_copy {
    margin-top: 11px;
  }
  .top01_voice_item_reserved {
    flex-direction: row-reverse;
  }
  .top01_block_main {
    flex-wrap: nowrap;
    align-items: center;
  }
  .top01_block_img {
    margin: 0;
    width: 43.104%;
  }
  .top01_block_copy {
    margin-top: 38px;
  }
  .top01_block_info {
    width: 49.276%;
  }
  .top01_block_info .c_btn {
    margin-left: 0;
  }
  .top01_btn_section {
    padding-top: 150px;
  }
  .top01_bnr_section {
    padding: 223px 0 196px;
  }
  .top01_bnr_box_link {
    min-height: 250px;
    padding: 30px;
    transition: all 0.5s;
  }
  .top01_bnr_box_link:hover {
    opacity: 0.7;
  }
  .top01_bnr_box_link::after {
    width: 18px;
    height: 34px;
    right: clamp(1.875rem, 2.5240384615vw + 0.6634615385rem, 3.1875rem);
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1025px) {
  .top01_plan_copy {
    letter-spacing: 0.1em;
  }
  .top01_plan_items {
    justify-content: flex-start;
  }
  .top01_plan_item {
    width: 22.414%;
    margin-right: 3.44%;
    margin-bottom: 0;
  }
  .top01_process .top01_block_info {
    width: 48.5%;
    padding-top: clamp(0rem, 20vw + -12.8125rem, 7.1875rem);
  }
  .top01_process .top01_block_copy {
    margin-top: 29px;
    padding-left: clamp(0rem, 1.3913043478vw + -0.8913043478rem, 0.5rem);
  }
  .top01_voice_item02 .top01_voice_item_info {
    padding: clamp(1.875rem, 3.4782608696vw + -0.3532608696rem, 3.125rem) clamp(1.25rem, 9.2173913043vw + -4.6548913043rem, 4.5625rem) clamp(1.5625rem, -0.8695652174vw + 2.4320652174rem, 1.875rem) clamp(1.25rem, 7.8260869565vw + -3.7635869565rem, 4.0625rem);
  }
  .top01_voice_item03 .top01_voice_item_info {
    padding: clamp(1.875rem, 3.4782608696vw + -0.3532608696rem, 3.125rem) clamp(1.25rem, 9.2173913043vw + -4.6548913043rem, 4.5625rem) clamp(1.5625rem, -0.8695652174vw + 2.4320652174rem, 1.875rem) clamp(1.25rem, 7.8260869565vw + -3.7635869565rem, 4.0625rem);
  }
  .top01_block_main {
    align-items: flex-start;
  }
  .top01_block_info {
    padding-top: clamp(0rem, 14.7826086957vw + -9.4701086957rem, 5.3125rem);
  }
}
/*# sourceMappingURL=maps/top01.css.map */
