/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
.header .menu_entry:hover {
  background: #FFF;
  color: #e60012;
  border: 1px solid #e60012;
}

@media screen and (min-width: 1024px) {
  .header_content {
    height: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .header_content {
    height: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .header.active .menu_entry {
    height: 60px;
    top: -10px;
  }
}
@media screen and (min-width: 1440px) {
  .header.active .menu_entry {
    height: 77px;
    top: -16px;
  }
}

@media screen and (min-width: 1024px) {
  .header .menu {
    width: 100%;
  }
}

.mv {
  position: relative;
}
.mv_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mv_img img {
  width: 50%;
  min-height: 350px;
  object-fit: cover;
}
.mv_desc {
  width: calc(100% - 40px);
  max-width: 1340px;
  margin: 0 auto;
  background: #fff;
  font-family: "yu-mincho-pr6n", sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2;
  letter-spacing: 0.075em;
  position: absolute;
  top: calc(50% - 5px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (min-width: 769px) {
  .mv_desc {
    font-size: clamp(
      2rem,
      3.3694344164vw + 0.3805655836rem,
      3.75rem
  );
    padding-left: 35px;
  }
}

.p_top01 {
  margin: 60px 0 0;
}
@media screen and (min-width: 769px) {
  .p_top01 {
    margin: 107px 0 0;
  }
}
.p_top01__ttl {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #e60012;
}
.p_top01 .ttl_txt {
  display: flex;
}
.p_top01 .btn_light {
  width: 100%;
  max-width: 160px;
  text-align: center;
  line-height: 1;
  height: 40px;
  margin-top: -9px;
  font-weight: 500;
  padding-right: 7px;
  letter-spacing: 0.03em;
}
.p_top01 .btn_light:hover {
  background: #e60012;
  color: #FFF;
}
.p_top01 .btn_light:hover::after {
  border-left: 6px solid #FFF;
}
.p_top01 .btn_light::after {
  right: 15px;
}
.p_top01 .jp {
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  padding-right: 15px;
  line-height: 1;
}
.p_top01 .en {
  color: #c6c6c6;
  letter-spacing: 0.2em;
  line-height: 1.5909090909;
  padding-right: 10px;
}
@media screen and (min-width: 769px) {
  .p_top01 .en {
    padding-right: 0;
  }
}
.p_top01__content {
  padding-top: 5px;
}
.p_top01__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #535353;
  padding: 20px 0 15px;
  border-bottom: 1px dotted #535353;
  transition: 0.5s;
}
.p_top01__item:hover .txt {
  text-decoration: transparent;
}
.p_top01__item .date {
  width: 115px;
  font-weight: 500;
  padding-left: 5px;
}
.p_top01__item .txt {
  width: calc(100% - 115px);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: 0.5s;
}

.p_top02 {
  background-color: #f8f8f8;
}
.p_top02.item01 {
  margin: 60px 0 80px;
}
@media screen and (min-width: 769px) {
  .p_top02.item01 {
    margin: 82px 0;
  }
}
@media screen and (min-width: 1024px) {
  .p_top02.item01 {
    margin: 202px 0 82px;
  }
}
.p_top02.item02 {
  margin: 0 0 100px;
  position: relative;
  background-color: unset;
}
.p_top02.item02::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  left: 0;
  top: 0;
  background-color: #f8f8f8;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .p_top02.item02::after {
    height: 78%;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item02 {
    margin: 0;
  }
}
.p_top02.item02 .txt_out {
  left: -15px;
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .txt_out {
    left: -100px;
  }
}
@media screen and (min-width: 1440px) {
  .p_top02.item02 .txt_out {
    left: -70px;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .p_top02__content {
    padding-top: 111px;
  }
}
@media screen and (min-width: 1024px) {
  .p_top02.item02 .p_top02__content {
    padding-top: 210px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .p_top02__left {
    padding: 66px 0 0;
  }
}
@media screen and (min-width: 1440px) {
  .p_top02.item02 .p_top02__left {
    padding: 66px 98px;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .p_top02__right {
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  .p_top02.item02 .p_top02__right {
    margin-left: 0;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .ttl {
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .txt_out {
    left: -23px;
    margin-top: -84px;
  }
}
.p_top02.item02 .img_item {
  position: relative;
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .img_item {
    width: 87.5%;
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .p_top02.item02 .img_item {
    margin-left: 0;
  }
}
.p_top02.item02 .img01 {
  margin-bottom: 80px;
}
@media screen and (min-width: 1440px) {
  .p_top02.item02 .img01 {
    transform: translate(-70px, -100px);
  }
}
@media screen and (min-width: 1024px) {
  .p_top02.item02 .img01 .img_txt {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .p_top02.item02 .img02 {
    transform: translate(50px, -101px);
  }
}
.p_top02.item02 .img02 .img_txt {
  letter-spacing: -0.05em;
}
@media screen and (min-width: 1024px) {
  .p_top02.item02 .img02 .img_txt {
    padding-right: 26px;
  }
}
.p_top02.item02 .img_txt {
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  background: #e60012;
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: -36px;
  padding-right: 10px;
  margin-left: 20px;
}
.p_top02.item02 .img_txt:hover {
  background: #FFF;
  color: #e60012;
  border: 1px solid #e60012;
}
.p_top02.item02 .img_txt:hover::after {
  border-left: 6px solid #e60012;
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .img_txt {
    font-size: 1.365625rem;
    height: 70px;
    left: -30px;
    margin-left: 0;
    padding-right: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .p_top02.item02 .img_txt {
    left: -61px;
  }
}
.p_top02.item02 .img_txt::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid #FFF;
  border-bottom: 6px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .img_txt::after {
    right: 35px;
  }
}
.p_top02.item02 .w_300 {
  padding: 0 30px;
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .w_300 {
    width: 100%;
    padding: 0;
    max-width: 300px;
  }
}
.p_top02.item02 .w_370 {
  padding: 0 30px;
}
@media screen and (min-width: 769px) {
  .p_top02.item02 .w_370 {
    width: 100%;
    padding: 0;
    max-width: 370px;
  }
}
.p_top02.item03 {
  background-color: unset;
  position: relative;
  margin-bottom: 25px;
}
@media screen and (min-width: 769px) {
  .p_top02.item03 {
    margin-bottom: 82px;
  }
}
.p_top02.item03::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: calc(100% - 18px);
  background: #f8f8f8;
  z-index: -1;
}
@media screen and (min-width: 769px) {
  .p_top02.item03 .p_top02__content {
    padding-top: 60px;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item03 .p_top02__right {
    width: 44.1176470588%;
    transform: translateX(-20px);
  }
}
@media screen and (min-width: 1440px) {
  .p_top02.item03 .p_top02__right {
    transform: translateX(0);
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item03 .p_top02__left {
    width: 50%;
    padding: 60px 20px;
  }
}
@media screen and (min-width: 1440px) {
  .p_top02.item03 .p_top02__left {
    width: 36.7647058824%;
    padding: 66px clamp(
      2.5rem,
      12.5vw + -8.75rem,
      3.75rem
  ) 66px 100px;
  }
}
.p_top02.item03 .txt_out {
  left: calc(100% - 80px);
  margin-top: 90px;
}
@media screen and (min-width: 1440px) {
  .p_top02.item03 .txt_out {
    left: calc(100% - 82px);
    margin-top: 12px;
  }
}
@media screen and (min-width: 769px) {
  .p_top02.item03 .ttl {
    padding-bottom: 18px;
  }
}
.p_top02.item03 .p_top02__img {
  position: relative;
}
@media screen and (min-width: 769px) {
  .p_top02.item03 .p_top02__img {
    transform: translateY(45px);
  }
}
.p_top02.item03 .p_top02__img::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 20px;
  background: #e9e9e9;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.p_top02.item03 .p_top02__img img {
  min-height: 300px;
}
@media screen and (min-width: 1024px) {
  .p_top02.item03 .p_top02__img img {
    min-height: 400px;
  }
}
.p_top02.item03 .btn_red {
  margin-bottom: 10px;
  margin-left: 0;
  width: 100%;
  max-width: 280px;
  height: 60px;
}
@media screen and (min-width: 769px) {
  .p_top02.item03 .btn_red {
    height: 80px;
    max-width: 340px;
  }
}
.p_top02.item03 .txt {
  padding-bottom: 28px;
}
.p_top02__content {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .p_top02__content {
    display: flex;
    margin-left: auto;
    max-width: 93.75%;
  }
}
@media screen and (min-width: 1024px) {
  .p_top02__content {
    max-width: 85%;
  }
}
.p_top02__content .txt {
  color: #434343;
}
.p_top02__left {
  padding: 40px 20px 20px;
  position: relative;
}
@media screen and (min-width: 1440px) {
  .p_top02__left {
    padding: 66px 105px;
    width: 41.25%;
  }
}
@media screen and (min-width: 769px) {
  .p_top02__right {
    width: 58.8235294118%;
  }
}
.p_top02 .ttl {
  line-height: 1.5;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 769px) {
  .p_top02 .ttl {
    padding-bottom: 26px;
    margin-bottom: 28px;
  }
}
.p_top02 .ttl::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #e60012;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 769px) {
  .p_top02 .ttl::after {
    left: 10px;
  }
}
.p_top02 .txt {
  line-height: 1.875;
  font-weight: 500;
  color: #434343;
  letter-spacing: 0.1em;
  padding-left: 3px;
  padding-bottom: 41px;
}
.p_top02 .btn_red {
  margin-left: 3px;
  width: 100%;
  max-width: 300px;
  height: 60px;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.p_top02 .btn_red:hover {
  background: #FFF;
  color: #e60012;
  border: 1px solid #e60012;
}
.p_top02 .btn_red:hover::after {
  border-left: 6px solid #e60012;
}
@media screen and (min-width: 769px) {
  .p_top02 .btn_red {
    height: 70px;
  }
}
.p_top02 .btn_red::after {
  right: 35px;
}
.p_top02 .txt_out {
  color: #e5e5e5;
  position: absolute;
  left: -45px;
  margin-top: 70px;
  transform: rotate(90deg);
  letter-spacing: 0.16em;
}
@media screen and (min-width: 769px) {
  .p_top02 .txt_out {
    left: -100px;
  }
}
@media screen and (min-width: 1440px) {
  .p_top02 .txt_out {
    left: -70px;
  }
}
.p_top02 .txt_out::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  background: #e5e5e5;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
}
.p_top02 .img_traslate {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .p_top02 .img_traslate {
    transform: translateY(-88px);
  }
}
.p_top02 .img_traslate::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 20px;
  background: #e9e9e9;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p_top03 {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .p_top03 {
    display: flex;
    margin-bottom: 10px;
  }
}
.p_top03__btn {
  min-height: clamp(
      11.25rem,
      17.8571428571vw + 7.6785714286rem,
      16.25rem
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  line-height: 1.25;
  letter-spacing: 0.05em;
  font-size: 1.375rem;
}
@media screen and (min-width: 769px) {
  .p_top03__btn {
    width: 50%;
    font-size: clamp(
      1.375rem,
      2.1634615385vw + 0.3365384615rem,
      2.5rem
  );
    min-height: clamp(
      15rem,
      19.2307692308vw + 5.7692307692rem,
      25rem
  );
  }
}
.p_top03__btn01 {
  background: url(../../assets/images/top/img_01.jpg) no-repeat center;
  background-size: cover;
}
.p_top03__btn01 .bg_red {
  padding: 10px;
  background: #e60012;
  letter-spacing: -0.05em;
}
@media screen and (min-width: 769px) {
  .p_top03__btn01 .bg_red {
    padding: 15px 17px 15px 30px;
  }
}
.p_top03__btn02 {
  background: url(../../assets/images/top/img_02.jpg) no-repeat center;
  background-size: cover;
}
.p_top03_icon {
  width: 40px;
  height: 40px;
  border: 2px solid #FFF;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .p_top03_icon {
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
  }
}
.p_top03_icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid #FFF;
  border-bottom: 6px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 2px);
}

.p_top04 {
  margin-bottom: 70px;
  position: relative;
}
.p_top04::after {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  max-height: 643px;
  background: #f8f8f8;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
}
@media screen and (min-width: 769px) {
  .p_top04::after {
    width: 64.3125%;
  }
}
@media screen and (min-width: 769px) {
  .p_top04 {
    margin-bottom: 100px;
  }
}
.p_top04__ttl {
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 35px;
}
.p_top04__content {
  padding-top: 20px;
  position: relative;
}
@media screen and (min-width: 769px) {
  .p_top04__content {
    padding-top: 32px;
  }
}
.p_top04__item {
  margin-right: 25.5px;
  width: 300px;
}
.p_top04 .slick-arrow {
  width: 30px;
  height: 30px;
  border-left: 2px solid #e60012;
  border-bottom: 2px solid #e60012;
  font-size: 0;
  position: absolute;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  z-index: 1;
}
@media screen and (min-width: 769px) {
  .p_top04 .slick-arrow {
    width: 60px;
    height: 60px;
  }
}
.p_top04 .slick-prev {
  transform: rotate(45deg) skew(7deg, 7deg);
  left: 19.7%;
}
.p_top04 .slick-next {
  transform: rotate(-135deg) skew(7deg, 7deg);
  right: 19.7%;
}
.p_top04 .slick-list {
  width: calc(100% + 25.5px);
  padding: 0 !important;
}
.p_top04 .btn_light {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  height: 60px;
  border: 2px solid #e60012;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 4px;
  background: #fff;
}
@media screen and (min-width: 769px) {
  .p_top04 .btn_light {
    max-width: 300px;
    margin: 68px auto 0;
    height: 70px;
  }
}
.p_top04 .btn_light::after {
  right: 35px;
}
.p_top04 .btn_light:hover {
  background: #e60012;
  color: #FFF;
  opacity: 1;
}
.p_top04 .btn_light:hover::after {
  border-left: 6px solid #FFF;
}
.p_top04__news {
  padding: 60px 0 10px;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .p_top04__news {
    padding: 110px 0 57px;
    display: flex;
  }
}
.p_top04__news .news_item {
  position: relative;
  margin-bottom: 80px;
}
@media screen and (min-width: 769px) {
  .p_top04__news .news_item {
    width: 48.2142857143%;
  }
}
@media screen and (min-width: 1440px) {
  .p_top04__news .news_item {
    width: 44.6428571429%;
  }
}
.p_top04__news .news_item .btn_red {
  width: 60%;
  position: absolute;
  bottom: -35px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.p_top04__news .news_item .btn_red:hover {
  background: #FFF;
  color: #e60012;
  border: 1px solid #e60012;
}
.p_top04__news .news_item .btn_red:hover::after {
  border-left: 6px solid #e60012;
}
@media screen and (min-width: 769px) {
  .p_top04__news .news_item .btn_red {
    width: 80%;
    height: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .p_top04__news .news_item .btn_red {
    width: 60%;
  }
}
.p_top04__news .news_item .btn_red::after {
  right: 30px;
}
@media screen and (min-width: 769px) {
  .p_top04__news .news_item .btn_red::after {
    right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .p_top04__news .news_item .btn_red::after {
    right: 30px;
  }
}
.p_top04__btn {
  width: 100%;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
@media screen and (min-width: 769px) {
  .p_top04__btn {
    height: 200px;
  }
}
.p_top04__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../../assets/images/top/bg_btn.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
}
.p_top04__btn::before {
  content: "";
  position: absolute;
  border: 2px solid #FFF;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
.p_top04__btn .arrow_btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border: 2px solid #FFF;
}
.p_top04__btn .arrow_btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 6px solid #FFF;
  border-bottom: 6px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
}
.p_top04__desc {
  padding-top: 60px;
}
@media screen and (min-width: 769px) {
  .p_top04__desc {
    display: flex;
    justify-content: space-between;
  }
}
.p_top04__desc .btn_light {
  width: 100%;
  max-width: 550px;
  height: 70px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  letter-spacing: 0.05em;
  margin: 0 auto 20px;
}
.p_top04__desc .btn_light:hover {
  background: #e60012;
  color: #FFF;
}
.p_top04__desc .btn_light:hover::after {
  border-left: 6px solid #FFF;
}
@media screen and (min-width: 769px) {
  .p_top04__desc .btn_light {
    max-width: 49.1071428571%;
    margin: 0;
    height: 100px;
  }
}
.p_top04__desc .btn_light::after {
  right: 20px;
}
@media screen and (min-width: 1024px) {
  .p_top04__desc .btn_light::after {
    right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .p_top04__desc .btn_light:first-child {
    padding-left: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .p_top04__desc .btn_light:last-child {
    padding-right: 98px;
  }
}
/*# sourceMappingURL=top.css.map */
