@use '../global' as *;

.nav {
    display: none;
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100% - 60px);
    z-index: 200;
    width: 100%;
    background: #f8f8f9;
    padding: 60px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    @include mq('md') {
        position: relative;
        display: inherit;
        border: 0;
        width: auto;
        height: auto;
        padding: 0;
        top: 0;
        left: 0;
        background: none;
        overflow-y: hidden;
    }
    &_wrap {
        @include mq('md') {
            display: flex;
        }
    }
    &_menu {
        margin: 0 0 30px;
        @include mq('md') {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
    &_menu_item {
        position: relative;
        @include mq('md') {
            padding-right: clamped(10, 23, 1200, 1600);
            margin-right: clamped(10, 29, 1200, 1600);
            border-right: solid 1px #333;
            line-height: 1em;
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
            }
        }
        &:first-child {
            .link {
                border-top: solid 1px #333;
                @include mq('md') {
                    border-top: 0;
                }
            }
        }
        .link {
            position: relative;
            color: #333;
            text-decoration: none;
            display: block;
            font-weight: bold;
            padding: 10px 15px;
            border-bottom: solid 1px #333;
            line-height: 1.5em;
            text-align: center;
            letter-spacing: 0.1em;
            @include mq('md') {
                line-height: 1.1em;
                transition: all 0.5s;
                border: 0;
                padding: 0;
                display: inline-block;
                font-size: clamped(12, 16, 768, 1024);
                &:hover {
                    color: #3a795a;
                }
            }
            @include mq('lg') {
                font-size: rem(16);
            }
        }
    }
}

.nav_btn_hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: #3a795a;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 100;
    @include mq('md') {
        display: none;
    }
    &.active {
        .nav_btn_hamburger_line {
            background-color: transparent;
            &::before,
            &::after {
                margin-top: 0px;
                transition: all 0.5s;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    &_line {
        display: block;
        margin: 0;
        width: 25px;
        height: 2px;
        background-color: #fff;
        transition: all 0.5s;
        position: relative;
        &::before,
        &::after {
            display: block;
            content: '';
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: #fff;
            transition: all 0.5s;
        }
        &::before {
            margin-top: -8px;
        }
        &::after {
            margin-top: 8px;
        }
    }
}
