---
layout: _default
title: sample
description: description About
keyword: keyword About
vendorcss: ['slick/slick']
vendorjs: ['slick/slick.min']
css: ['sample']
js: ['sample']
page: sample
header: 'header_01'
footer: 'footer_01'
---
<main class="p-about">   
    
    <!-- Bạn có thể nhúng Component bất kỳ ở bất kỳ đâu trong trang bằng lệnh includeComponent này! -->
    <%- includeComponent('sidebar') %>

    <div class="c-loading">
        <div class="c-loading__inner">
            <div class="c-loading__content">
                <div class="c-loading__item"></div>
                <div class="c-loading__item"></div>
            </div>
        </div>
    </div>   
    <h1>sample</h1>
    <img src="../assets/images/common/img_dummy.webp" alt="">
</main>
