@use "sass:math";
@use "../global"as *;

/*!
component > Text
------------------------------
*/
.c_txt14{
    font-size: rem(12);
    @include mq(md) {
        font-size: rem(14);
    }
}
.c_txt16{
    font-size: vw(16,375);
    line-height: math.div(32,16);
    letter-spacing: 0.05em;
    @include mq(md) {
        letter-spacing: 0.1em;
        line-height: math.div(32,16);
        font-size: clamped(10,16, 768, 1920);
    }
}
.c_txt18{
    font-size: vw(16,375);
    line-height: math.div(32,16);
    letter-spacing: 0.05em;
    @include mq(md) {
        letter-spacing: 0.1em;
        line-height: math.div(32,16);
        font-size: clamped(12,18, 768, 1920);
    }
}
.c_txt20{
    font-size: vw(16,375);
    line-height: math.div(32,16);
    letter-spacing: 0.1em;
    @include mq(md) {
        line-height: math.div(32,16);
        font-size: clamped(14,20, 768, 1920);
    }
}

.c_txt30{
    font-size: vw(22,375);
    line-height: math.div(40,22);
    letter-spacing: 0.05em;
    @include mq(md) {
        line-height: math.div(60,30);
        font-size: clamped(16,30, 768, 1920);
    }
}
