@use "sass:math";
@use "../../global"as *;

.header .menu_entry {
    &:hover {
        background: #FFF;
        color: #e60012;
        border: 1px solid #e60012;
    }
}

.header_content {
    @include mq(ld) {
        height: 60px;
    }

    @include mq(xd) {
        height: 75px;
    }

}

.header.active {
    .menu_entry {
        @include mq(ld) {
            height: 60px;
            top: -10px;
        }

        @include mq(xd) {
            // height: clamped(76, 78, 1440, 1600);
            height: 77px;
            top: -16px;

        }
    }
}

.header .menu {
    @include mq(ld) {
        width: 100%;
    }

}

.mv {
    position: relative;

    &_img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            width: 50%;
            min-height: 350px;
            object-fit: cover;
        }
    }

    &_desc {
        width: calc(100% - 40px);
        max-width: 1340px;
        margin: 0 auto;
        background: #fff;
        font-family: $font-mincho;
        font-weight: 600;
        font-size: rem(30);
        line-height: 2;
        letter-spacing: 0.075em;
        position: absolute;
        top: calc(50% - 5px);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include mq(md) {
            font-size: clamped(32, 60, 769, 1600);
            padding-left: 35px;
        }
    }
}

.p_top01 {
    margin: 60px 0 0;

    @include mq(md) {
        margin: 107px 0 0;
    }

    &__ttl {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        border-bottom: 1px solid #e60012;
    }

    .ttl_txt {
        display: flex;
    }

    .btn_light {
        width: 100%;
        max-width: 160px;
        text-align: center;
        line-height: 1;
        height: 40px;
        margin-top: -9px;
        font-weight: 500;
        padding-right: 7px;
        letter-spacing: 0.03em;

        &:hover {
            background: #e60012;
            color: #FFF;

            &::after {
                border-left: 6px solid #FFF;
            }
        }

        &::after {
            right: 15px;
        }
    }

    .jp {
        line-height: calc(35/30);
        letter-spacing: 0.05em;
        padding-right: 15px;
        line-height: 1;
    }

    .en {
        color: #c6c6c6;
        letter-spacing: 0.2em;
        line-height: calc(35/22);
        padding-right: 10px;

        @include mq(md) {
            padding-right: 0;
        }
    }

    &__content {
        // padding-top: 26px;
        padding-top: 5px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #535353;
        padding: 20px 0 15px;
        border-bottom: 1px dotted #535353;
        transition: 0.5s;

        &:hover {
            .txt {
                text-decoration: transparent;
            }
        }

        .date {
            width: 115px;
            font-weight: 500;
            padding-left: 5px;
        }

        .txt {
            width: calc(100% - 115px);
            text-decoration: underline;
            text-underline-offset: 2px;
            transition: 0.5s;
        }
    }
}

.p_top02 {
    background-color: #f8f8f8;

    &.item01 {
        margin: 60px 0 80px;

        @include mq(md) {
            margin: 82px 0;
        }

        @include mq(ld) {
            margin: 202px 0 82px;
        }
    }

    &.item02 {
        margin: 0 0 100px;
        position: relative;
        background-color: unset;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 85%;
            left: 0;
            top: 0;
            background-color: #f8f8f8;
            z-index: -1;

            @include mq(ld) {
                height: 78%;
            }
        }

        @include mq(md) {
            margin: 0;
        }

        .txt_out {
            left: -15px;

            @include mq(md) {
                left: -100px;
            }

            @include mq(xd) {
                left: -70px;

            }
        }

        .p_top02__content {

            // padding-top: 20px;
            @include mq(md) {
                padding-top: 111px;
            }

            @include mq(ld) {
                padding-top: 210px;
                padding-bottom: 32px;
            }
        }

        .p_top02__left {
            @include mq(md) {
                padding: 66px 0 0;

            }

            @include mq(xd) {
                padding: 66px 98px;
            }
        }

        .p_top02__right {
            @include mq(md) {
                margin-left: auto;
            }

            @include mq(xd) {
                margin-left: 0;

            }
        }

        .ttl {
            @include mq(md) {
                padding-bottom: 18px;
            }
        }

        .txt_out {
            @include mq(md) {
                left: -23px;
                margin-top: -84px;
            }
        }

        .img_item {
            position: relative;

            @include mq(md) {
                width: calc(700/800 * 100%);
                margin-left: auto;
            }

            @include mq(ld) {
                margin-left: 0;
            }


        }

        .img01 {
            margin-bottom: 80px;

            @include mq(xd) {
                transform: translate(-70px, -100px);
            }

            .img_txt {
                @include mq(ld) {
                    padding-right: 20px;
                }
            }
        }

        .img02 {
            @include mq(xd) {
                transform: translate(50px, -101px);
            }

            .img_txt {
                letter-spacing: -0.05em;

                @include mq(ld) {
                    padding-right: 26px;
                }
            }
        }

        .img_txt {
            font-size: rem(18);
            letter-spacing: 0.05em;
            background: #e60012;
            color: #FFF;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 60px;
            position: absolute;
            left: 0;
            bottom: -36px;
            padding-right: 10px;
            margin-left: 20px;

            &:hover {
                background: #FFF;
                color: #e60012;
                border: 1px solid #e60012;

                &::after {
                    border-left: 6px solid #e60012;
                }
            }

            @include mq(md) {
                font-size: rem(21.85);
                height: 70px;
                left: -30px;
                margin-left: 0;
                padding-right: 22px;
            }

            @include mq(ld) {
                left: -61px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 6px solid #FFF;
                border-bottom: 6px solid transparent;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;

                @include mq(md) {
                    right: 35px;
                }
            }
        }

        .w_300 {
            padding: 0 30px;

            @include mq(md) {
                width: 100%;
                padding: 0;
                max-width: 300px;
            }
        }

        .w_370 {
            padding: 0 30px;

            @include mq(md) {
                width: 100%;
                padding: 0;
                max-width: 370px;
            }
        }
    }

    &.item03 {
        background-color: unset;
        position: relative;
        margin-bottom: 25px;

        @include mq(md) {
            margin-bottom: 82px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: calc(1120/1600 * 100%);
            height: calc(100% - 18px);
            background: #f8f8f8;
            z-index: -1;
        }

        .p_top02__content {
            @include mq(md) {
                padding-top: 60px;
            }
        }

        .p_top02__right {
            @include mq(md) {
                width: calc(600/1360 * 100%);
                transform: translateX(-20px);
            }

            @include mq(xd) {
                transform: translateX(0);
            }
        }

        .p_top02__left {
            @include mq(md) {
                width: calc(680/1360 * 100%);
                padding: 60px 20px;
            }

            @include mq(xd) {
                width: calc(500/1360 * 100%);
                padding: 66px clamped(40, 60, 1440, 1600) 66px 100px;
            }
        }

        .txt_out {
            left: calc(100% - 80px);
            margin-top: 90px;

            @include mq(xd) {
                left: calc(100% - 82px);
                margin-top: 12px;
            }
        }

        .ttl {
            @include mq(md) {
                padding-bottom: 18px;
            }
        }

        .p_top02__img {
            @include mq(md) {
                transform: translateY(45px);
            }

            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: -20px;
                top: 20px;
                background: #e9e9e9;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            img {
                min-height: 300px;

                @include mq(ld) {
                    min-height: 400px;
                }
            }
        }

        .btn_red {
            margin-bottom: 10px;
            margin-left: 0;
            width: 100%;
            max-width: 280px;
            height: 60px;

            @include mq(md) {
                height: 80px;
                max-width: 340px;

            }
        }

        .txt {
            padding-bottom: 28px;
        }
    }

    &__content {
        width: 100%;

        @include mq(md) {
            display: flex;
            margin-left: auto;
            max-width: calc(1500/1600 * 100%);
        }

        @include mq(ld) {
            max-width: calc(1360/1600 * 100%);
        }

        .txt {
            color: #434343;
        }
    }

    &__left {
        padding: 40px 20px 20px;
        position: relative;

        @include mq(xd) {
            padding: 66px 105px;
            width: calc(561/1360 * 100%);
        }
    }

    &__right {
        @include mq(md) {
            width: calc(800/1360 * 100%);
        }
    }

    .ttl {
        line-height: calc(60/40);
        letter-spacing: 0.05em;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;

        @include mq(md) {
            padding-bottom: 26px;
            margin-bottom: 28px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #e60012;
            left: 0;
            bottom: 0;

            @include mq(md) {
                left: 10px;
            }
        }
    }

    .txt {
        line-height: calc(30/16);
        font-weight: 500;
        color: #434343;
        letter-spacing: 0.1em;
        padding-left: 3px;
        padding-bottom: 41px;
    }

    .btn_red {
        margin-left: 3px;

        width: 100%;
        max-width: 300px;
        height: 60px;
        letter-spacing: 0.1em;
        font-weight: 400;

        &:hover {
            background: #FFF;
            color: #e60012;
            border: 1px solid #e60012;

            &::after {
                border-left: 6px solid #e60012;
            }
        }

        @include mq(md) {
            height: 70px;
        }

        &::after {
            right: 35px;
        }
    }

    .txt_out {
        color: #e5e5e5;
        position: absolute;
        left: -45px;
        margin-top: 70px;
        transform: rotate(90deg);
        letter-spacing: 0.16em;

        @include mq(md) {
            left: -100px;
        }

        @include mq(xd) {
            left: -70px;

        }

        &::after {
            content: '';
            position: absolute;
            width: 68px;
            height: 2px;
            background: #e5e5e5;
            left: -80px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .img_traslate {
        position: relative;
        z-index: 1;

        @include mq(ld) {
            transform: translateY(-88px);
        }

        &::after {
            content: '';
            position: absolute;
            left: -20px;
            top: 20px;
            background: #e9e9e9;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

}

.p_top03 {
    width: 100%;

    @include mq(md) {
        display: flex;
        margin-bottom: 10px;
    }

    &__btn {
        min-height: clamped(180, 260, 320, 768);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        line-height: calc(50/40);
        letter-spacing: 0.05em;
        font-size: rem(22);

        @include mq(md) {
            width: 50%;
            font-size: clamped(22, 40, 768, 1600);
            min-height: clamped(240, 400, 768, 1600);

        }

        &01 {
            background: url(../../assets/images/top/img_01.jpg) no-repeat center;
            background-size: cover;

            .bg_red {
                padding: 10px;
                background: #e60012;
                letter-spacing: -0.05em;

                @include mq(md) {
                    padding: 15px 17px 15px 30px;
                }
            }

        }

        &02 {
            background: url(../../assets/images/top/img_02.jpg) no-repeat center;
            background-size: cover;
        }
    }

    &_icon {
        width: 40px;
        height: 40px;
        border: 2px solid #FFF;
        position: absolute;
        right: 10px;
        bottom: 10px;

        @include mq(ld) {
            right: 30px;
            bottom: 30px;
            width: 60px;
            height: 60px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-left: 6px solid #FFF;
            border-bottom: 6px solid transparent;
            top: 50%;
            transform: translateY(-50%);
            left: calc(50% - 2px);
        }
    }
}

.p_top04 {
    margin-bottom: 70px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 40px);
        height: 100%;
        max-height: 643px;
        background: #f8f8f8;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: -1;

        @include mq(md) {
            width: calc(1029/1600 * 100%);
        }
    }

    @include mq(md) {
        margin-bottom: 100px;
    }

    &__ttl {
        letter-spacing: 0.05em;
        text-align: center;
        padding-top: 35px;
    }

    &__content {
        padding-top: 20px;
        // height: 434px;
        position: relative;

        @include mq(md) {
            padding-top: 32px;
        }
    }

    &__item {
        margin-right: 25.5px;
        width: 300px;
    }

    .slick {

        &-arrow {
            width: 30px;
            height: 30px;
            border-left: 2px solid #e60012;
            border-bottom: 2px solid #e60012;
            font-size: 0;
            position: absolute;
            top: calc(50% - 10px);
            transform: translateY(-50%);
            z-index: 1;

            @include mq(md) {
                width: 60px;
                height: 60px;
            }
        }

        &-prev {
            transform: rotate(45deg) skew(7deg, 7deg);
            left: 19.7%;
        }

        &-next {
            transform: rotate(-135deg) skew(7deg, 7deg);
            right: 19.7%;
        }




        &-list {
            width: calc(100% + 25.5px);
            padding: 0 !important;
            // transform: translateX(30px);
        }
    }

    .btn_light {
        margin: 40px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 280px;
        height: 60px;
        border: 2px solid #e60012;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-left: 4px;
        background: #fff;

        @include mq(md) {
            max-width: 300px;
            margin: 68px auto 0;
            height: 70px;

        }

        &::after {
            right: 35px;
        }

        &:hover {
            background: #e60012;
            color: #FFF;
            opacity: 1;

            &::after {
                border-left: 6px solid #FFF;
            }
        }

    }

    &__news {
        padding: 60px 0 10px;
        justify-content: space-between;

        @include mq(md) {
            padding: 110px 0 57px;
            display: flex;
        }

        .news {
            &_item {
                position: relative;
                margin-bottom: 80px;

                @include mq(md) {
                    width: calc(540 / 1120 * 100%);
                }

                @include mq(xd) {
                    width: calc(500 / 1120 * 100%);
                }

                .btn_red {
                    width: calc(300/500 * 100%);
                    position: absolute;
                    bottom: -35px;
                    height: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.5s;

                    &:hover {
                        background: #FFF;
                        color: #e60012;
                        border: 1px solid #e60012;

                        &::after {
                            border-left: 6px solid #e60012;
                        }
                    }

                    @include mq(md) {
                        width: calc(400/500 * 100%);
                        height: 70px;

                    }

                    @include mq(ld) {
                        width: calc(300/500 * 100%);
                    }

                    &::after {
                        right: 30px;

                        @include mq(md) {
                            right: 15px;

                        }

                        @include mq(ld) {
                            right: 30px;

                        }
                    }

                }
            }
        }
    }

    &__btn {
        width: 100%;
        position: relative;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;

        @include mq(md) {
            height: 200px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url(../../assets/images/top/bg_btn.jpg) no-repeat;
            background-size: cover;
            z-index: -1;

        }

        &::before {
            content: '';
            position: absolute;
            border: 2px solid #FFF;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
        }

        .arrow_btn {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 60px;
            height: 60px;
            border: 2px solid #FFF;

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-left: 6px solid #FFF;
                border-bottom: 6px solid transparent;
                top: 50%;
                transform: translateY(-50%);
                left: 50%;
            }
        }
    }

    &__desc {
        padding-top: 60px;

        @include mq(md) {
            display: flex;
            justify-content: space-between;
        }

        .btn_light {
            width: 100%;
            max-width: 550px;
            height: 70px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #262626;
            letter-spacing: 0.05em;
            margin: 0 auto 20px;

            &:hover {
                background: #e60012;
                color: #FFF;

                &::after {
                    border-left: 6px solid #FFF;
                }
            }

            @include mq(md) {
                max-width: calc(550/1120 * 100%);
                margin: 0;
                height: 100px;

            }

            &::after {
                right: 20px;

                @include mq(ld) {
                    right: 50px;
                }
            }

            &:first-child {
                @include mq(ld) {
                    padding-left: 35px;
                }
            }

            &:last-child {
                @include mq(ld) {
                    padding-right: 98px;
                }
            }
        }
    }
}