@use "sass:math";
@use "../global" as *;

.p_doc {
    padding-top: 60px;
    color: #333;
    @include mq() {
        padding-top: 100px;
    }
    &_ttl {
        text-align: center;
        & > * {
            display: block;
        }
        &__en {
            font-family: $font_manrope;
            font-size: math.div(44em, 20);
            letter-spacing: 0.1em;
            line-height: math.div(60, 44);
            font-weight: 800;
            color: $c_four;
            margin-bottom: math.div(10em, 44);
        }
        &__jp {
            letter-spacing: 0.05;
        }
    }
    &_flex {
        margin-top: 40px;
        @include mq() {
            display: flex;
            justify-content: space-between;
            margin-top: 63px;
        }
    }
    &_form {
        margin-top: 40px;
        @include mq() {
            margin-top: 0;
            max-width: 560px;
            width: 50%;
            flex-shrink: 0;
            padding-top: 17px;
        }
        &__label {
            display: flex;
            margin-bottom: 15px;
            padding-left: 20px;
            @include mq() {
                padding-left: 39px;
                margin-bottom: 18px;
            }
        }
        &__require {
            font-size: math.div(16em, 20);
            margin-right: math.div(20em, 16);
            width: math.div(46em, 16);
            height: math.div(32em, 16);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $c_second;
            background-color: $c_third;
            border-radius: math.div(10em, 16);
        }
        &__desc {
            letter-spacing: 0.05em;
        }
        &__input {
            input {
                width: 100%;
                outline: none !important;
                font-size: rem(16);
                padding: 14px 20px;
                background-color: #edeff0;
            }
        }
        &__item {
            margin-bottom: 20px;
            @include mq() {
                margin-bottom: 32px;
            }
        }
        &__btn {
            margin-top: 30px;
            @include mq() {
                margin-top: 37px;
            }
            .c_btn {
                @include mq() {
                    max-width: 240px;
                }
            }
        }
    }
    &_content {
        @include mq() {
            max-width: 436px;
            margin-right: 40px;
        }
        &__img {
            max-width: 500px;
            margin: 0 auto;
            @include mq() {
                margin: 0;
                max-width: unset;
            }
            img {
                width: 100%;
            }
        }
        &__ttl {
            letter-spacing: 0.05em;
            padding-bottom: math.div(11em, 24);
            margin-top: 20px;
            border-bottom: 1px solid rgba(#707070, 0.71);
            @include mq() {
                margin-top: 28px;
            }
        }
        &__list {
            margin-top: 10px;
            @include mq() {
                margin-top: 16px;
            }
        }
        &__item {
            letter-spacing: 0.05em;
            &:not(:last-child) {
                margin-bottom: 12px;
                @include mq() {
                    margin-bottom: 17px;
                }
            }
        }
    }
    &_footer {
        color: #333;
        &__gray {
            background-color: #EDEFF0;
            text-align: center;
            margin-top: 100px;
            letter-spacing: 0.05em;
            padding: 40px 0;
            @include mq() {
                margin-top: 144px;
                padding: 71px 0 81px;
            }
            &_txt02 {
                margin-top: math.div(8em,16);
            }
        }
        &__copyright {
            color: white;
            background-color: $c_five;
            font-size: rem(12);
            padding: 15px 0;
            text-align: center;
            @include mq() {
                font-size: rem(14);
                padding: 19px 0;
            }
            &_flex {
                @include mq() {
                    display: flex;
                    justify-content: space-between;
                }
            }
            &_link {
                letter-spacing: 0.05em;
                font-weight: 500;
            }
            &_txt {
                font-family: $font_manrope;
                letter-spacing: 0.05em;
                font-weight: 500;
                margin-top: 10px;
                @include mq() {
                    margin-top: 0;
                }
            }
        }
    }
}

.p_thanks {
    padding: 100px 0 120px;
    background-color: #43B2FF;
    position: relative;
    z-index: 0;
    color: white;
    @include mq() {
        padding: 200px 0 240px;
    }
    &::after {
        content: "";
        background-image: url(../images/top/img_contact_pattern.png);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-bottom: math.div(109,1600)*100%;
        @include mq() {
            min-width: 1600px;
            min-height: 109px;
            
        }
    }
    &_ttl {
        text-align: center;
        margin-bottom: 30px;
        @include mq() {
            margin-bottom: 50px;
        }
    }
    &_txt {
        line-height: 2;
        @include mq() {
            text-align: center;
        }
    }
    &_btn {
        margin-top: 40px;
        text-align: center;
        @include mq() {
            margin-top: 60px;
        }
    }
}
