/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
/* ================================
UTILITIES
================================ */
.p-event__box__ttl {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-event__box__ttl {
    font-size: clamp(1.2rem, 1.0169vw + 0.7119rem, 1.5rem);
  }
}

.p-event .c-txt18 {
  margin: 0 auto;
  max-width: 840px;
  line-height: 2.2;
}
@media screen and (min-width: 768px) {
  .p-event .c-txt18 {
    margin: -5px auto 0 auto;
  }
}
.p-event__slider {
  position: relative;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .p-event__slider {
    margin-bottom: 0;
  }
}
.p-event__slider__viewport {
  position: relative;
  overflow: hidden;
}
.p-event__slider__track {
  position: relative;
  width: 100%;
  aspect-ratio: 990/660;
}
.p-event__slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1;
}
.p-event__slider__item.is-active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.p-event__slider__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.p-event__slider__thumbs {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.p-event__slider__thumbs::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-event__slider__thumbs {
    margin-top: clamp(0.625rem, 2.1186vw + -0.392rem, 1.25rem);
  }
}
.p-event__slider__thumbs-track {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .p-event__slider__thumbs-track {
    gap: clamp(0.625rem, 2.1186vw + -0.392rem, 1.25rem);
  }
}
.p-event__slider__thumb {
  max-width: 90px;
  min-width: 60px;
  flex-shrink: 0;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 0.3s;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-event__slider__thumb {
    max-width: clamp(5.625rem, 19.0678vw + -3.5275rem, 11.25rem);
    min-width: clamp(3.75rem, 12.7119vw + -2.3517rem, 7.5rem);
  }
}
.p-event__slider__thumb:first-child {
  margin-left: auto;
}
.p-event__slider__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black05);
  opacity: 0.63;
  z-index: 1;
  transition: 0.5s;
}
.p-event__slider__thumb.is-active {
  pointer-events: none;
}
.p-event__slider__thumb.is-active::after {
  opacity: 0;
}
.p-event__slider__thumb:hover::after {
  opacity: 0.4;
}
.p-event__slider__thumb img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 180/120;
  -o-object-fit: cover;
  object-fit: cover;
}
.p-event__item {
  margin: 50px auto 0;
  position: relative;
  z-index: 1;
  padding-bottom: 65px;
}
@media screen and (min-width: 768px) {
  .p-event__item {
    margin: clamp(4.05rem, 3.4322vw + 2.4025rem, 5.0625rem) auto 0 auto;
    padding-bottom: clamp(3.05rem, 2.5847vw + 1.8093rem, 3.8125rem);
  }
}
.p-event__item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  height: calc(100% - 80px);
  background-image: linear-gradient(to right, var(--gray) 1px, transparent 1px), linear-gradient(to bottom, var(--gray) 1px, transparent 1px);
  background-size: 21px 21px;
  background-position: 50% 100%;
  border: 1px solid var(--gray);
  border-top: none;
  border-left: none;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-event__item::after {
    width: calc(100% - clamp(5rem, 4.0254vw + 3.0678rem, 6.1875rem));
    height: calc(100% - clamp(6.25rem, 12.7119vw + 0.1483rem, 10rem));
    background-size: 25px 25px;
    background-position: top left;
  }
}
.p-event__line01 {
  position: absolute;
  width: 20px;
  height: auto;
  right: 50px;
  top: 95px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line01 {
    width: clamp(0.9375rem, 2.3305vw + -0.1811rem, 1.625rem);
    right: clamp(3.3125rem, 9.9576vw + -1.4672rem, 6.25rem);
    top: clamp(7.8125rem, 12.7119vw + 1.7108rem, 11.5625rem);
  }
}
.p-event__line02 {
  position: absolute;
  width: 100px;
  height: auto;
  left: -35px;
  top: calc(50% - 70px);
  transform: translateY(-50%);
  z-index: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-event__line02 {
    display: block;
    top: auto;
    transform: none;
    width: clamp(4.25rem, 12.2881vw + -1.6483rem, 7.875rem);
    left: clamp(3.85rem, 3.2627vw + 2.2839rem, 4.8125rem);
    bottom: clamp(3.75rem, 13.7712vw + -2.8602rem, 7.8125rem);
  }
}
.p-event__line03 {
  position: absolute;
  width: 40px;
  height: auto;
  left: 60px;
  bottom: 25px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line03 {
    width: clamp(1.625rem, 5.2966vw + -0.9174rem, 3.1875rem);
    left: clamp(7.55rem, 6.3983vw + 4.4788rem, 9.4375rem);
    bottom: clamp(3.125rem, 5.2966vw + 0.5826rem, 4.6875rem);
  }
}
.p-event__line04 {
  position: absolute;
  width: 100px;
  height: auto;
  right: -35px;
  bottom: 15px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line04 {
    width: clamp(4.25rem, 12.2881vw + -1.6483rem, 7.875rem);
    right: clamp(2.45rem, 2.0763vw + 1.4534rem, 3.0625rem);
    bottom: clamp(0rem, 10.5932vw + -5.0847rem, 3.125rem);
  }
}
.p-event__line05 {
  position: absolute;
  width: 40px;
  height: auto;
  left: 25px;
  top: 80px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line05 {
    width: clamp(1.625rem, 5.2966vw + -0.9174rem, 3.1875rem);
    left: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
    top: clamp(8rem, 6.7797vw + 4.7458rem, 10rem);
  }
}
.p-event__line06 {
  position: absolute;
  width: 40px;
  height: auto;
  left: -25px;
  bottom: 138px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line06 {
    width: clamp(1.625rem, 5.2966vw + -0.9174rem, 3.1875rem);
    left: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
    bottom: clamp(13.8rem, 11.6949vw + 8.1864rem, 17.25rem);
  }
}
.p-event__line07 {
  position: absolute;
  width: 20px;
  height: auto;
  right: 185px;
  bottom: 25px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line07 {
    width: clamp(0.9375rem, 2.3305vw + -0.1811rem, 1.625rem);
    right: clamp(18.7rem, 15.8475vw + 11.0932rem, 23.375rem);
    bottom: clamp(3.8rem, 3.2203vw + 2.2542rem, 4.75rem);
  }
}
.p-event__line08 {
  position: absolute;
  width: 100px;
  height: auto;
  right: 25px;
  top: 80px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line08 {
    width: clamp(4.25rem, 12.2881vw + -1.6483rem, 7.875rem);
    right: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
    top: clamp(4.6875rem, 18.2203vw + -4.0583rem, 10.0625rem);
  }
}
.p-event__line09 {
  position: absolute;
  width: 40px;
  height: auto;
  right: 25px;
  top: 143px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line09 {
    width: clamp(1.625rem, 5.2966vw + -0.9174rem, 3.1875rem);
    right: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
    top: clamp(14.3rem, 12.1186vw + 8.4831rem, 17.875rem);
  }
}
.p-event__line10 {
  position: absolute;
  width: 100px;
  height: auto;
  right: -25px;
  bottom: 25px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line10 {
    right: auto;
    width: clamp(4.25rem, 12.2881vw + -1.6483rem, 7.875rem);
    left: clamp(4.25rem, 12.2881vw + -1.6483rem, 7.875rem);
    bottom: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
  }
}
.p-event__line11 {
  position: absolute;
  width: 20px;
  height: auto;
  right: 136px;
  bottom: 25px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line11 {
    width: clamp(0.9375rem, 2.3305vw + -0.1811rem, 1.625rem);
    right: clamp(8.7rem, 7.3729vw + 5.161rem, 10.875rem);
    bottom: 0px;
  }
}
.p-event__line12 {
  position: absolute;
  width: 20px;
  height: auto;
  left: calc(50% - 131px);
  transform: translateX(-50%);
  bottom: 37px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-event__line12 {
    width: clamp(0.9375rem, 2.3305vw + -0.1811rem, 1.625rem);
    left: calc(50% - clamp(13.1rem, 11.1017vw + 7.7712rem, 16.375rem));
    bottom: clamp(3.75rem, 3.178vw + 2.2246rem, 4.6875rem);
  }
}
.p-event__box {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-event__box {
    display: flex;
    gap: clamp(2rem, 1.6949vw + 1.1864rem, 2.5rem);
    max-width: calc(50% + 620px);
  }
}
.p-event__box .p-event__slider {
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .p-event__box .p-event__slider {
    width: clamp(27.8125rem, 115.4661vw + -27.6112rem, 61.875rem);
  }
}
.p-event__box__ttl {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.4583333333;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-event__box__ttl {
    max-width: clamp(26rem, 22.0339vw + 15.4237rem, 32.5rem);
    width: calc(100% + clamp(3.75rem, 23.3051vw + -7.4364rem, 10.625rem));
    margin-left: clamp(-10.625rem, -23.3051vw + 7.4364rem, -3.75rem);
    margin-bottom: clamp(1.875rem, 8.0508vw + -1.9894rem, 4.25rem);
  }
}
.p-event__box__ttl::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--green);
  border: 1px solid var(--white);
  border-radius: 4px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-event__box__ttl::after {
    border: 2px solid var(--white);
    border-radius: 8px;
  }
}
.p-event__box__ttl::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 40px;
  width: 25.3333333333px;
  height: 56px;
  border-radius: 8px;
  background: url(../images/common/icon_01.svg) no-repeat center;
  background-size: contain;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-event__box__ttl::before {
    top: auto;
    left: clamp(1.25rem, 12.7119vw + -4.8517rem, 5rem);
    bottom: clamp(-2.5rem, -1.6949vw + -1.1864rem, -2rem);
    width: clamp(1.9rem, 1.6102vw + 1.1271rem, 2.375rem);
    height: clamp(4.2rem, 3.5593vw + 2.4915rem, 5.25rem);
  }
}
.p-event__box__ttl .txt {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-event__box__ttl .txt {
    padding: clamp(1.3rem, 1.1017vw + 0.7712rem, 1.625rem) clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem) clamp(1.1rem, 0.9322vw + 0.6525rem, 1.375rem) clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem);
    min-height: clamp(4.5015rem, 3.8148vw + 2.6704rem, 5.6269rem);
  }
}
.p-event__box__ttl .txt::after {
  content: "";
  height: 1px;
  position: absolute;
  width: 22px;
  left: 41px;
  top: 0;
  background-color: var(--green);
}
@media screen and (min-width: 768px) {
  .p-event__box__ttl .txt::after {
    top: auto;
    bottom: 0;
    height: 2px;
    width: clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem);
    left: clamp(1.375rem, 12.7119vw + -4.7267rem, 5.125rem);
  }
}
.p-event__box__content {
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .p-event__box__content {
    padding: 0;
    padding-top: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .p-event__box__content .c-txt16 {
    padding-right: clamp(0rem, -6.3559vw + 4.9258rem, 1.875rem);
  }
}
.p-event__box__content .c-txt16 {
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}
@media screen and (min-width: 768px) {
  .p-event__box.reverse {
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .p-event__box.reverse .p-event__box__content {
    padding-right: 0;
    padding-left: 40px;
  }
}
.p-event__box.reverse .p-event__slider__thumb:first-child {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .p-event__box.reverse .p-event__box__content .c-txt16 {
    padding-right: 0;
    padding-left: clamp(0rem, -6.3559vw + 4.9258rem, 1.875rem);
  }
}
@media screen and (min-width: 768px) {
  .p-event__box.reverse .p-event__box__ttl {
    margin-left: 0;
    margin-right: clamp(-10.625rem, -7.2034vw + -5.0424rem, -8.5rem);
  }
}
@media screen and (min-width: 768px) {
  .p-event__box.reverse .p-event__box__ttl::before {
    left: auto;
    right: clamp(1.25rem, 4.0254vw + -0.6822rem, 2.4375rem);
    bottom: clamp(-2.375rem, -1.6102vw + -1.1271rem, -1.9rem);
    transform: scale(-1, 1);
  }
}
@media screen and (min-width: 768px) {
  .p-event__box.reverse .p-event__box__ttl .txt::after {
    left: auto;
    right: clamp(1.3125rem, 4.2373vw + -0.7214rem, 2.5625rem);
    width: clamp(1.5rem, 1.2712vw + 0.8898rem, 1.875rem);
  }
}
.p-event__inner {
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .p-event__inner {
    padding-bottom: clamp(7.4rem, 6.2712vw + 4.3898rem, 9.25rem);
  }
}
/*# sourceMappingURL=event.css.map */