/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
/* ================================
UTILITIES
================================ */
.p-top .c-mv {
  margin-bottom: 83px;
}
@media screen and (min-width: 768px) {
  .p-top .c-mv {
    margin-bottom: clamp(4.5rem, 3.8136vw + 2.6695rem, 5.625rem);
  }
}
.p-top__list {
  display: grid;
  gap: 1px;
  border: 1px solid var(--green02);
  background-color: var(--green02);
  margin: 0 auto;
  position: relative;
  width: calc(100% - 8px);
}
@media screen and (min-width: 768px) {
  .p-top__list {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-top__list__item {
  background-color: var(--white);
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .p-top__list__item {
    padding-bottom: clamp(0.9rem, 0.7627vw + 0.5339rem, 1.125rem);
  }
}
.p-top__list__ttl {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.6;
  color: var(--white);
  text-align: center;
  display: block;
  background-color: var(--green);
  padding: 8px 15px 7px 15px;
}
@media screen and (min-width: 768px) {
  .p-top__list__ttl {
    font-size: clamp(0.9rem, 0.7627vw + 0.5339rem, 1.125rem);
    padding: 6px 15px 6px 15px;
  }
}
.p-top__list__icon {
  display: block;
  width: 69px;
  margin: 24px auto 17px;
}
@media screen and (min-width: 768px) {
  .p-top__list__icon {
    width: clamp(3.45rem, 2.9237vw + 2.0466rem, 4.3125rem);
    margin: clamp(1.65rem, 1.3983vw + 0.9788rem, 2.0625rem) auto clamp(1.7rem, 1.4407vw + 1.0085rem, 2.125rem);
  }
}
.p-top__list__img {
  width: 176px;
  margin: 13px auto -2px;
}
@media screen and (min-width: 768px) {
  .p-top__list__img {
    margin: clamp(0.7rem, 0.5932vw + 0.4153rem, 0.875rem) auto -1px;
    width: clamp(9.75rem, 8.2627vw + 5.7839rem, 12.1875rem);
  }
}
.p-top__list .num_01 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  color: var(--green);
  font-family: "Roboto", sans-serif;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-top__list .num_01 {
    font-size: clamp(4rem, 3.3898vw + 2.3729rem, 5rem);
  }
}
.p-top__list .num_02 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  color: var(--green);
  font-family: "Roboto", sans-serif;
  position: relative;
  left: -5px;
  top: -3px;
}
@media screen and (min-width: 768px) {
  .p-top__list .num_02 {
    font-size: clamp(3rem, 2.5424vw + 1.7797rem, 3.75rem);
    left: -5px;
    top: -3px;
  }
}
.p-top__list .num_03 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  color: var(--green);
  font-family: "Roboto", sans-serif;
  position: relative;
  left: -5px;
  top: -5px;
}
@media screen and (min-width: 768px) {
  .p-top__list .num_03 {
    font-size: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
    left: -5px;
    top: -5px;
  }
}
.p-top__list .unit {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  color: var(--green);
  position: relative;
  top: -8px;
}
@media screen and (min-width: 768px) {
  .p-top__list .unit {
    top: -8px;
    font-size: clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem);
  }
}
.p-top__list__txt {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .p-top__list__txt {
    gap: 5px;
    padding-left: 3px;
  }
}
.p-top__list__subtxt {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 12px;
  color: var(--black02);
}
@media screen and (min-width: 768px) {
  .p-top__list__subtxt {
    font-size: clamp(0.7rem, 0.5932vw + 0.4153rem, 0.875rem);
    margin-top: clamp(0.9rem, 0.7627vw + 0.5339rem, 1.125rem);
  }
}
.p-top__list__subtxt01 {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--black02);
}
@media screen and (min-width: 768px) {
  .p-top__list__subtxt01 {
    font-size: clamp(0.75rem, 0.6356vw + 0.4449rem, 0.9375rem);
  }
}
.p-top__list__subtxt02 {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 6px;
  margin-bottom: 6px;
  color: var(--black02);
}
@media screen and (min-width: 768px) {
  .p-top__list__subtxt02 {
    font-size: clamp(0.625rem, 0.4237vw + 0.4216rem, 0.75rem);
    margin-top: clamp(0.4rem, 0.339vw + 0.2373rem, 0.5rem);
    margin-bottom: 5px;
  }
}
.p-top__list01 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
@media screen and (min-width: 768px) {
  .p-top__list01 {
    grid-gap: clamp(1.25rem, 4.2373vw + -0.7839rem, 2.5rem);
    grid-template-columns: 1fr 1fr;
  }
}
.p-top__list01__link {
  display: block;
  overflow: hidden;
  position: relative;
}
.p-top__list01__link .c-btn01 {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 8px 0px 0px 0px;
}
.p-top__list01__link img {
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .p-top__list01__link:hover {
    opacity: 1;
  }
  .p-top__list01__link:hover img {
    transform: scale(1.05);
  }
  .p-top__list01__link:hover .c-arrow {
    transform: translateX(5px);
  }
}
.p-top__about {
  padding: 80px 0 40px 0;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-top__about {
    padding: clamp(5rem, 4.2373vw + 2.9661rem, 6.25rem) 0 clamp(6rem, 5.0847vw + 3.5593rem, 7.5rem) 0;
  }
}
.p-top__about__line01 {
  position: absolute;
  right: 0;
  top: -135px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line01 {
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    right: clamp(1.65rem, 1.3983vw + 0.9788rem, 2.0625rem);
    top: clamp(-1.5625rem, -1.0593vw + -0.7415rem, -1.25rem);
  }
}
.p-top__about__line02 {
  position: absolute;
  left: calc(50% + 26px);
  transform: translateX(-50%);
  top: -10px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line02 {
    transform: none;
    left: auto;
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    right: clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem);
    top: clamp(5rem, 4.2373vw + 2.9661rem, 6.25rem);
  }
}
.p-top__about__line03 {
  position: absolute;
  left: -45px;
  top: -47px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line03 {
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    left: clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem);
    top: calc(50% - clamp(7.45rem, 6.3136vw + 4.4195rem, 9.3125rem));
    transform: translateY(-50%);
  }
}
.p-top__about__line03_sp {
  position: absolute;
  left: -63px;
  top: calc(50% - 240px);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .p-top__about__line03_sp {
    display: none;
  }
}
.p-top__about__line04 {
  position: absolute;
  left: 0;
  top: -62px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line04 {
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    left: clamp(5.35rem, 4.5339vw + 3.1737rem, 6.6875rem);
    top: calc(50% - clamp(3.1rem, 2.6271vw + 1.839rem, 3.875rem));
    transform: translateY(-50%);
  }
}
.p-top__about__line04_sp {
  position: absolute;
  left: 12px;
  top: calc(50% - 152px);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .p-top__about__line04_sp {
    display: none;
  }
}
.p-top__about__line05 {
  position: absolute;
  right: -50px;
  top: 34px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line05 {
    right: auto;
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    left: clamp(1.65rem, 1.3983vw + 0.9788rem, 2.0625rem);
    top: clamp(2.85rem, 2.4153vw + 1.6907rem, 3.5625rem);
  }
}
.p-top__about__line06 {
  position: absolute;
  right: 0;
  top: 24px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line06 {
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    right: clamp(1.65rem, 1.3983vw + 0.9788rem, 2.0625rem);
    top: clamp(4.8rem, 4.0678vw + 2.8475rem, 6rem);
  }
}
.p-top__about__line07 {
  position: absolute;
  left: 80px;
  bottom: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line07 {
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    left: clamp(8.4rem, 7.1186vw + 4.9831rem, 10.5rem);
    bottom: clamp(1.2rem, 1.0169vw + 0.7119rem, 1.5rem);
  }
}
.p-top__about__line08 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__about__line08 {
    left: auto;
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    right: clamp(1.65rem, 1.3983vw + 0.9788rem, 2.0625rem);
    bottom: clamp(5.75rem, 4.8729vw + 3.411rem, 7.1875rem);
  }
}
.p-top__about__ttl {
  width: 100%;
  max-width: 235px;
  margin-bottom: 35px;
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  .p-top__about__ttl {
    max-width: clamp(28.8rem, 24.4068vw + 17.0847rem, 36rem);
    margin-bottom: clamp(2.6rem, 2.2034vw + 1.5424rem, 3.25rem);
  }
}
.p-top__about__inner {
  margin-bottom: 81px;
  width: 100%;
  padding: 0 24px;
}
@media screen and (min-width: 768px) {
  .p-top__about__inner {
    padding: 0;
    display: flex;
    align-items: flex-start;
    padding-right: 40px;
    margin-bottom: clamp(6.8rem, 5.7627vw + 4.0339rem, 8.5rem);
  }
}
.p-top__about__txt {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: var(--black01);
}
@media screen and (min-width: 768px) {
  .p-top__about__txt {
    font-size: clamp(1rem, 0.8475vw + 0.5932rem, 1.25rem);
  }
}
.p-top__about__img {
  width: calc(100% + 3px);
  flex-shrink: 0;
  margin-left: -24px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .p-top__about__img {
    margin-bottom: 0;
    margin-left: 0;
    width: calc(43.6% + clamp(0rem, -0.2119vw + 0.1642rem, 0.0625rem));
    position: sticky;
    top: clamp(3.5rem, 5.2885vw + 0.9615rem, 6.25rem);
  }
}
.p-top__about__img img {
  max-height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.p-top__about__content {
  width: 100%;
  padding-left: 46px;
}
@media screen and (min-width: 768px) {
  .p-top__about__content {
    padding-left: clamp(2.5rem, 16.9492vw + -5.6356rem, 7.5rem);
  }
}
.p-top__about__btn {
  padding-top: 35px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .p-top__about__btn {
    padding-left: 0;
    padding-top: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
  }
}
.p-top__about__btn01 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 40px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .p-top__about__btn01 {
    gap: clamp(1.25rem, 4.4492vw + -0.8856rem, 2.5625rem);
    padding-top: clamp(3rem, 2.5424vw + 1.7797rem, 3.75rem);
    padding-bottom: clamp(6rem, 5.0847vw + 3.5593rem, 7.5rem);
  }
}
.p-top__about__end {
  background-color: var(--green);
  padding: 100px 4px 80px 4px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-top__about__end {
    padding: clamp(6rem, 5.0847vw + 3.5593rem, 7.5rem) 0;
  }
}
.p-top__business {
  background-image: linear-gradient(to right, var(--gray) 1px, transparent 1px), linear-gradient(to bottom, var(--gray) 1px, transparent 1px);
  background-size: 21px 21px;
  background-position: 50% 0%;
  margin: 0 auto 100px;
  border: 1px solid var(--gray);
  border-top: none;
  border-left: none;
  position: relative;
  z-index: 1;
  padding: 0 24px;
}
@media screen and (min-width: 768px) {
  .p-top__business {
    padding: 0;
    border: 1px solid var(--gray);
    border-top: none;
    border-left: none;
    background-size: 25px 25px;
    width: calc(100% - clamp(5rem, 4.0254vw + 3.0678rem, 6.1875rem));
    background-position: top left;
    margin: 0 auto clamp(6rem, 5.0847vw + 3.5593rem, 7.5rem) auto;
  }
}
.p-top__business__line01 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-top__business__line01 {
    display: block;
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    left: 0;
    top: clamp(7.75rem, 6.5678vw + 4.5975rem, 9.6875rem);
  }
}
.p-top__business__line02 {
  position: absolute;
  right: -66px;
  top: calc(50% + 111px);
  transform: translateY(-50%);
  z-index: -1;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .p-top__business__line02 {
    display: block;
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    right: 0;
    top: clamp(3.3rem, 2.7966vw + 1.9576rem, 4.125rem);
  }
}
.p-top__business__line03 {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__business__line03 {
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    right: 0;
    top: clamp(6.45rem, 5.4661vw + 3.8263rem, 8.0625rem);
  }
}
.p-top__business__line04 {
  position: absolute;
  left: -1px;
  width: 100px;
  z-index: -1;
  top: calc(50% + 113px);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .p-top__business__line04 {
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    left: calc(50% + clamp(3.15rem, 2.6695vw + 1.8686rem, 3.9375rem));
    transform: translate(-50%, -50%);
    top: calc(50% + clamp(0.8rem, 0.678vw + 0.4746rem, 1rem));
  }
}
.p-top__business__line05 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-top__business__line05 {
    display: block;
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    left: calc(50% + clamp(5.05rem, 4.2797vw + 2.9958rem, 6.3125rem));
    transform: translate(-50%, -50%);
    top: calc(50% + clamp(5.15rem, 4.3644vw + 3.0551rem, 6.4375rem));
  }
}
.p-top__business__line06 {
  position: absolute;
  right: -15px;
  top: 64px;
  z-index: -1;
  width: 51px;
}
@media screen and (min-width: 768px) {
  .p-top__business__line06 {
    top: auto;
    right: auto;
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    left: 0;
    bottom: clamp(5.95rem, 5.0424vw + 3.5297rem, 7.4375rem);
  }
}
.p-top__business__line07 {
  position: absolute;
  width: 38px;
  left: 17px;
  bottom: 15px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-top__business__line07 {
    width: clamp(2.5rem, 2.3305vw + 1.3814rem, 3.1875rem);
    left: calc(50% + clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem));
    transform: translateX(-50%);
    bottom: clamp(4.8rem, 4.0678vw + 2.8475rem, 6rem);
  }
}
.p-top__business__line08 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-top__business__line08 {
    display: block;
    width: clamp(1.25rem, 1.2712vw + 0.6398rem, 1.625rem);
    right: clamp(16.2rem, 13.7288vw + 9.6102rem, 20.25rem);
    bottom: clamp(3.55rem, 3.0085vw + 2.1059rem, 4.4375rem);
  }
}
.p-top__business__line09 {
  position: absolute;
  right: -42px;
  bottom: 8px;
  z-index: -1;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .p-top__business__line09 {
    width: clamp(5rem, 9.7458vw + 0.322rem, 7.875rem);
    bottom: 46px;
    right: 0;
  }
}
.p-top__business__ttl {
  width: calc(100% + 20px);
  font-size: clamp(1.75rem, 26.6667vw + -4.5rem, 2rem);
  font-weight: 500;
  line-height: 1.65;
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .p-top__business__ttl {
    font-size: clamp(1.6rem, 1.3559vw + 0.9492rem, 2rem);
    line-height: 1.86;
    margin-bottom: clamp(1.85rem, 1.5678vw + 1.0975rem, 2.3125rem);
    padding-left: clamp(0rem, 0.8475vw + -0.4068rem, 0.25rem);
  }
}
.p-top__business__txt {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .p-top__business__txt {
    font-size: clamp(1rem, 0.8475vw + 0.5932rem, 1.25rem);
    padding-left: clamp(0rem, 0.8475vw + -0.4068rem, 0.25rem);
  }
}
.p-top__business__inner {
  padding-top: 40px;
  padding-bottom: 43px;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-top__business__inner {
    max-width: calc(50% + 620px);
    margin-left: auto;
    margin-right: 0;
    padding-top: clamp(1.25rem, 1.0593vw + 0.7415rem, 1.5625rem);
    display: flex;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: clamp(1.25rem, 1.0593vw + 0.7415rem, 1.5625rem);
    padding-bottom: clamp(3rem, 2.5424vw + 1.7797rem, 3.75rem);
  }
}
@media screen and (min-width: 768px) {
  .p-top__business__content {
    padding-right: clamp(1.25rem, 2.5424vw + 0.0297rem, 2rem);
    padding-top: clamp(1rem, 0.8475vw + 0.5932rem, 1.25rem);
  }
}
.p-top__business__content .c-title {
  margin-bottom: 32px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-top__business__content .c-title {
    margin-bottom: clamp(1.75rem, 1.4831vw + 1.0381rem, 2.1875rem);
  }
}
.p-top__business__btn {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-top__business__btn {
    justify-content: flex-start;
    padding-top: clamp(2.5rem, 2.1186vw + 1.4831rem, 3.125rem);
  }
}
.p-top__business__img {
  flex-shrink: 0;
  width: calc(100% + 48px);
  margin-left: -24px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 72px;
}
@media screen and (min-width: 768px) {
  .p-top__business__img {
    margin-left: 0;
    padding-top: 0;
    gap: clamp(1.85rem, 1.5678vw + 1.0975rem, 2.3125rem);
    width: clamp(20rem, 60.6971vw + -9.1346rem, 51.5625rem);
    position: sticky;
    top: 100px;
  }
}
.p-top__business__img img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.p-top__business__img .img_01 {
  width: 125%;
  max-width: 488px;
  position: relative;
  left: -155px;
}
@media screen and (min-width: 768px) {
  .p-top__business__img .img_01 {
    left: 0;
    max-width: clamp(18.75rem, 74.1525vw + -16.8432rem, 40.625rem);
  }
}
.p-top__business__img .img_02 {
  max-width: 366px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-top__business__img .img_02 {
    max-width: clamp(17.5rem, 57.2034vw + -9.9576rem, 34.375rem);
  }
}
.p-top__interview {
  background-color: var(--green);
  padding-top: 100px;
  padding-bottom: 78px;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .p-top__interview {
    padding-top: clamp(6rem, 5.0847vw + 3.5593rem, 7.5rem);
    padding-bottom: clamp(5.9rem, 5vw + 3.5rem, 7.375rem);
  }
}
.p-top__interview .c-title {
  position: relative;
  margin-bottom: 85px;
  left: -2px;
}
@media screen and (min-width: 768px) {
  .p-top__interview .c-title {
    margin-bottom: clamp(5.2rem, 4.4068vw + 3.0847rem, 6.5rem);
  }
}
.p-top__interview .c-ttl32 {
  text-align: center;
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .p-top__interview .c-ttl32 {
    margin-bottom: clamp(1.55rem, 1.3136vw + 0.9195rem, 1.9375rem);
  }
}
.p-top__interview__inner {
  padding: 0 4px;
}
@media screen and (min-width: 768px) {
  .p-top__interview__inner {
    padding: 0 clamp(0rem, 2.7542vw + -1.322rem, 0.8125rem);
  }
}
@media screen and (min-width: 768px) {
  .p-top__interview .c-listinter {
    width: calc(100% + clamp(0rem, 5.5085vw + -2.6441rem, 1.625rem));
    margin-left: clamp(-0.8125rem, -2.7542vw + 1.322rem, 0rem);
  }
}
.p-top__welfare {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 4px;
  padding-right: 4px;
}
@media screen and (min-width: 768px) {
  .p-top__welfare {
    padding-top: clamp(6rem, 5.0847vw + 3.5593rem, 7.5rem);
    padding-bottom: clamp(5.9rem, 5vw + 3.5rem, 7.375rem);
    padding-left: 0;
    padding-right: 0;
  }
}
.p-top__welfare .c-title {
  margin-bottom: 51px;
}
@media screen and (min-width: 768px) {
  .p-top__welfare .c-title {
    margin-bottom: clamp(2.15rem, 1.822vw + 1.2754rem, 2.6875rem);
  }
}
/*# sourceMappingURL=top.css.map */