/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
.u_txt_white {
  color: #fff !important;
}

.u_txt_black {
  color: #000 !important;
}

.u_mt_0 {
  margin-top: 0px !important;
}

.u_mb_0 {
  margin-bottom: 0px !important;
}

.u_mb_10 {
  margin-bottom: 10px !important;
}

.u_ml_0 {
  margin-left: 0px !important;
}

.u_mr_0 {
  margin-right: 0px !important;
}

@media screen and (min-width: 768px) {
  .u_mt_md_0 {
    margin-top: 0px !important;
  }
  .u_mb_md_0 {
    margin-bottom: 0px !important;
  }
  .u_ml_md_0 {
    margin-left: 0px !important;
  }
  .u_mr_md_0 {
    margin-right: 0px !important;
  }
}
.u_pl_0 {
  padding-left: 0 !important;
}

.u_pr_0 {
  padding-right: 0 !important;
}

.u_pt_3 {
  padding-top: 3px !important;
}

.u_pb_3 {
  padding-bottom: 3px !important;
}

.u_pl_20 {
  padding-left: 20px !important;
}

@media screen and (min-width: 768px) {
  .u_pl_md_9 {
    padding-left: 9px !important;
  }
}
.u_txt_left {
  text-align: left !important;
}

.u_txt_right {
  text-align: right !important;
}

.u_txt_center {
  text-align: center !important;
}

.u_fw900 {
  font-weight: 900 !important;
}

.u_fw800 {
  font-weight: 800 !important;
}

.u_fw700 {
  font-weight: 700 !important;
}

.u_fw600 {
  font-weight: 600 !important;
}

.u_fw500 {
  font-weight: 500 !important;
}

.u_fw400 {
  font-weight: 400 !important;
}

.u_fw300 {
  font-weight: 300 !important;
}

.u_f_en {
  font-family: "Montserrat", sans-serif !important;
}

.u_f_base {
  font-family: "Noto Sans JP", sans-serif !important;
}

/*!
global > color
------------------------------
*/
/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
/*!
global > mixin
------------------------------
*/
/*!
foundation > reset
------------------------------
*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table; /* 1 */
  color: inherit; /* 2 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --vh: 1vh;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 2;
  font-size: 4.2666666667vw;
  font-weight: 600;
  color: #000000;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: clamp(
      0.75rem,
      0.3472222222vw + 0.5833333333rem,
      1rem
  );
  }
}
.wrapper {
  position: relative;
  display: block;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  transition: 0.5s;
}

a:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}
.pc {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .pc {
    display: block !important;
  }
}
.sp {
  display: block !important;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
/*!
component > title
------------------------------
*/
.c_title {
  position: relative;
  padding-bottom: 6.4vw;
}

@media screen and (min-width: 768px) {
  .c_title {
    padding-bottom: clamp(
      1.75rem,
      2.4305555556vw + 0.5833333333rem,
      3.5rem
  );
  }
}
.c_title::before {
  content: "";
  width: 100%;
  height: 3.4666666667vw;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .c_title::before {
    height: clamp(
      0.6875rem,
      0.5208333333vw + 0.4375rem,
      1.0625rem
  );
  }
}
.c_title::after {
  content: "";
  width: 100%;
  height: 0;
  border-top: 1px dashed #000;
  position: absolute;
  left: 0;
  bottom: 1.6vw;
}

@media screen and (min-width: 768px) {
  .c_title::after {
    bottom: clamp(
      0.3125rem,
      0.2604166667vw + 0.1875rem,
      0.5rem
  );
  }
}
.c_title__jp {
  font-size: 4.2666666667vw;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #00A8DD;
  display: block;
  margin-bottom: 1.8666666667vw;
}

@media screen and (min-width: 768px) {
  .c_title__jp {
    margin-bottom: 0;
    letter-spacing: 0.1em;
    line-height: 1.45;
    font-size: clamp(
      0.875rem,
      0.5208333333vw + 0.625rem,
      1.25rem
  );
    padding-left: clamp(
      4.375rem,
      6.4236111111vw + 1.2916666667rem,
      9rem
  );
  }
}
.c_title__jp.white {
  color: #fff;
}

.c_title__en {
  display: block;
  font-size: 12vw;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.15;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  .c_title__en {
    font-size: clamp(
      3.75rem,
      5.2083333333vw + 1.25rem,
      7.5rem
  );
    padding-left: clamp(
      4.375rem,
      6.4236111111vw + 1.2916666667rem,
      9rem
  );
  }
}
.c_title_white .c_title__en {
  color: #fff;
}

.c_title_white::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.c_title_white::after {
  border-top: 1px dashed #fff;
}

.c_ttl50 {
  font-size: 6.1333333333vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.4782608696;
  position: relative;
  display: inline-block;
  color: #00A8DD;
}

@media screen and (min-width: 768px) {
  .c_ttl50 {
    font-size: clamp(
      1.5625rem,
      2.1701388889vw + 0.5208333333rem,
      3.125rem
  );
  }
}
.c_ttl50::after {
  content: "";
  width: 200%;
  height: 0;
  left: calc(100% + 4.2666666667vw);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border: 1px solid transparent;
  background-image: linear-gradient(to right, black 25%, transparent 25% 50%, black 50% 75%, transparent 75%);
  background-size: 18px 1px;
}

@media screen and (min-width: 768px) {
  .c_ttl50::after {
    left: calc(100% + clamp(
      1.4375rem,
      1.9965277778vw + 0.4791666667rem,
      2.875rem
  ));
  }
}
/*!
component > Text
------------------------------
*/
.c_txt14 {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .c_txt14 {
    font-size: 0.875rem;
  }
}
.c_txt16 {
  font-size: 4.2666666667vw;
  line-height: 2;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .c_txt16 {
    letter-spacing: 0.1em;
    line-height: 2;
    font-size: clamp(
      0.625rem,
      0.5208333333vw + 0.375rem,
      1rem
  );
  }
}
.c_txt18 {
  font-size: 4.2666666667vw;
  line-height: 2;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .c_txt18 {
    letter-spacing: 0.1em;
    line-height: 2;
    font-size: clamp(
      0.75rem,
      0.5208333333vw + 0.5rem,
      1.125rem
  );
  }
}
.c_txt20 {
  font-size: 4.2666666667vw;
  line-height: 2;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .c_txt20 {
    line-height: 2;
    font-size: clamp(
      0.875rem,
      0.5208333333vw + 0.625rem,
      1.25rem
  );
  }
}
.c_txt30 {
  font-size: 5.8666666667vw;
  line-height: 1.8181818182;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .c_txt30 {
    line-height: 2;
    font-size: clamp(
      1rem,
      1.2152777778vw + 0.4166666667rem,
      1.875rem
  );
  }
}
/*!
component > MV
------------------------------
*/
.c_mv {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.c_mv__inner {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 6.9333333333vw 0 16vw 9.0666666667vw;
}

@media screen and (min-width: 768px) {
  .c_mv__inner {
    padding: clamp(
      2.4375rem,
      3.3854166667vw + 0.8125rem,
      4.875rem
  ) clamp(
      3.375rem,
      4.6875vw + 1.125rem,
      6.75rem
  );
  }
}
.c_mv .title {
  color: #fff;
  mix-blend-mode: overlay;
  -webkit-mix-blend-mode: overlay;
  font-weight: 800;
  letter-spacing: 0.1em;
  line-height: 1.53;
  font-size: 8.9946666667vw;
}

@media screen and (min-width: 768px) {
  .c_mv .title {
    font-size: clamp(
      2.75rem,
      4.4618055556vw + 0.6083333333rem,
      5.9625rem
  );
    line-height: 1.47;
  }
}
.c_mv .title .num {
  letter-spacing: 0.1em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 9.4453333333vw;
  position: relative;
  top: 3px;
}

@media screen and (min-width: 768px) {
  .c_mv .title .num {
    top: 0;
    font-size: clamp(
      2.8125rem,
      4.7890625vw + 0.51375rem,
      6.260625rem
  );
  }
}
.c_mv .title .line {
  position: relative;
}

@media screen and (min-width: 768px) {
  .c_mv .title .line {
    top: clamp(
      -0.75rem,
      -0.6076388889vw + -0.0208333333rem,
      -0.3125rem
  );
  }
}
.c_mv .text {
  font-size: 4.2666666667vw;
  font-weight: 900;
  color: #fff;
  line-height: 1.4375;
  letter-spacing: 0.1em;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .c_mv .text {
    font-weight: 700;
    font-size: clamp(
      1rem,
      1.0416666667vw + 0.5rem,
      1.75rem
  );
    letter-spacing: 0.12em;
    margin-top: clamp(
      0.75rem,
      1.0416666667vw + 0.25rem,
      1.5rem
  );
  }
}
.c_mv .text_1 {
  letter-spacing: 0.14em;
}

.c_mv .c_scroll {
  display: none;
}

@media screen and (min-width: 768px) {
  .c_mv .c_scroll {
    display: block;
  }
}
@supports (-webkit-touch-callout: none) {
  .c_mv {
    height: calc(100vh - 80px);
  }
  @media screen and (min-width: 768px) {
    .c_mv {
      height: 100vh;
    }
  }
}
/*!
component > Scroll
------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.c_scroll {
  position: absolute;
  right: 6.1333333333vw;
  bottom: -11.2vw;
}

@media screen and (min-width: 768px) {
  .c_scroll {
    right: clamp(
      2.5rem,
      7.3784722222vw + -1.0416666667rem,
      7.8125rem
  );
    bottom: clamp(
      2.5rem,
      5.0347222222vw + 0.0833333333rem,
      6.125rem
  );
  }
}
.c_scroll__inner {
  display: inline-block;
  position: relative;
}

.c_scroll__txt {
  width: 18.6666666667vw;
  animation: spin 10s linear infinite;
  display: block;
}

@media screen and (min-width: 768px) {
  .c_scroll__txt {
    width: clamp(
      6.125rem,
      8.5069444444vw + 2.0416666667rem,
      12.25rem
  );
  }
}
.c_scroll__car {
  position: absolute;
  left: 0.5333333333vw;
  top: -5.0666666667vw;
  display: block;
  width: 5.6vw;
}

@media screen and (min-width: 768px) {
  .c_scroll__car {
    left: -2px;
    top: clamp(
      -1.25rem,
      -0.6944444444vw + -0.4166666667rem,
      -0.75rem
  );
    width: clamp(
      1.875rem,
      2.6041666667vw + 0.625rem,
      3.75rem
  );
  }
}
.c_scroll__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4.5333333333vw;
}

@media screen and (min-width: 768px) {
  .c_scroll__icon {
    width: clamp(
      1.25rem,
      1.7361111111vw + 0.4166666667rem,
      2.5rem
  );
  }
}
.c_scrollcontent__inner {
  position: relative;
}

.c_scrollcontent__sticky {
  top: 0;
  overflow: hidden;
  padding: 7.7333333333vw 5.3333333333vw 8vw 5.3333333333vw;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__sticky {
    position: sticky;
    padding: 0;
    padding-top: clamp(
      7.5rem,
      2.7777777778vw + 6.1666666667rem,
      9.5rem
  );
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .c_scrollcontent__content {
    width: clamp(
      43.5rem,
      61.1979166667vw + 14.125rem,
      87.5625rem
  );
    margin: 0 auto;
  }
  .c_scrollcontent__content .slick-list {
    overflow: visible;
  }
  .c_scrollcontent__content .slick-track {
    display: flex;
  }
}
.c_scrollcontent__item {
  position: relative;
  margin-bottom: 17.6vw;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item {
    margin-bottom: 0;
    margin-left: clamp(
      3rem,
      4.2534722222vw + 0.9583333333rem,
      6.0625rem
  );
    margin-right: clamp(
      3rem,
      4.2534722222vw + 0.9583333333rem,
      6.0625rem
  );
  }
}
.c_scrollcontent__item:last-child {
  margin-bottom: 0;
}

.c_scrollcontent__item .content {
  position: absolute;
  left: 2.9333333333vw;
  top: 2.9333333333vw;
  color: #fff;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .content {
    left: clamp(
      1.75rem,
      2.4305555556vw + 0.5833333333rem,
      3.5rem
  );
    top: clamp(
      1rem,
      1.3888888889vw + 0.3333333333rem,
      2rem
  );
  }
}
.c_scrollcontent__item .content .num_big {
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1;
  font-family: "Anton", sans-serif;
  text-shadow: 0 0 5px black;
  position: relative;
  font-size: 7.2vw;
  padding-right: 2.6666666667vw;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .content .num_big {
    text-shadow: 0 0 13px black;
    padding-right: clamp(
      1.125rem,
      1.0416666667vw + 0.625rem,
      1.875rem
  );
    font-size: clamp(
      3rem,
      4.1666666667vw + 1rem,
      6rem
  );
  }
}
.c_scrollcontent__item .content .num_big::after {
  content: "";
  width: 2px;
  height: 6.6666666667vw;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 2.1333333333vw;
  transform: rotate(28deg);
  box-shadow: 0 0 13px black;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .content .num_big::after {
    height: 100px;
    top: clamp(
      0.6875rem,
      0.9548611111vw + 0.2291666667rem,
      1.375rem
  );
    width: 4px;
    height: clamp(
      3.125rem,
      4.7743055556vw + 0.8333333333rem,
      6.5625rem
  );
  }
}
.c_scrollcontent__item .content .num_small {
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1;
  font-family: "Anton", sans-serif;
  text-shadow: 0 0 5px black;
  position: relative;
  font-size: 4.2666666667vw;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .content .num_small {
    text-shadow: 0 0 10px black;
    top: clamp(
      0rem,
      0.2604166667vw + -0.125rem,
      0.1875rem
  );
    font-size: clamp(
      1.5rem,
      2.0833333333vw + 0.5rem,
      3rem
  );
    padding-left: clamp(
      0.125rem,
      0.2604166667vw + 0rem,
      0.3125rem
  );
  }
}
.c_scrollcontent__item .content .text {
  position: relative;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 1;
  text-shadow: 0 0 5px black;
  font-size: 7.2vw;
  padding-left: 0.8vw;
  top: -0.5333333333vw;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .content .text {
    text-shadow: 0 0 15px black;
    font-size: clamp(
      3rem,
      8.6805555556vw + -2.5555555556rem,
      6.125rem
  );
    padding-left: clamp(
      0.6875rem,
      0.9548611111vw + 0.2291666667rem,
      1.375rem
  );
    top: -3px;
  }
}
.c_scrollcontent__item .btn {
  background-color: #fff;
  display: inline-flex;
  position: absolute;
  right: -2.9333333333vw;
  bottom: -2.9333333333vw;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .btn {
    right: clamp(
      -6rem,
      -4.1666666667vw + -1rem,
      -3rem
  );
    bottom: clamp(
      -3rem,
      -2.0833333333vw + -0.5rem,
      -1.5rem
  );
  }
}
.c_scrollcontent__item .c_btn01 {
  transition: 0.5s;
}

.c_scrollcontent__item .img {
  display: block;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .img {
    background-color: #fff;
    width: 100%;
  }
}
.c_scrollcontent__item .img img {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 324/182;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__item .img img {
    aspect-ratio: 1207/559;
  }
}
@media screen and (min-width: 768px) {
  .c_scrollcontent__item:hover .img img {
    opacity: 0.8;
  }
}
@media screen and (min-width: 768px) {
  .c_scrollcontent__item:hover .c_btn01 {
    opacity: 0.8;
  }
}
.c_scrollcontent__dots {
  width: 100%;
  display: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__dots {
    display: block;
    margin-top: clamp(
      2.5rem,
      3.4722222222vw + 0.8333333333rem,
      5rem
  );
  }
}
.c_scrollcontent__dots .slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 99px;
  background-color: #fff;
  margin: 5px;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__dots .slick-dots li {
    margin: clamp(
      0.3125rem,
      0.1736111111vw + 0.2291666667rem,
      0.4375rem
  );
    width: clamp(
      0.375rem,
      0.5208333333vw + 0.125rem,
      0.75rem
  );
    height: clamp(
      0.375rem,
      0.5208333333vw + 0.125rem,
      0.75rem
  );
  }
}
.c_scrollcontent__dots .slick-dots li.slick-active {
  background-color: #0F69CB;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__dots .slick-dots li:hover {
    opacity: 0.7;
  }
}
.c_scrollcontent__dots__item {
  width: 10px;
  height: 10px;
  border-radius: 99px;
  background-color: #fff;
  margin: 5px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .c_scrollcontent__dots__item {
    margin: clamp(
      0.3125rem,
      0.1736111111vw + 0.2291666667rem,
      0.4375rem
  );
    width: clamp(
      0.375rem,
      0.5208333333vw + 0.125rem,
      0.75rem
  );
    height: clamp(
      0.375rem,
      0.5208333333vw + 0.125rem,
      0.75rem
  );
  }
}
.c_scrollcontent__dots__item.active {
  background-color: #0F69CB;
}

/*!
component > Video
------------------------------
*/
.c_video {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
}

.c_video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.c_video__bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 2;
}

.c_bgani {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(69, 149, 188, 0.85);
  opacity: 0;
  z-index: -1;
}

/*!
component > List
------------------------------
*/
/*!
component > btn
------------------------------
*/
.c_btn01 {
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.6;
  background: url(../images/common/bg_btn.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 1.0666666667vw 3.4666666667vw;
  color: #fff;
  border: 1px solid #FFFFFF;
  font-size: 3.7333333333vw;
}

@media screen and (min-width: 768px) {
  .c_btn01 {
    letter-spacing: 0.05em;
    padding: clamp(
      1rem,
      1.4756944444vw + 0.2916666667rem,
      2.0625rem
  ) clamp(
      2.75rem,
      3.8194444444vw + 0.9166666667rem,
      5.5rem
  );
    font-size: clamp(
      0.9375rem,
      0.6076388889vw + 0.6458333333rem,
      1.375rem
  );
  }
}
.c_btn02 {
  background-color: #FFFFFF;
  color: #00389C;
  font-size: 3.125vw;
  font-weight: 800;
  letter-spacing: 0.05em;
  line-height: 1.6666666667;
  padding: 0.7058823529vw 2.3529411765vw;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .c_btn02 {
    width: clamp(
      8.125rem,
      9.6354166667vw + 3.5rem,
      15.0625rem
  );
    padding: clamp(
      0.3125rem,
      0.4340277778vw + 0.1041666667rem,
      0.625rem
  ) clamp(
      0.4375rem,
      0.6944444444vw + 0.1041666667rem,
      0.9375rem
  );
    font-size: clamp(
      1rem,
      0.5208333333vw + 0.75rem,
      1.375rem
  );
  }
}
.c_btn02:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .c_btn02:hover {
    opacity: 0.45;
  }
}
.c_totop {
  position: fixed;
  right: 20px;
  bottom: 60px;
  display: block;
  font-size: 0;
  width: 45px;
  height: 45px;
  transform: translateY(150px);
  transition: 0.5s;
  font-size: 0;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1;
  z-index: 8;
  background: url(../images/common/bg_btn.jpg) no-repeat center;
  background-size: cover;
  border-radius: 40px;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .c_totop {
    right: 60px;
    bottom: 69px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid #fff;
  }
}
.c_totop::before {
  position: absolute;
  top: calc(50% + 2px);
  left: 50%;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .c_totop::before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 15px;
    height: 15px;
    top: calc(50% + 3px);
  }
}
.c_totop:hover {
  transform: translateY(-20px) !important;
}

/*!
component > Gnavi
------------------------------
*/
.c_gnavi {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  width: 100%;
  height: 100vh;
  display: none;
  background: url(../images/common/bg_gnavi.svg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .c_gnavi {
    background: none;
    position: relative;
    width: auto;
    height: auto;
    display: block;
  }
}
.c_gnavi__inner {
  width: 100%;
  margin: 0 auto;
  padding: 28vw 22.1333333333vw;
  overflow-y: auto;
  height: 100%;
  transition: padding 0.5s;
}

@media screen and (min-width: 768px) {
  .c_gnavi__inner {
    padding: 0;
    margin: 0;
    max-width: unset;
    padding-top: clamp(
      0rem,
      1.1284722222vw + -0.5416666667rem,
      0.8125rem
  );
    display: flex;
    align-items: center;
  }
}
.c_gnavi__text__en {
  font-size: 4.8vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  display: block;
}

@media screen and (min-width: 768px) {
  .c_gnavi__text__en {
    font-weight: 700;
    display: inline-block;
    font-size: clamp(
      0.6875rem,
      0.4340277778vw + 0.4791666667rem,
      1rem
  );
  }
}
.c_gnavi__text__jp {
  display: block;
  color: #00C2FF;
  font-size: 2.6666666667vw;
  letter-spacing: 0.05em;
  line-height: 1.6;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .c_gnavi__text__jp {
    display: none;
  }
}
.c_gnavi__link {
  display: block;
}

@media screen and (min-width: 768px) {
  .c_gnavi__link {
    display: inline-block;
  }
}
.c_gnavi__link01 {
  position: relative;
  display: inline-block;
  padding-right: 6.6666666667vw;
  font-size: 3.7333333333vw;
  font-weight: 700;
  padding-bottom: 0.8vw;
}

@media screen and (min-width: 768px) {
  .c_gnavi__link01 {
    display: none;
  }
}
.c_gnavi__link01 .icon {
  display: inline-block;
  width: 4.8vw;
  position: absolute;
  right: 0;
  top: -1.3333333333vw;
}

.c_gnavi__link01::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .c_gnavi__list {
    display: flex;
    position: relative;
    top: 0;
  }
}
.c_gnavi__list__item {
  margin-bottom: 4.8vw;
}

@media screen and (min-width: 768px) {
  .c_gnavi__list__item {
    margin-bottom: 0;
    margin-right: clamp(
      0.625rem,
      6.0763888889vw + -2.2916666667rem,
      5rem
  );
  }
}
@media screen and (min-width: 768px) {
  .c_gnavi__list__item.end {
    margin-right: clamp(
      0.9375rem,
      3.2118055556vw + -0.6041666667rem,
      3.25rem
  );
  }
}
/*!
component > footer
------------------------------
*/
.c_footer {
  background-color: #EEEEEE;
  text-align: center;
  padding: 8.8vw 0 10.1333333333vw 0;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .c_footer {
    padding: clamp(
      3.25rem,
      4.4270833333vw + 1.125rem,
      6.4375rem
  ) 0;
  }
}
.c_footer .logo {
  display: inline-block;
  width: 77.0666666667vw;
  margin-bottom: 4vw;
}

@media screen and (min-width: 768px) {
  .c_footer .logo {
    width: clamp(
      13.75rem,
      19.0104166667vw + 4.625rem,
      27.4375rem
  );
    margin-bottom: clamp(
      1.625rem,
      2.2569444444vw + 0.5416666667rem,
      3.25rem
  );
  }
}
.c_footer .copy {
  font-size: 2.6666666667vw;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #14469C;
  margin-top: 4vw;
}

@media screen and (min-width: 768px) {
  .c_footer .copy {
    font-size: clamp(
      0.625rem,
      0.5208333333vw + 0.375rem,
      1rem
  );
    margin-top: 50px;
  }
}
.c_footer__link {
  font-size: 3.2vw;
  font-weight: 700;
  padding-right: 5.3333333333vw;
  display: inline-block;
  color: #14469C;
  letter-spacing: 0.05em;
  line-height: 1.4166666667;
  position: relative;
}

@media screen and (min-width: 768px) {
  .c_footer__link {
    padding-right: clamp(
      1.25rem,
      0.8680555556vw + 0.8333333333rem,
      1.875rem
  );
    font-size: clamp(
      0.75rem,
      0.5208333333vw + 0.5rem,
      1.125rem
  );
  }
}
.c_footer__link::after {
  content: "";
  background: url(../images/common/icon_blank.svg) no-repeat center;
  background-size: contain;
  width: 4vw;
  height: 4vw;
  position: absolute;
  right: 0;
  top: 0.5333333333vw;
}

@media screen and (min-width: 768px) {
  .c_footer__link::after {
    top: clamp(
      0.125rem,
      0.2604166667vw + 0rem,
      0.3125rem
  );
    width: clamp(
      0.875rem,
      0.5208333333vw + 0.625rem,
      1.25rem
  );
    height: clamp(
      0.8125rem,
      0.6076388889vw + 0.5208333333rem,
      1.25rem
  );
  }
}
/*!
component > header
------------------------------
*/
.c_header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  color: #fff;
  padding: 3.7333333333vw 14.6666666667vw 3.7333333333vw 2.1333333333vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.5s;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .c_header {
    padding: clamp(
      0.625rem,
      1.0416666667vw + 0.125rem,
      1.375rem
  ) clamp(
      7.5rem,
      8.9409722222vw + 3.2083333333rem,
      13.9375rem
  ) clamp(
      0.625rem,
      1.0416666667vw + 0.125rem,
      1.375rem
  ) clamp(
      0.9375rem,
      0.4340277778vw + 0.7291666667rem,
      1.25rem
  );
  }
}
.c_header__logo {
  width: 45.3333333333vw;
  display: block;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .c_header__logo {
    position: relative;
    top: 0;
    width: clamp(
      12.5rem,
      21.1120764553vw + 2.3530082537rem,
      27.6875rem
  );
  }
}
.c_header__logo img {
  display: block;
}

.c_header .btn {
  font-size: 3.2vw;
  letter-spacing: 0.05em;
  font-weight: 700;
  line-height: 1;
  padding: 1.6vw 3.7333333333vw;
  border: 1px solid #fff;
  text-align: center;
  position: absolute;
  right: 14.6666666667vw;
  top: 2.6666666667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background 0.5s, color 0.5s, right 0.5s;
}

@media screen and (min-width: 768px) {
  .c_header .btn {
    right: clamp(
      1.25rem,
      2.7777777778vw + -0.0833333333rem,
      3.25rem
  );
    top: clamp(
      0.4375rem,
      1.3888888889vw + -0.2291666667rem,
      1.4375rem
  );
    letter-spacing: 0.1em;
    border: clamp(
      0.0625rem,
      0.1736111111vw + -0.0208333333rem,
      0.1875rem
  ) solid #fff;
    padding: clamp(
      0.5rem,
      0.6944444444vw + 0.1666666667rem,
      1rem
  ) clamp(
      0.625rem,
      2.2569444444vw + -0.4583333333rem,
      2.25rem
  );
    font-size: clamp(
      0.75rem,
      0.4340277778vw + 0.5416666667rem,
      1.0625rem
  );
  }
}
.c_header .btn::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.5s;
}

.c_header .btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/common/bg_btn.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.c_header .btn__content {
  position: relative;
  z-index: 3;
}

.c_header .btn:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .c_header .btn:hover {
    color: #00389C;
  }
}
@media screen and (min-width: 768px) {
  .c_header .btn:hover::before {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .c_header__btn {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .c_header .c_gnavi__btn {
    display: none;
  }
}
.c_header .c_gnavi__btn .btn {
  position: relative;
  right: 0;
  padding: 3.4666666667vw 4vw;
  font-weight: 600;
}

.c_header.active {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .c_header.active {
    color: #284DA1;
  }
}
.c_header.active .c_header__btn .btn {
  color: #fff;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  right: 14.6666666667vw;
  padding: 4.2666666667vw 5.3333333333vw;
}

@media screen and (min-width: 768px) {
  .c_header.active .c_header__btn .btn {
    right: 0;
    width: clamp(
      7.5rem,
      8.9409722222vw + 3.2083333333rem,
      13.9375rem
  );
    height: clamp(
      2.75rem,
      3.7326388889vw + 0.9583333333rem,
      5.4375rem
  );
    padding: 2px clamp(
      0.625rem,
      2.2569444444vw + -0.4583333333rem,
      2.25rem
  );
  }
}
.c_header.active .c_header__btn .btn::after {
  display: block;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .c_header.active .c_header__btn .btn:hover {
    color: #00389C;
  }
}
@media screen and (min-width: 768px) {
  .c_header.active .c_header__btn .btn:hover::before {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .c_header.active .c_header__btn .btn:hover::after {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .c_header.active .c_gnavi__inner {
    padding-top: 0;
  }
}
.c_header.active .c_gnavi__inner .btn {
  position: relative;
  background: unset;
}

.c_header.active .c_toggle::after {
  background: #0E277A;
}

.c_header.active .c_toggle::before {
  background: #0E277A;
}

.c_header.active .c_toggle__line {
  background: #0E277A;
}

.c_header.active .c_toggle.active::before {
  background: #fff;
}

.c_header.active .c_toggle.active::after {
  background: #fff;
}

.c_toggle {
  position: fixed;
  display: block;
  right: 4.5333333333vw;
  top: 3.2vw;
  width: 5.6vw;
  height: 5.8666666667vw;
  cursor: pointer;
  z-index: 11;
}

@media screen and (min-width: 768px) {
  .c_toggle {
    display: none;
  }
}
.c_toggle::after {
  position: absolute;
  top: 4.5333333333vw;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.c_toggle::before {
  position: absolute;
  top: 0.8vw;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

.c_toggle__line {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-50%);
  transition: 0.5s;
}

.c_toggle.active::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.c_toggle.active::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c_toggle.active .c_toggle__line {
  opacity: 0;
}

/*!
component > Other
------------------------------

- loadpage
------------------------------
*/
.is_loadding .c_loading {
  opacity: 1;
  pointer-events: all;
}

.c_loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(../images/common/bg_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.c_loading__content {
  position: relative;
  -webkit-transform: translate(-15px, -15px);
  transform: translate(-15px, -15px);
}

.c_loading__item {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
}

.c_loading__item:first-child {
  -webkit-animation: ball-zig 0.7s 0s infinite linear;
  animation: ball-zig 0.7s 0s infinite linear;
}

.c_loading__item:last-child {
  -webkit-animation: ball-zag 0.7s 0s infinite linear;
  animation: ball-zag 0.7s 0s infinite linear;
}

@-webkit-keyframes ball-zig {
  33% {
    -webkit-transform: translate(-15px, -30px);
    transform: translate(-15px, -30px);
  }
  66% {
    -webkit-transform: translate(15px, -30px);
    transform: translate(15px, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes ball-zig {
  33% {
    -webkit-transform: translate(-15px, -30px);
    transform: translate(-15px, -30px);
  }
  66% {
    -webkit-transform: translate(15px, -30px);
    transform: translate(15px, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes ball-zag {
  33% {
    -webkit-transform: translate(15px, 30px);
    transform: translate(15px, 30px);
  }
  66% {
    -webkit-transform: translate(-15px, 30px);
    transform: translate(-15px, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes ball-zag {
  33% {
    -webkit-transform: translate(15px, 30px);
    transform: translate(15px, 30px);
  }
  66% {
    -webkit-transform: translate(-15px, 30px);
    transform: translate(-15px, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/*!
layout > container
------------------------------
*/
.l_container {
  width: unset;
  padding: 0 7.2vw;
}

@media screen and (min-width: 768px) {
  .l_container {
    box-sizing: border-box;
    margin: 0 auto;
    width: auto;
  }
  .l_container {
    max-width: 1468px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
/*!
page > common > common
------------------------------
*/

/*# sourceMappingURL=common.css.map */
