@use "sass:math";
@use "../../global" as *;

.caution {
    margin-top: 20px;
    text-align: center;
    padding-left: 1em;
    text-indent: -1em;
  }

.contact {
    background-color: #43B2FF;
    position: relative;
    padding: 60px 0 100px;
    @include mq() {
        padding: 127px 0 270px;
        padding: clamped(100,127,768,1024) 0 clamped(200,270,768,1024);
    }
    &_notice {
        color: white;
        padding-top: 20px;
        font-size: rem(16);
        @include mq() {
            text-align: center;
            font-size: rem(18);
            padding-top: 30px;
        }
    }
    &_chat {
        text-align: center;
        color: white;
        margin-top: 20px;
        @include mq() {
            margin-top: 20px;
        }
        &_btn {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
            @include mq() {
                margin-top: 19px;
            }
        }
    }
    &::after {
        content: "";
        background-image: url(../images/top/img_contact_pattern.png);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-bottom: math.div(109,1600)*100%;
        @include mq() {
            min-width: 1600px;
            min-height: 109px;
            
        }
    }
    .c_heading {
        color: white;
    }
    &_form {
        background-color: white;
        border-radius: 10px;
        margin: 40px auto 0;
        padding: 40px 20px 50px;
        @include mq() {
            max-width: 1000px;
            margin-top: 80px;
            padding: 60px 60px 80px;
            padding: 60px clamped(30,60,768,1024) clamped(60,80,768,1024);
            font-size: clamped(16,20,768,1024);
        }
        &_item {
            @include mq() {
                display: flex;
            }
            &:not(:last-child) {
                margin-bottom: 25px;
                @include mq() {
                    margin-bottom: 30px;
                }
            }
        }
        &_lable {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            @include mq() {
                margin-bottom: 0;
                width: 320px;
                flex-shrink: 0;
                width: clamped(260,320,768,1024);
            }
        }
        &_require,&_notrequire {
            font-size: math.div(16em,20);
            display: flex;
            align-items: center;
            justify-content: center;
            width: math.div(46em,16);
            height: math.div(32em,16);
            border-radius: math.div(10em,16);
            margin-right: 10px;
            @include mq() {
                margin-right: 20px;
            }
        }
        &_require {
            background-color: $c_third;
            color: $c_second;
        }
        &_notrequire {
            background-color: #EDEFF0;
        }
        &_input {
            width: 100%;
            input:not([type=checkbox]),textarea {
                width: 100%;
                padding: 10px 20px;
                background-color: #EDEFF0;
                border-radius: 10px;
                outline: none !important;
                @include mq() {
                    font-size: clamped(16,20,768,1024);
                    // padding: 26px 30px 25px;
                    // padding: math.div(26em,20) math.div(30em,20) math.div(25em,20);
                    padding: 11px 20px 10px;
                }
                &::placeholder {
                    color: #BCBCBC;
                }
            }
        }
        &_checked {
            align-items: flex-start;
            &__wrap {
                font-weight: 500;
                // @include mq() {
                //     margin-top: 13px;
                //     margin-top: clamped(0,13,768,1024);
                // }
                display: flex;
                flex-wrap: wrap;
                gap: 15px 20px;
                @include mq() {
                    gap: 20px 40px;
                }
            }
            input {
                opacity: 0;
                position: absolute;
                z-index: -1;
                &:checked ~ .contact_form_checked__custom {
                    background-color: $c_second;
                    background-image: url(../images/top/icon_checked.svg);
                }
            }
            textarea {
                resize: none;
                height: 80px;
                margin-top: 10px;
                @include mq() {
                    margin-top: 16px;
                }
            }
            &__label {
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                // &:not(:last-child) {
                //     margin-bottom: 10px;
                //     @include mq() {
                //         margin-bottom: 16px;
                //     }
                // }
            }
            &__custom {
                width: math.div(32em,20);
                height: math.div(32em,20);
                border: 2px solid #EDEFF0;
                // border-radius: 10px;
                border-radius: math.div(10em,20);
                margin-right: math.div(14em,20);
                display: block;
                background-size: 80% auto;
                background-repeat: no-repeat;
                background-position: center;
            }
            &__desc {
                line-height: 1;
            }
            &__other {
                display: flex;
                align-items: center;
                #other_content {
                    position: static;
                    opacity: 1;
                    width: 180px;
                    z-index: 1;
                    font-size: rem(16);
                    padding: 5px 10px;
                    margin: 0 5px;
                    // background-color: #EDEFF0;
                }
            }
        }
        &_textarea {
            align-items: flex-start;
            .contact_form_lable {
                @include mq() {
                    padding-top: 25px;
                }
            }
            textarea {
                height: 170px;
                resize: none;
            }
        }
        &_btn {
            margin-top: 40px;
            text-align: center;
            @include mq() {
                margin-top: 60px;
            }
            .c_btn {
                letter-spacing: 0.05em;
                @include mq() {
                    max-width: 240px;
                    height: math.div(80em,20);
                }
            }
        }
        &_file {
            @include mq() {
                align-items: flex-start;
            }
            .contact_form_lable {
                @include mq() {
                    padding-top: 14px;
                }
            }
            
        }
        &_url {
            @include mq() {
                align-items: flex-start;
            }
            .contact_form_lable {
                @include mq() {
                    padding-top: 10px;
                }
            }
            
        }
        &__notice {
            font-size: rem(14);
            margin-top: 8px;
            @include mq() {
                font-size: rem(16);
                margin-top: 12px;
            }
        }
    }
}