---
layout: _default
title: Title1321
description: 
keyword:
vendorcss: ['slick/slick']
vendorjs: ['slick/slick.min']
css: ['top']
js: ['top']
page: top
---
<script>
    if (!window.sessionStorage.getItem("storage_loading")) {
        document.documentElement.classList.add("is-loading");    
        window.sessionStorage.setItem("storage_loading", new Date().getTime().toString());    
    }
</script>
<main class="p-top">   
    <div class="c-loading">
        <div class="c-loading__inner">
            <div class="c-loading__content">
                <div class="c-loading__item"></div>
                <div class="c-loading__item"></div>
            </div>
        </div>
    </div>   
    <h1><a href="./about">Top test abc</a></h1>
    <img src="./assets/images/common/img_dummy.webp" alt="">
</main>
