.mv {
    > .inner {
        padding: 0.2px;
    }
    &_wrap {
    }
    &_cover {
        height: 450px;
        position: relative;
        &::after {
            content: "";
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            background-image: url("./../images/commons/icons/icon_play.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            translate: -50% -50%;
        }
        @include media_min_query() {
            height: auto;
            &::after {
                width: 120px;
                height: 120px;
            }
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &_content {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #f7f9fc;

        padding-right: 20px;
        padding-bottom: 40px;
        @include media_min_query() {
            padding-right: 76px;
            padding-bottom: 82px;
        }
    }
    &_heading {
        text-align: right;
        padding-right: 20px;
        position: relative;
        &::before,
        &::after {
            content: "";
            width: 5px;
            height: 50%;
            position: absolute;
            right: 2px;
        }
        &::before {
            top: 50%;
            translate: 0 -100%;
            background-color: #0fb4b4;
        }
        &::after {
            bottom: 50%;
            translate: 0 100%;
            background-color: #2f57ff;
        }
        @include media_min_query() {
            padding-right: 40px;
            &::after,
            &::before {
                width: 10px;
            }
        }
        .en,
        .jp {
            display: block;
            line-height: 1.1;
        }
        > .en {
            @extend %f_75;
            font-family: $f_poppins;
            font-weight: 600;
        }
        > .jp {
            @extend %f_35;
            font-family: $f_noto_serif;
            font-weight: 400;
            letter-spacing: -0.02em;
        }
    }
}
