@use "../global"as *;

/*!
layout > container
------------------------------
*/

.container {
    width: unset;
    padding: 0 20px;

}

@media screen and (min-width: 768px) {
    %_container {
        box-sizing: border-box;
        margin: 0 auto;
        width: auto;
    }

    .container {
        max-width: $width-content;
        padding: 0 20px;
        margin: 0 auto;
        width: 100%;
        @extend %_container;
    }
}