@use "sass:math";
@use "../global" as *;

/*!
component > header_01
------------------------------
*/

.c-header-01 {
    position: relative;
    width: 100%;
    z-index: 10;
    padding: 15px 20px;
    background-color: var(--white);
    color: var(--base);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    @include mq(md) {
        padding: 20px 40px;
    }

    .c-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
