.career {
    > .inner {
        padding: 0.1px;
    }

    &_wrap {
        margin-top: 100px;
        padding-bottom: 60px;
        @include media_min_query("lg") {
            display: flex;
            align-items: flex-start;
        }
        @include media_min_query("xl") {
            margin-top: 200px;
            padding-bottom: 200px;
        }
    }

    &_left_side,
    &_right_side {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    &_left_side {
        @include media_min_query("lg") {
            width: 500px;
            max-width: 32%;

            margin-left: 0;
        }
        img {
            &:nth-child(1) {
                width: 410px;
                max-width: 82%;
            }
            &:nth-child(2) {
                position: absolute;
                width: 174px;
                max-width: 35%;
                top: 82.3%;
                left: 64.5%;
            }
        }
    }
    &_right_side {
        @include media_min_query("lg") {
            width: 494px;
            max-width: 31%;
            margin-right: 0;
        }
        img {
            &:nth-child(1) {
                width: 410px;
                max-width: 83%;

                padding-top: 60px;
                margin-left: auto;
            }
            &:nth-child(2) {
                position: absolute;
                width: 238px;
                max-width: 49%;
                top: 0;
                left: 0;
            }
            @include media_min_query("lg") {
                &:nth-child(1) {
                    padding-top: 200px;
                }
            }
        }
    }

    &_body {
        width: 600px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 80px 20px 40px 20px;

        @include media_min_query("lg") {
            width: 520px;
            max-width: 37%;
            padding-bottom: 80px;
        }
        @include media_min_query("xl") {
            padding-top: 150px;
            padding-bottom: 150px;
        }
    }
    &_head {
        text-align: center;
        .p_sub_lead {
            letter-spacing: -0.02em;
            margin-top: 16px;
            @include media_min_query("xl") {
                font-size: 4rem;
            }
        }
    }
    &_main {
        margin-top: 20px;
        @include media_min_query() {
            margin-top: 45px;
        }
        .p {
            letter-spacing: -0.08em;
            line-height: 1.9;
        }
    }
    &_foot {
        margin-top: 25px;
        @include media_min_query() {
            margin-top: 57px;
        }
        .btn {
            margin-left: auto;
            margin-right: auto;
            @include media_max_query() {
                width: 375px;
            }
            @include media_min_query() {
                width: 320px;
            }
        }
    }
    &_cover {
        @include media_max_query() {
            height: 280px;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
