/*!
foundation > reset
------------------------------
*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  line-height: 1.7;
  font-size: 0.875rem;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
}

.u_d_none {
  display: none !important;
}

.u_d_inline {
  display: inline !important;
}

.u_d_inline_block {
  display: inline-block !important;
}

.u_d_block {
  display: block !important;
}

.u_d_flex {
  display: flex !important;
}
.fw_400 {
  font-weight: 400 !important;
}

.fw_500 {
  font-weight: 500 !important;
}

.fw_700 {
  font-weight: 700 !important;
}

.fw_900 {
  font-weight: 900 !important;
}

.fz11 {
  font-size: 0.625rem;
}

.fz12 {
  font-size: 0.6875rem;
}

.fz13 {
  font-size: 0.75rem;
}

.fz14 {
  font-size: 0.75rem;
}

.fz15 {
  font-size: 0.8125rem;
}

.fz16 {
  font-size: 0.875rem;
}

.fz17 {
  font-size: 0.9375rem;
}

.fz18 {
  font-size: 1rem;
}

.fz19 {
  font-size: 1rem;
}

.fz20 {
  font-size: 1rem;
}

.fz21 {
  font-size: 1.0625rem;
}

.fz22 {
  font-size: 1.0625rem;
}

.fz23 {
  font-size: 1.125rem;
}

.fz24 {
  font-size: 1.125rem;
}

.fz25 {
  font-size: 1.125rem;
}

.fz26 {
  font-size: 1.1875rem;
}

.fz27 {
  font-size: 1.1875rem;
}

.fz28 {
  font-size: 1.25rem;
}

.fz29 {
  font-size: 1.25rem;
}

.fz30 {
  font-size: 1.3125rem;
}

.fz31 {
  font-size: 1.3125rem;
}

.fz32 {
  font-size: 1.3125rem;
}

.fz33 {
  font-size: 1.375rem;
}

.fz34 {
  font-size: 1.375rem;
}

.fz35 {
  font-size: 1.375rem;
}

.fz36 {
  font-size: 1.4375rem;
}

.fz37 {
  font-size: 1.4375rem;
}

.fz38 {
  font-size: 1.4375rem;
}

.fz39 {
  font-size: 1.4375rem;
}

.fz40 {
  font-size: 1.4375rem;
}

.fz41 {
  font-size: 1.5rem;
}

.fz42 {
  font-size: 1.5rem;
}

.fz43 {
  font-size: 1.5rem;
}

.fz44 {
  font-size: 1.5rem;
}

.fz45 {
  font-size: 1.5625rem;
}

.fz46 {
  font-size: 1.5625rem;
}

.fz47 {
  font-size: 1.5625rem;
}

.fz48 {
  font-size: 1.5625rem;
}

.fz49 {
  font-size: 1.625rem;
}

.fz50 {
  font-size: 1.625rem;
}

.fz51 {
  font-size: 1.625rem;
}

.fz52 {
  font-size: 1.625rem;
}

.fz53 {
  font-size: 1.625rem;
}

.fz54 {
  font-size: 1.625rem;
}

.fz55 {
  font-size: 1.625rem;
}

.fz56 {
  font-size: 1.6875rem;
}

.fz57 {
  font-size: 1.6875rem;
}

.fz58 {
  font-size: 1.6875rem;
}

.fz59 {
  font-size: 1.6875rem;
}

.fz60 {
  font-size: 1.6875rem;
}

.fz61 {
  font-size: 1.75rem;
}

.fz62 {
  font-size: 1.75rem;
}

.fz63 {
  font-size: 1.75rem;
}

.fz64 {
  font-size: 1.75rem;
}

.fz65 {
  font-size: 1.75rem;
}

.fz66 {
  font-size: 1.8125rem;
}

.fz67 {
  font-size: 1.875rem;
}

.fz68 {
  font-size: 1.875rem;
}

.fz69 {
  font-size: 1.875rem;
}

.fz70 {
  font-size: 1.875rem;
}

.fz71 {
  font-size: 1.9375rem;
}

.fz72 {
  font-size: 2rem;
}

.fz73 {
  font-size: 2rem;
}

.fz74 {
  font-size: 2rem;
}

.fz75 {
  font-size: 2rem;
}

.fz76 {
  font-size: 2.125rem;
}

.fz77 {
  font-size: 2.125rem;
}

.fz78 {
  font-size: 2.125rem;
}

.fz79 {
  font-size: 2.125rem;
}

.fz80 {
  font-size: 2.125rem;
}

.fz81 {
  font-size: 2.1875rem;
}

.fz82 {
  font-size: 2.1875rem;
}

.fz83 {
  font-size: 2.1875rem;
}

.fz84 {
  font-size: 2.25rem;
}

.fz85 {
  font-size: 2.25rem;
}

.fz86 {
  font-size: 2.3125rem;
}

.fz87 {
  font-size: 2.3125rem;
}

.fz88 {
  font-size: 2.3125rem;
}

.fz89 {
  font-size: 2.3125rem;
}

.fz90 {
  font-size: 2.3125rem;
}

.fz91 {
  font-size: 2.375rem;
}

.fz92 {
  font-size: 2.375rem;
}

.fz93 {
  font-size: 2.4375rem;
}

.fz94 {
  font-size: 2.4375rem;
}

.fz95 {
  font-size: 2.4375rem;
}

.fz96 {
  font-size: 2.5rem;
}

.fz97 {
  font-size: 2.5rem;
}

.fz98 {
  font-size: 2.5rem;
}

.fz99 {
  font-size: 2.5rem;
}

.fz100 {
  font-size: 10.6666666667vw;
}

.fz101 {
  font-size: 10.9333333333vw;
}

.fz150 {
  font-size: 12vw;
}

.fz172 {
  font-size: 18.1333333333vw;
}

.header_top {
  display: none;
  background: #eee;
  padding: 10px 0;
}
.header_top .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_top_txt {
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 1.5;
}
.header_top_time {
  position: relative;
  background: #3a795a;
  font-weight: bold;
  color: #f8f8f9;
  letter-spacing: 0.1em;
  padding: 2px 14px 4px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_top_tel a {
  position: relative;
  color: #333;
  line-height: 1.5;
  text-decoration: none;
  font-family: "Noto Serif JP", serif;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-left: 30px;
}
.header_top_tel a::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url(../images/common/icon_tel_01.svg) no-repeat center/contain;
  width: 28px;
  height: 19px;
}

.header_main {
  padding: 10px 0;
  background: #f8f8f9;
}
.header_main .container {
  max-width: 100%;
  display: flex;
  align-items: center;
}
.header_main_logo {
  position: relative;
  width: 140px;
  margin-right: auto;
}
.header_main_logo a {
  display: block;
}
.header_main_logo img {
  transition: all 0.5s;
}

.footer_cta {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
  display: flex;
}
.footer_cta_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 10px 12px;
  width: 50%;
}
.footer_cta_item .txt {
  color: #f5f5f5;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.footer_cta_item01 {
  background: #3a795a;
}
.footer_cta_item02 {
  background: #3c4c44;
}

.footer_top {
  background: #3a795a;
  padding: 48px 0 40px;
}
.footer_top_ttl {
  text-align: center;
  color: #fff;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.02em;
}
.footer_top_tel {
  font-family: "Noto Serif JP", serif;
  text-align: center;
  color: #fff;
  margin-top: 14px;
}
.footer_top_tel .txt_tel,
.footer_top_tel .txt_number {
  display: inline-block;
  letter-spacing: 0.02em;
}
.footer_top_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.footer_top_btns .c_btn {
  border: solid 1px #fff;
  margin: 0 auto 15px;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 20px;
  width: 90%;
}
.footer_top_btns .c_btn:last-child {
  margin: 0 auto;
}
.footer_top_btns .c_btn_txt {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.footer_bottom {
  background: #333;
  padding: 20px 0;
}
.footer_bottom_link {
  display: flex;
  justify-content: center;
}
.footer_bottom_link a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.075em;
  font-size: 0.75rem;
  display: inline-block;
}
.footer_bottom_copyright {
  text-align: center;
  color: #fff;
  line-height: 1.2em;
  font-size: 0.75rem;
  letter-spacing: 0.075em;
  margin-top: 8px;
}

#to_top {
  position: fixed;
  background: #3a795a;
  cursor: pointer;
  width: 45px;
  height: 45px;
  right: 15px;
  bottom: 100px;
  z-index: 10;
  display: none;
  border: solid 1px #fff;
}
#to_top::after {
  position: absolute;
  content: "";
  top: 59%;
  padding: 5px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-right: solid 2px #fff;
  border-top: solid 2px #fff;
}

/**************** Animation time *********************/
[data-delay="0.1s"] {
  transition-delay: 0.1s;
}

[data-delay="0.2s"] {
  transition-delay: 0.2s;
}

[data-delay="0.3s"] {
  transition-delay: 0.3s;
}

[data-delay="0.4s"] {
  transition-delay: 0.4s;
}

[data-delay="0.5s"] {
  transition-delay: 0.5s;
}

[data-delay="0.6s"] {
  transition-delay: 0.6s;
}

[data-delay="0.7s"] {
  transition-delay: 0.7s;
}

[data-delay="0.8s"] {
  transition-delay: 0.8s;
}

[data-delay="0.9s"] {
  transition-delay: 0.9s;
}

[data-delay="1s"] {
  transition-delay: 1s;
}

[data-delay="1.1s"] {
  transition-delay: 1.1s;
}

[data-delay="1.2s"] {
  transition-delay: 1.2s;
}

[data-delay="1.3s"] {
  transition-delay: 1.3s;
}

[data-delay="1.4s"] {
  transition-delay: 1.4s;
}

[data-delay="1.5s"] {
  transition-delay: 1.5s;
}

[data-delay="1.6s"] {
  transition-delay: 1.6s;
}

[data-delay="1.7s"] {
  transition-delay: 1.7s;
}

[data-delay="1.8s"] {
  transition-delay: 1.8s;
}

[data-delay="1.9s"] {
  transition-delay: 1.9s;
}

[data-delay="2s"] {
  transition-delay: 2s;
}

[data-delay="2.1s"] {
  transition-delay: 2.1s;
}

[data-delay="2.2s"] {
  transition-delay: 2.2s;
}

[data-delay="2.3s"] {
  transition-delay: 2.3s;
}

[data-delay="2.4s"] {
  transition-delay: 2.4s;
}

[data-delay="2.5s"] {
  transition-delay: 2.5s;
}

[data-delay="2.6s"] {
  transition-delay: 2.6s;
}

[data-delay="2.7s"] {
  transition-delay: 2.7s;
}

[data-delay="2.8s"] {
  transition-delay: 2.8s;
}

[data-delay="2.9s"] {
  transition-delay: 2.9s;
}

[data-delay="3s"] {
  transition-delay: 3s;
}

[data-delay="3.5s"] {
  transition-delay: 3.5s;
}

.js_inview[data-interaction="1s"] {
  transition-duration: 1s;
}

.js_inview[data-interaction="1.5s"] {
  transition-duration: 1.5s;
}

.js_inview[data-interaction="2s"] {
  transition-duration: 2s;
}

.js_inview {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: 1s;
}

.fadeup {
  transform: translate3d(0, 50px, 0);
}

.fadedown {
  transform: translate3d(0, -50px, 0);
}

.faderight {
  transform: translate3d(100%, 0, 0);
}

.fadeupright {
  transform: translate3d(100%, -100%, 0);
}

.fadeleft {
  transform: translate3d(-100%, 0, 0);
}

.fadeupleft {
  transform: translate3d(-100%, -100%, 0);
}

.is_show.js_inview {
  opacity: 1;
  transform: translateZ(0) !important;
}

/******************************************************************************/
.js_more_fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms ease, opacity 300ms linear;
}

.js_more_hover {
  display: block;
  cursor: pointer;
}

.js_img_zoom {
  position: relative;
  overflow: hidden;
}

.js_img_zoom img {
  transition: linear 0.5s;
}

.js_img_zoom.is_zoom img {
  transform: scale(1.2);
  opacity: 1 !important;
}

.js_txt_loop_ani {
  transform: translateX(0);
  animation: js_txt_loop_ani 20s 0s linear infinite normal;
  display: inline-block;
}

@keyframes js_txt_loop_ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.js_ani_txt.is_show .txt_ani_fast {
  animation: slideText 1.5s ease-in-out 0s both;
}
.js_ani_txt.is_show .txt_ani_line {
  animation: slideText1 1.5s ease-in-out 0s both;
}
.js_ani_txt .txt_ani_wrap {
  display: block;
  overflow: hidden;
  position: relative;
  will-change: opacity;
}
.js_ani_txt .txt_ani {
  position: relative;
  top: 0;
  will-change: transform;
  transform-origin: top;
  display: block;
}

@keyframes slideText {
  0% {
    transform: translateY(2em);
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideText1 {
  0% {
    transform: translateY(3em);
    transform: translateY(3em);
  }
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
}
.js_mask {
  position: relative;
  overflow: hidden;
}
.js_mask_color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #006fc5;
  display: block;
}

/*cookie*/
.cookie_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3a795a;
  color: #fff;
  z-index: 30;
  padding: 10px 0;
  z-index: 101;
}
.cookie_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  padding: 0 25px;
}
.cookie_txt {
  width: 100%;
  font-size: 0.875rem;
}
.cookie_close {
  width: 90%;
  margin: 10px auto 0;
}
.cookie_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px 6px;
  text-decoration: none;
  border: solid 2px #3a795a;
  background: #fff;
  border-radius: 30px;
  color: #3a795a;
}

html.is_loading #loading {
  opacity: 1;
  pointer-events: all;
}

html.is_loading body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: #3a795a;
  opacity: 0;
  transition: opacity 500ms linear 2000ms;
}

.loading_three_body {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  animation: spin 2.75s infinite linear;
}
.loading_three_body_dot {
  position: absolute;
  height: 100%;
  width: 30%;
}
.loading_three_body_dot::after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  border-radius: 50%;
}
.loading_three_body_dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}
.loading_three_body_dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 1.1s infinite ease-in-out;
  animation-delay: -0.33s;
}
.loading_three_body_dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}
.loading_three_body_dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 1.1s infinite -0.165s ease-in-out;
}
.loading_three_body_dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}
.loading_three_body_dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 1.1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wobble1 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}
@keyframes wobble2 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
.nav {
  display: none;
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100% - 60px);
  z-index: 200;
  width: 100%;
  background: #f8f8f9;
  padding: 60px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav_menu {
  margin: 0 0 30px;
}
.nav_menu_item {
  position: relative;
}
.nav_menu_item:first-child .link {
  border-top: solid 1px #333;
}
.nav_menu_item .link {
  position: relative;
  color: #333;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: solid 1px #333;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.1em;
}

.nav_btn_hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #3a795a;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 100;
}
.nav_btn_hamburger.active .nav_btn_hamburger_line {
  background-color: transparent;
}
.nav_btn_hamburger.active .nav_btn_hamburger_line::before, .nav_btn_hamburger.active .nav_btn_hamburger_line::after {
  margin-top: 0px;
  transition: all 0.5s;
}
.nav_btn_hamburger.active .nav_btn_hamburger_line::before {
  transform: rotate(45deg);
}
.nav_btn_hamburger.active .nav_btn_hamburger_line::after {
  transform: rotate(-45deg);
}
.nav_btn_hamburger_line {
  display: block;
  margin: 0;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
  position: relative;
}
.nav_btn_hamburger_line::before, .nav_btn_hamburger_line::after {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.nav_btn_hamburger_line::before {
  margin-top: -8px;
}
.nav_btn_hamburger_line::after {
  margin-top: 8px;
}

.c_btn {
  position: relative;
  text-decoration: none;
  width: 220px;
  background: #3a795a;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  z-index: 1;
  border: solid 1px #3a795a;
}
.c_btn::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: url(../images/common/icon_arrow_01.svg) no-repeat center/contain;
  width: 7px;
  height: 13px;
}
.c_btn_txt {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.c_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c_btns .c_btn {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  justify-content: center;
  width: 100%;
}
.c_btns .c_btn:last-child {
  margin-bottom: 0;
}
.c_btns .c_btn_txt {
  font-size: 1.3125rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.c_btns .c_btn::after {
  right: 10px;
  transform: translateY(-50%);
  background: url(../images/common/icon_arrow_01.svg) no-repeat center/contain;
}

.c_ttl {
  position: relative;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  color: #3a795a;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
.c_ttl.has_border {
  text-align: left;
  padding-bottom: 15px;
}
.c_ttl.has_border::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background: #3a795a;
}

.c_txt {
  color: #333;
  letter-spacing: 0.1em;
}

.c_tbl_ttl {
  width: 100%;
  border-top: solid 2px #000;
  border-left: solid 2px #000;
  border-right: solid 2px #000;
  padding: 10px 15px;
}
.c_tbl_ttl .ttl {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5em;
}
.c_tbl_content {
  width: 100%;
  border-top: solid 2px #000;
  border-left: solid 2px #000;
  border-right: solid 2px #000;
  padding: 15px 20px;
}
.c_tbl_content .desc {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.c_tbl_content .desc:last-child {
  margin-bottom: 0;
}
.c_tbl_row {
  display: flex;
  flex-wrap: wrap;
}
.c_tbl_row:last-child .c_tbl_content {
  border-bottom: solid 2px #000;
}

.c_tbl_scroll_row_ttl {
  display: flex;
}
.c_tbl_scroll_ttl {
  width: 250px;
  background: #000;
  padding: 15px;
}
.c_tbl_scroll_ttl .ttl {
  color: #fff;
  text-align: center;
}
.c_tbl_scroll_row_content {
  display: flex;
}
.c_tbl_scroll_content {
  padding: 15px;
  width: 250px;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
}
.c_tbl_scroll_content:first-child {
  border-left: solid 1px #000;
}

.pc {
  display: none;
}

.container {
  padding: 0 20px;
}

#wrapper {
  overflow: hidden;
}

html.overflow {
  overflow: hidden;
}

/* For Chrome and other browsers except Firefox */

a,
a *,
div,
div * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) and (max-height: 800px) {
  .footer_cta {
    top: auto !important;
    bottom: 5% !important;
    transform: none !important;
  }
  #to_top {
    right: clamp(4.375rem, 18.75vw + -12.5rem, 6.25rem) !important;
  }
}

@media screen and (min-width: 768px) and (max-height: 650px) {
  .footer_cta_item {
    padding: 15px;
  }
  .footer_cta_item .txt {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 376px) {
  .u_d_xs_none {
    display: none !important;
  }
  .u_d_xs_inline {
    display: inline !important;
  }
  .u_d_xs_inline_block {
    display: inline-block !important;
  }
  .u_d_xs_block {
    display: block !important;
  }
  .u_d_xs_flex {
    display: flex !important;
  }
}

@media screen and (min-width: 415px) {
  .u_d_sm_none {
    display: none !important;
  }
  .u_d_sm_inline {
    display: inline !important;
  }
  .u_d_sm_inline_block {
    display: inline-block !important;
  }
  .u_d_sm_block {
    display: block !important;
  }
  .u_d_sm_flex {
    display: flex !important;
  }
  .cookie_close {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  body {
    line-height: 2.25;
    font-size: 1rem;
  }
  .u_d_md_none {
    display: none !important;
  }
  .u_d_md_inline {
    display: inline !important;
  }
  .u_d_md_inline_block {
    display: inline-block !important;
  }
  .u_d_md_block {
    display: block !important;
  }
  .u_d_md_flex {
    display: flex !important;
  }
  .fz11 {
    font-size: 0.6875rem;
  }
  .fz12 {
    font-size: 0.75rem;
  }
  .fz13 {
    font-size: 0.8125rem;
  }
  .fz14 {
    font-size: 0.875rem;
  }
  .fz15 {
    font-size: 0.9375rem;
  }
  .fz16 {
    font-size: 1rem;
  }
  .fz17 {
    font-size: 1.0625rem;
  }
  .fz18 {
    font-size: 1.125rem;
  }
  .fz19 {
    font-size: 1.1875rem;
  }
  .fz20 {
    font-size: 1.25rem;
  }
  .fz21 {
    font-size: 1.3125rem;
  }
  .fz22 {
    font-size: 1.375rem;
  }
  .fz23 {
    font-size: 1.4375rem;
  }
  .fz24 {
    font-size: 1.5rem;
  }
  .fz25 {
    font-size: 1.5625rem;
  }
  .fz26 {
    font-size: 1.625rem;
  }
  .fz27 {
    font-size: 1.6875rem;
  }
  .fz28 {
    font-size: 1.75rem;
  }
  .fz29 {
    font-size: 1.8125rem;
  }
  .fz30 {
    font-size: 1.875rem;
  }
  .fz31 {
    font-size: 1.9375rem;
  }
  .fz32 {
    font-size: 2rem;
  }
  .fz33 {
    font-size: 2.0625rem;
  }
  .fz34 {
    font-size: 2.125rem;
  }
  .fz35 {
    font-size: 2.1875rem;
  }
  .fz36 {
    font-size: 2.25rem;
  }
  .fz37 {
    font-size: 2.3125rem;
  }
  .fz38 {
    font-size: 2.375rem;
  }
  .fz39 {
    font-size: 2.4375rem;
  }
  .fz40 {
    font-size: 2.5rem;
  }
  .fz41 {
    font-size: 2.5625rem;
  }
  .fz42 {
    font-size: 2.625rem;
  }
  .fz43 {
    font-size: 2.6875rem;
  }
  .fz44 {
    font-size: 2.75rem;
  }
  .fz45 {
    font-size: 2.8125rem;
  }
  .fz46 {
    font-size: 2.875rem;
  }
  .fz47 {
    font-size: 2.9375rem;
  }
  .fz48 {
    font-size: 3rem;
  }
  .fz49 {
    font-size: 3.0625rem;
  }
  .fz50 {
    font-size: 3.125rem;
  }
  .fz51 {
    font-size: 3.1875rem;
  }
  .fz52 {
    font-size: 3.25rem;
  }
  .fz53 {
    font-size: 3.3125rem;
  }
  .fz54 {
    font-size: 3.375rem;
  }
  .fz55 {
    font-size: 3.4375rem;
  }
  .fz56 {
    font-size: 3.5rem;
  }
  .fz57 {
    font-size: 3.5625rem;
  }
  .fz58 {
    font-size: 3.625rem;
  }
  .fz59 {
    font-size: 3.6875rem;
  }
  .fz60 {
    font-size: 3.75rem;
  }
  .fz61 {
    font-size: 3.8125rem;
  }
  .fz62 {
    font-size: 3.875rem;
  }
  .fz63 {
    font-size: 3.9375rem;
  }
  .fz64 {
    font-size: 4rem;
  }
  .fz65 {
    font-size: 4.0625rem;
  }
  .fz66 {
    font-size: 4.125rem;
  }
  .fz67 {
    font-size: 4.1875rem;
  }
  .fz68 {
    font-size: 4.25rem;
  }
  .fz69 {
    font-size: 4.3125rem;
  }
  .fz70 {
    font-size: 4.375rem;
  }
  .fz71 {
    font-size: 4.4375rem;
  }
  .fz72 {
    font-size: 4.5rem;
  }
  .fz73 {
    font-size: 4.5625rem;
  }
  .fz74 {
    font-size: 4.625rem;
  }
  .fz75 {
    font-size: 4.6875rem;
  }
  .fz76 {
    font-size: 4.75rem;
  }
  .fz77 {
    font-size: 4.8125rem;
  }
  .fz78 {
    font-size: 4.875rem;
  }
  .fz79 {
    font-size: 4.9375rem;
  }
  .fz80 {
    font-size: 5rem;
  }
  .fz81 {
    font-size: 5.0625rem;
  }
  .fz82 {
    font-size: 5.125rem;
  }
  .fz83 {
    font-size: 5.1875rem;
  }
  .fz84 {
    font-size: 5.25rem;
  }
  .fz85 {
    font-size: 5.3125rem;
  }
  .fz86 {
    font-size: 5.375rem;
  }
  .fz87 {
    font-size: 5.4375rem;
  }
  .fz88 {
    font-size: 5.5rem;
  }
  .fz89 {
    font-size: 5.5625rem;
  }
  .fz90 {
    font-size: 5.625rem;
  }
  .fz91 {
    font-size: 5.6875rem;
  }
  .fz92 {
    font-size: 5.75rem;
  }
  .fz93 {
    font-size: 5.8125rem;
  }
  .fz94 {
    font-size: 5.875rem;
  }
  .fz95 {
    font-size: 5.9375rem;
  }
  .fz96 {
    font-size: 6rem;
  }
  .fz97 {
    font-size: 6.0625rem;
  }
  .fz98 {
    font-size: 6.125rem;
  }
  .fz99 {
    font-size: 6.1875rem;
  }
  .fz100 {
    font-size: 6.25vw;
  }
  .fz101 {
    font-size: 6.3125vw;
  }
  .fz150 {
    font-size: 9.375vw;
  }
  .fz172 {
    font-size: 10.75vw;
  }
  .header_top {
    display: block;
    padding: 12px 0 10px;
  }
  .header_top_txt {
    margin: 0 12px 0 0;
  }
  .header_top_time {
    margin: 0 12px 0 0;
    left: -6px;
  }
  .header_top_tel a {
    padding-left: 33px;
    font-size: 1.75rem;
  }
  .header_main {
    padding: 23px 0 32px;
  }
  .header_main .container {
    padding: 0 clamp(1.5625rem, 3.0048076923vw + 0.1201923077rem, 3.125rem);
  }
  .header_main_logo {
    width: clamp(5.625rem, 19.53125vw + -3.75rem, 8.75rem);
    left: clamp(-0.1875rem, -1.875vw + 1.6875rem, 0rem);
  }
  .header_main_logo a:hover img {
    opacity: 0.7;
  }
  .header_main_logo img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .footer_cta {
    display: block;
    top: 56%;
    bottom: auto;
    transform: translateY(-50%);
    width: clamp(3.125rem, 25vw + -19.375rem, 5.625rem);
  }
  .footer_cta_item {
    width: 100%;
    padding: clamp(1.75rem, 4.375vw + -2.1875rem, 2.1875rem) 10px;
    transition: all 0.5s;
  }
  .footer_cta_item .txt {
    writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    transition: all 0.5s;
  }
  .footer_cta_item01 {
    border: solid 2px #3a795a;
  }
  .footer_cta_item01:hover {
    background: #f5f5f5;
  }
  .footer_cta_item01:hover .txt {
    color: #3a795a;
  }
  .footer_cta_item02 {
    border: solid 2px #3c4c44;
    padding: 28px 10px 25px;
  }
  .footer_cta_item02:hover {
    background: #f5f5f5;
  }
  .footer_cta_item02:hover .txt {
    color: #3c4c44;
  }
  .footer_top {
    padding: 96px 0 79px;
  }
  .footer_top_ttl {
    line-height: 1.7666666667;
  }
  .footer_top_tel {
    margin-top: 27px;
  }
  .footer_top_tel .txt_tel,
  .footer_top_tel .txt_number {
    line-height: 1.7666666667;
  }
  .footer_top_btns {
    flex-wrap: nowrap;
    margin-top: 57px;
  }
  .footer_top_btns .c_btn {
    width: 400px;
    padding: 19px clamp(0.9375rem, 1.8028846154vw + 0.0721153846rem, 1.875rem) 20px;
    margin: 0 20px 0 0;
  }
  .footer_top_btns .c_btn:last-child {
    margin: 0;
  }
  .footer_top_btns .c_btn::after {
    right: 20px;
  }
  .footer_top_btns .c_btn_txt {
    font-size: 1.25rem;
  }
  .footer_bottom {
    padding: 39px 0 42px;
  }
  .footer_bottom_link li {
    line-height: 1em;
    margin: 0 23px 0 0;
    padding-right: 15px;
    border-right: solid 1px #fff;
  }
  .footer_bottom_link li:last-child {
    margin: 0;
    border-right: 0;
    padding-right: 0;
  }
  .footer_bottom_link a {
    line-height: 1em;
    font-size: 0.875rem;
    transition: all 0.5s;
  }
  .footer_bottom_link a:hover {
    opacity: 0.7;
  }
  .footer_bottom_copyright {
    margin-top: 17px;
    font-size: 0.875rem;
  }
  #to_top {
    transition: all 0.5s;
    width: clamp(2.5rem, 12.5vw + -8.75rem, 3.75rem);
    height: clamp(2.5rem, 12.5vw + -8.75rem, 3.75rem);
    bottom: 10px;
    right: clamp(0.9375rem, -25vw + 25.9375rem, 3.4375rem);
  }
  #to_top:hover {
    border: solid 1px #3a795a;
    background: #fff;
  }
  #to_top:hover::after {
    border-color: #3a795a;
  }
  #to_top::after {
    padding: clamp(0.1875rem, 2.5vw + -2.0625rem, 0.4375rem);
    top: 59%;
    transition: all 0.5s;
  }
  .js_more_fixed.is_hover {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  .cookie_container {
    flex-wrap: nowrap;
  }
  .cookie_txt {
    width: 75%;
    padding-right: 15px;
  }
  .cookie_close {
    margin-top: 0;
    flex-shrink: 0;
    width: 25%;
  }
  .cookie_btn {
    transition: all 0.5s;
    padding: 10px 10px 11px;
  }
  .cookie_btn:hover {
    background: #e2e2ef;
  }
  .nav {
    position: relative;
    display: inherit;
    border: 0;
    width: auto;
    height: auto;
    padding: 0;
    top: 0;
    left: 0;
    background: none;
    overflow-y: hidden;
  }
  .nav_wrap {
    display: flex;
  }
  .nav_menu {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .nav_menu_item {
    padding-right: clamp(0.625rem, 3.25vw + -1.8125rem, 1.4375rem);
    margin-right: clamp(0.625rem, 4.75vw + -2.9375rem, 1.8125rem);
    border-right: solid 1px #333;
    line-height: 1em;
  }
  .nav_menu_item:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
  .nav_menu_item:first-child .link {
    border-top: 0;
  }
  .nav_menu_item .link {
    line-height: 1.1em;
    transition: all 0.5s;
    border: 0;
    padding: 0;
    display: inline-block;
    font-size: clamp(0.75rem, 1.5625vw + 0rem, 1rem);
  }
  .nav_menu_item .link:hover {
    color: #3a795a;
  }
  .nav_btn_hamburger {
    display: none;
  }
  .c_btn {
    width: 240px;
    padding: 16px clamp(0.9375rem, 2.6442307692vw + -0.3317307692rem, 2.3125rem) 15px;
    transition: all 0.5s;
  }
  .c_btn:hover {
    background: #fff;
  }
  .c_btn:hover::after {
    background: url(../images/common/icon_arrow_01_green.svg) no-repeat center/contain;
  }
  .c_btn:hover .c_btn_txt {
    color: #3a795a;
  }
  .c_btn::after {
    right: 28px;
    transition: all 0.5s;
  }
  .c_btn_txt {
    transition: all 0.5s;
    font-size: 1.125rem;
  }
  .c_btn.style01 {
    min-height: 180px;
  }
  .c_btns .c_btn_txt {
    font-size: 1.875rem;
  }
  .c_btns .c_btn::after {
    width: 12px;
    right: 30px;
    height: 22px;
  }
  .c_ttl.has_border {
    padding-bottom: 31px;
  }
  .c_tbl_ttl {
    border-right: 0;
    width: 30%;
    padding: 20px 30px;
  }
  .c_tbl_ttl .ttl {
    font-size: 1rem;
  }
  .c_tbl_content {
    width: 70%;
    padding: 10px 15px;
  }
  .c_tbl_content .desc {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .c_tbl_row {
    flex-wrap: nowrap;
  }
  .c_tbl_row:last-child .c_tbl_ttl {
    border-bottom: solid 2px #000;
  }
  .sp {
    display: none;
  }
  .pc {
    display: inherit;
  }
  .c_phone {
    pointer-events: none;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  html {
    scrollbar-color: #3a795a #eee;
    scrollbar-width: thin;
  }
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
    z-index: 1;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #3a795a;
  }
}

@media screen and (min-width: 1025px) {
  .u_d_lg_none {
    display: none !important;
  }
  .u_d_lg_inline {
    display: inline !important;
  }
  .u_d_lg_inline_block {
    display: inline-block !important;
  }
  .u_d_lg_block {
    display: block !important;
  }
  .u_d_lg_flex {
    display: flex !important;
  }
  .header_main_logo {
    width: clamp(8.75rem, 7.3043478261vw + 4.0706521739rem, 11.375rem);
  }
  .footer_cta {
    top: 52%;
  }
  .cookie_container {
    padding: 0 clamp(0.9375rem, 11.3043478261vw + -6.3043478261rem, 5rem);
  }
  .nav_menu_item .link {
    font-size: 1rem;
  }
  .c_btns .c_btn {
    margin-bottom: 0;
    width: 48.276%;
  }
}

@media screen and (min-width: 1601px) {
  .u_d_xl_none {
    display: none !important;
  }
  .u_d_xl_inline {
    display: inline !important;
  }
  .u_d_xl_inline_block {
    display: inline-block !important;
  }
  .u_d_xl_block {
    display: block !important;
  }
  .u_d_xl_flex {
    display: flex !important;
  }
  .fz100 {
    font-size: 6.25rem;
  }
  .fz101 {
    font-size: 6.3125rem;
  }
  .fz150 {
    font-size: 9.375rem;
  }
  .fz172 {
    font-size: 10.75rem;
  }
}
/*# sourceMappingURL=maps/style.css.map */
