@use '../global' as *;

.fw_400 {
    font-weight: 400 !important;
}
.fw_500 {
    font-weight: 500 !important;
}
.fw_700 {
    font-weight: 700 !important;
}
.fw_900 {
    font-weight: 900 !important;
}
$aa: (
    10: (
        11,
    ),
    11: (
        12,
    ),
    12: (
        13,
        14,
    ),
    13: (
        15,
    ),
    14: (
        16,
    ),
    15: (
        17,
    ),
    16: (
        18,
        19,
        20,
    ),
    17: (
        21,
        22,
    ),
    18: (
        23,
        24,
        25,
    ),
    19: (
        26,
        27,
    ),
    20: (
        28,
        29,
    ),
    21: (
        30,
        31,
        32,
    ),
    22: (
        33,
        34,
        35,
    ),
    23: (
        36,
        37,
        38,
        39,
        40,
    ),
    24: (
        41,
        42,
        43,
        44,
    ),
    25: (
        45,
        46,
        47,
        48,
    ),
    26: (
        49,
        50,
        51,
        52,
        53,
        54,
        55,
    ),
    27: (
        56,
        57,
        58,
        59,
        60,
    ),
    28: (
        61,
        62,
        63,
        64,
        65,
    ),
    29: (
        66,
    ),
    30: (
        67,
        68,
        69,
        70,
    ),
    31: (
        71,
    ),
    32: (
        72,
        73,
        74,
        75,
    ),
    34: (
        76,
        77,
        78,
        79,
        80,
    ),
    35: (
        81,
        82,
        83,
    ),
    36: (
        84,
        85,
    ),
    37: (
        86,
        87,
        88,
        89,
        90,
    ),
    38: (
        91,
        92,
    ),
    39: (
        93,
        94,
        95,
    ),
    40: (
        96,
        97,
        98,
        99,
    ),
);
@each $sp, $pc_array in $aa {
    @each $pc in $pc_array {
        .fz#{$pc} {
            font-size: $sp * 0.0625rem;
            @include mq() {
                font-size: $pc * 0.0625rem;
            }
        }
    }
}

.fz100 {
    font-size: vw(40, 375);
    @include mq('md') {
        font-size: vw(100, 1600);
    }
    @include mq('xl') {
        font-size: rem(100);
    }
}
.fz101 {
    font-size: vw(41, 375);
    @include mq('md') {
        font-size: vw(101, 1600);
    }
    @include mq('xl') {
        font-size: rem(101);
    }
}
.fz150 {
    font-size: vw(45, 375);
    @include mq('md') {
        font-size: vw(150, 1600);
    }
    @include mq('xl') {
        font-size: rem(150);
    }
}
.fz172 {
    font-size: vw(68, 375);
    @include mq('md') {
        font-size: vw(172, 1600);
    }
    @include mq('xl') {
        font-size: rem(172);
    }
}
