@use "sass:math";
@use "../global" as *;

.c_footer {
    padding: 50px 0 50px;
    @include mq() {
        padding: 90px 0 120px;
        padding: clamped(60,90,768,1024) 0 clamped(60, 120, 768, 1024);
    }
    &_inner {
        @include mq() {
            display: flex;
            justify-content: space-between;
        }
    }
    &_logo {
        display: table;
        width: 280px;
        
        @include mq() {
            width: 50%;
            max-width: 436px;
            margin-right: 40px;
            
        }
        img {
            width: 100%;
        }
    }
    &_content {
        margin-top: 30px;
        @include mq() {
            margin-top: 0;
            width: 50%;
            padding: 1px 0 0 20px;
            padding-left: clamped(0, 20, 1024, 1200);
        }
    }
    &_link {
        display: table;
        letter-spacing: 0.05em;
        text-decoration-thickness: 2px;
        text-underline-offset: 11px;
        & + .c_footer_link {
            letter-spacing: 0;
            margin-top: 20px;
            @include mq() {
                margin-top: 29px;
            }
        }
    }
    &_desc {
        margin-top: 40px;
        @include mq() {
            margin-top: 63px;
            line-height: math.div(36,20);
        }
    }
    &_copyright {
        font-family: $font_jose;
        margin-top: 20px;
        @include mq() {
            margin-top: 32px;
        }
    }
}
