@use "sass:math";
@use "../global" as *;

.c_txt40 {
    font-size: rem(24);
    line-height: math.div(58, 40);
    @include mq() {
        font-size: rem(40);
    }
}

.c_txt30 {
    font-size: rem(20);
    line-height: math.div(44, 30);
    @include mq() {
        font-size: rem(30);
    }
}

.c_txt24 {
    font-size: rem(18);
    line-height: math.div(34, 24);
    @include mq() {
        font-size: rem(24);
    }
}

.c_txt20 {
    font-size: rem(16);
    line-height: math.div(29, 20);
    @include mq() {
        font-size: rem(20);
    }
}

.u_fw700 {
    font-weight: bold;
}

.u_fw400 {
    font-weight: 400;
}

.c_txtbox {
    display: table;
    border-radius: 100px;
    background-color: white;
    padding: math.div(5em, 16) math.div(12em, 16) math.div(6em, 16);
    color: $c_second;
}

.c_heading {
    font-weight: bold;
    text-align: center;
    @include mq() {
        font-size: rem(35);
        font-size: clamped(22,35,768,1024);
    }
    & > * {
        display: block;
    }
    &_jp {
        line-height: 1;
        font-size: rem(22);
        letter-spacing: 0.06em;
        margin-bottom: 20px;
        @include mq() {
            margin-bottom: math.div(39em,30);
            font-size: 1em;
        }
    }
    &_en {
        font-family: $font_jose;
        line-height: 1;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: rem(50);
        @include mq() {
            // font-size: rem(140);
            font-size: math.div(140em,35);
        }
    }
}

.c_ttl {
    &_logo {
        height: math.div(60em, 40);
        // height: auto;
        width: auto;
    }
    &_txt {
        letter-spacing: 0.06em;
    }
}

.c_color_orange {
    color: $c_four;
}
