@use '../global' as *;
/*cookie*/
.cookie {
    &_wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #3a795a;
        color: #fff;
        z-index: 30;
        padding: 10px 0;
        z-index: 101;
    }
    &_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        padding: 0 25px;
        @include mq('md') {
            flex-wrap: nowrap;
        }
        @include mq('lg') {
            padding: 0 clamped(15, 80, 1025, 1600);
        }
    }
    &_txt {
        width: 100%;
        font-size: rem(14);
        @include mq('md') {
            width: 75%;
            padding-right: 15px;
        }
    }
    &_close {
        width: 90%;
        margin: 10px auto 0;
        @include mq('sm') {
            width: 250px;
        }
        @include mq('md') {
            margin-top: 0;
            flex-shrink: 0;
            width: 25%;
        }
    }
    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px 10px 6px;
        text-decoration: none;
        border: solid 2px #3a795a;
        background: #fff;
        border-radius: 30px;
        color: #3a795a;
        @include mq('md') {
            transition: all 0.5s;
            padding: 10px 10px 11px;
            &:hover {
                background: #e2e2ef;
            }
        }
    }
}
