//! ---> global > font

// @font-face {
//     font-family: 'Noto Sans JP';
//     font-style: normal;
//     font-weight: 500;
//     font-display: optional;
//     src: url('/fonts/NotoSansCJKjp-Medium.woff2') format('woff2');
//     src: url('/fonts/NotoSansCJKjp-Medium.ttf') format('truetype');
// }

$f_base: "Noto Sans JP", sans-serif;
$f_noto_serif: "Noto Serif JP", serif;
$f_poppins: "Poppins", sans-serif;
