.nav_link {
    display: inline-block;
    @include media_min_query() {
        transition: 150ms ease-out;
        &:hover {
            opacity: 0.8;
        }
    }
}

.p {
    &_desc {
        font-size: 1.6rem;
        line-height: 2.22;

        @include media_min_query() {
            font-size: 1.8rem;
        }
    }
}

.totop {
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    border-width: 2px;
    border-color: #5f6c76;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition:
        visibility 300ms ease,
        opacity 200ms linear 100ms;
    &::after,
    &::before {
        background-color: #5f6c76;
    }
    &.is_active {
        opacity: 1;
        visibility: visible;
    }
    .icon {
        width: 15px;
        height: 13px;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;

        translate: -50% -50%;
        rotate: -90deg;
        background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include media_min_query() {
        width: 70px;
        height: 70px;
        &:hover {
            .icon {
                background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
            }
        }
    }
}
