/** -- ▷ footer ◁ -- */
.footer {
    > .inner {
        padding: 0.1px;
        position: relative;
    }
    &_cover {
        position: absolute;
        inset: 0;
        z-index: -1;
        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &_head {
        padding-top: 60px;
        @include media_min_query() {
            padding-top: 140px;
        }
        @include media_min_query("lg") {
            padding-top: 210px;
        }
    }
    &_heading {
        color: #fff;
        text-align: center;
        .en,
        .jp {
            display: block;
            line-height: 1.07;
        }
        .en {
            @extend %f_75;
            font-family: $f_poppins;
            font-weight: 600;
        }
        .jp {
            @extend %f_35;
            font-family: $f_noto_serif;
            font-weight: 400;
            letter-spacing: -0.02em;
        }
    }

    .btn_group {
        @include media_min_query() {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include media_min_query("lg") {
            margin-top: 52px;
        }

        .btn {
            margin-bottom: 10px;
            @include media_min_query() {
                width: calc(50% - 5px);
            }
            @include media_min_query("lg") {
                width: calc(33.33% - 27px);
                height: 100px;
                margin-bottom: 0;
            }
        }
    }

    &_body {
        width: 320px;
        max-width: 100%;

        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 60px;
        @include media_min_query() {
            width: 100%;
            padding-bottom: 110px;
        }
        @include media_min_query("lg") {
            padding-bottom: 357px;
        }
    }
    &_foot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #f7f9fc;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            opacity: 0.5;
        }
        @include media_min_query() {
            flex-direction: row;
            padding-top: 40px;
            padding-bottom: 54px;
        }

        .nav_link {
            padding-right: 22px;
            + .nav_link {
                @include media_min_query() {
                    padding-left: 22px;
                    border-left: 1px solid #fff;
                }
            }
        }
    }

    &_copyright {
        font-family: $f_poppins;
        font-weight: 600;
        margin-top: 10px;
        @include media_min_query() {
            margin-top: 0;
            margin-left: auto;
        }
    }
}
