@use "sass:math";
@use "../global"as *;

/*!
component > title
------------------------------
*/

.c_title{
    position: relative;
    padding-bottom: vw(24,375);
    @include mq(md) {
        padding-bottom: clamped(28,56, 768, 1920);
    }
    &::before{
        content: "";
        width: 100%;
        height: vw(13,375);
        border-top: 1px solid #000;    
        border-bottom: 1px solid #000;        
        position: absolute;
        left: 0;
        bottom: 0;
        @include mq(md) {
            height: clamped(11,17, 768, 1920);
        }
    }
    &::after{
        content: "";
        width: 100%;
        height: 0;
        border-top: 1px dashed #000;         
        position: absolute;
        left: 0;
        bottom: vw(6,375);
        @include mq(md) {
            bottom: clamped(5,8, 768, 1920);
        }
    }
    &__jp{
        font-size: vw(16,375);
        line-height: math.div(24,16);
        letter-spacing: 0.05em;
        font-weight: 700;
        color: #00A8DD;
        display: block;
        margin-bottom: vw(7,375);
        @include mq(md) {
            margin-bottom: 0;
            letter-spacing: 0.1em;
            line-height: math.div(29,20);
            font-size: clamped(14,20, 768, 1920);
            padding-left: clamped(70,144, 768, 1920);
        }
        &.white{
            color: #fff;
        }
    }
    &__en{
        display: block;
        font-size: vw(45,375);
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.15;
        font-family: $font-family-en;
        @include mq(md) {
            font-size: clamped(60,120, 768, 1920);
            padding-left: clamped(70,144, 768, 1920);
        }
    }
    &_white{
        .c_title__en{
            color: #fff;
        }
        &::before{
            border-top: 1px solid #fff;    
            border-bottom: 1px solid #fff;     
        }
        &::after{
            border-top: 1px dashed #fff;      
        }
    }
}

.c_ttl50{
    font-size: vw(23,375);
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: math.div(34,23);
    position: relative;
    display: inline-block;
    color: #00A8DD;
    @include mq(md) {
        font-size: clamped(25,50, 768, 1920);
    }
    &::after{
        content: "";
        width: 200%;
        height: 0;
        left: calc(100% + vw(16,375));
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        border: 1px solid transparent; 
        background-image: linear-gradient(to right, black 25%, transparent 25% 50%, black 50% 75%, transparent 75%);
        background-size: 18px 1px;
        @include mq(md) {
            left: calc(100% + clamped(23,46, 768, 1920));
        }
    }
}