<footer class="c-footer-01">
    <div class="c-footer__inner">
        <h2>Footer 01</h2>
        <div class="c-footer__copy">
            <small>&copy; 2026 Custom Site</small>
        </div>
    </div>
</footer>
