@use '../global' as *;

.c_btn {
    position: relative;
    text-decoration: none;
    width: 220px;
    background: #3a795a;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    z-index: 1;
    border: solid 1px #3a795a;
    @include mq('md') {
        width: 240px;
        padding: 16px clamped(15, 37, 768, 1600) 15px;
        transition: all 0.5s;
        &:hover {
            background: #fff;
            &::after {
                background: url(../images/common/icon_arrow_01_green.svg)
                    no-repeat center/contain;
            }
            .c_btn_txt {
                color: #3a795a;
            }
        }
    }
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: url(../images/common/icon_arrow_01.svg) no-repeat
            center/contain;
        width: 7px;
        height: 13px;
        @include mq('md') {
            right: 28px;
            transition: all 0.5s;
        }
    }
    &_txt {
        display: inline-block;
        color: #fff;
        font-size: rem(16);
        letter-spacing: 0.02em;
        line-height: 1.5;
        @include mq('md') {
            transition: all 0.5s;
            font-size: rem(18);
        }
    }
    &.style01 {
        @include mq('md') {
            min-height: 180px;
        }
    }
}
.c_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .c_btn {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
        justify-content: center;
        width: 100%;

        @include mq('lg') {
            margin-bottom: 0;
            width: 48.276%;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &_txt {
            font-size: rem(21);
            font-weight: 600;
            letter-spacing: 0.1em;
            @include mq('md') {
                font-size: rem(30);
            }
        }
        &::after {
            right: 10px;
            transform: translateY(-50%);
            background: url(../images/common/icon_arrow_01.svg) no-repeat
                center/contain;

            @include mq('md') {
                width: 12px;
                right: 30px;
                height: 22px;
            }
        }
    }
}
