@use '../global' as *;

.footer_cta {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 200;
    display: flex;
    @include mq('md') {
        display: block;
        top: 56%;
        bottom: auto;
        transform: translateY(-50%);
        width: clamped(50, 90, 1440, 1600);
    }

    @include mq('lg') {
        top: 52%;
    }
    @media screen and (min-width: 768px) and (max-height: 800px) {
        top: auto !important;
        bottom: 5% !important;
        transform: none !important;
    }
    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 10px 12px;
        width: 50%;
        @include mq('md') {
            width: 100%;
            padding: clamped(28, 35, 1440, 1600) 10px;
            transition: all 0.5s;
        }
        @media screen and (min-width: 768px) and (max-height: 650px) {
            padding: 15px;
            .txt {
                font-size: rem(14);
            }
        }
        .txt {
            color: #f5f5f5;
            display: inline-block;
            letter-spacing: 0.1em;
            font-weight: bold;
            @include mq('md') {
                writing-mode: vertical-lr;
                -moz-writing-mode: vertical-lr;
                transition: all 0.5s;
            }
        }
        &01 {
            background: #3a795a;
            @include mq('md') {
                border: solid 2px #3a795a;
                &:hover {
                    background: #f5f5f5;
                    .txt {
                        color: #3a795a;
                    }
                }
            }
        }
        &02 {
            background: #3c4c44;

            @include mq('md') {
                border: solid 2px #3c4c44;
                padding: 28px 10px 25px;
                &:hover {
                    background: #f5f5f5;
                    .txt {
                        color: #3c4c44;
                    }
                }
            }
        }
    }
}
.footer_top {
    background: #3a795a;
    padding: 48px 0 40px;
    @include mq('md') {
        padding: 96px 0 79px;
    }
    &_ttl {
        text-align: center;
        color: #fff;
        font-family: 'Noto Serif JP', serif;
        letter-spacing: 0.02em;
        @include mq('md') {
            line-height: calc(53 / 30);
        }
    }
    &_tel {
        font-family: 'Noto Serif JP', serif;
        text-align: center;
        color: #fff;
        margin-top: 14px;
        @include mq('md') {
            margin-top: 27px;
        }
        .txt_tel,
        .txt_number {
            display: inline-block;
            letter-spacing: 0.02em;

            @include mq('md') {
                line-height: calc(53 / 30);
            }
        }
    }
    &_btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        @include mq('md') {
            flex-wrap: nowrap;
            margin-top: 57px;
        }
        .c_btn {
            border: solid 1px #fff;
            margin: 0 auto 15px;
            justify-content: center;
            padding-top: 19px;
            padding-bottom: 20px;
            width: 90%;
            @include mq('md') {
                width: 400px;
                padding: 19px clamped(15, 30, 768, 1600) 20px;
                margin: 0 20px 0 0;
            }
            &:last-child {
                margin: 0 auto;
                @include mq('md') {
                    margin: 0;
                }
            }
            &::after {
                @include mq('md') {
                    right: 20px;
                }
            }
            &_txt {
                font-size: rem(16);
                font-weight: 500;
                letter-spacing: 0.1em;
                @include mq('md') {
                    font-size: rem(20);
                }
            }
        }
    }
}
.footer_bottom {
    background: #333;
    padding: 20px 0;
    @include mq('md') {
        padding: 39px 0 42px;
    }
    &_link {
        display: flex;
        justify-content: center;
        li {
            @include mq('md') {
                line-height: 1em;
                margin: 0 23px 0 0;
                padding-right: 15px;
                border-right: solid 1px #fff;
            }
            &:last-child {
                @include mq('md') {
                    margin: 0;
                    border-right: 0;
                    padding-right: 0;
                }
            }
        }
        a {
            text-decoration: none;
            color: #fff;
            letter-spacing: 0.075em;
            font-size: rem(12);

            display: inline-block;
            @include mq('md') {
                line-height: 1em;
                font-size: rem(14);
                transition: all 0.5s;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    &_copyright {
        text-align: center;
        color: #fff;
        line-height: 1.2em;
        font-size: rem(12);
        letter-spacing: 0.075em;
        margin-top: 8px;
        @include mq('md') {
            margin-top: 17px;
            font-size: rem(14);
        }
    }
}
#to_top {
    position: fixed;
    background: #3a795a;
    cursor: pointer;
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 100px;
    z-index: 10;
    display: none;
    border: solid 1px #fff;
    @include mq('md') {
        transition: all 0.5s;
        width: clamped(40, 60, 1440, 1600);
        height: clamped(40, 60, 1440, 1600);
        bottom: 10px;
        right: clamped(15, 55, 1600, 1440);
        &:hover {
            border: solid 1px #3a795a;
            background: #fff;
            &::after {
                border-color: #3a795a;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-height: 800px) {
        right: clamped(70, 100, 1440, 1600) !important;
    }
    &::after {
        position: absolute;
        content: '';
        top: 59%;
        padding: 5px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        border-right: solid 2px #fff;
        border-top: solid 2px #fff;
        @include mq('md') {
            padding: clamped(3, 7, 1440, 1600);
            top: 59%;
            transition: all 0.5s;
        }
    }
}
