---
layout: _default
title: Title1321
description: 
keyword:
vendorcss: ['aos/aos','slick/slick']
vendorjs: ['aos/aos','slick/slick.min']
css: ['common','top']
js: ['common','top']
page: top
---
<script>
    if (!window.sessionStorage.getItem("storage_loading")) {
        document.documentElement.classList.add("is-loading");    
        window.sessionStorage.setItem("storage_loading", new Date().getTime().toString());    
    }
</script>
<main class="p-top">   
    <div class="c-loading">
        <div class="c-loading__inner">
            <div class="c-loading__content">
                <div class="c-loading__item"></div>
                <div class="c-loading__item"></div>
            </div>
        </div>
    </div>   
    <h1><a href="./about">TOP 123123313 </a></h1>
</main>
