@charset "UTF-8";
.h3_title, .p_intro {
  font-size: 1.6rem;
}

.footer_heading .jp {
  font-size: 2.2rem;
}

.p_sub_lead {
  font-size: 2.5rem;
}

.footer_heading .en {
  font-size: 3rem;
}

@media only screen and (min-width: 768px) {
  .h3_title, .p_intro {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .h3_title {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer_heading .jp {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .p_sub_lead {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .footer_heading .jp {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .p_sub_lead {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer_heading .en {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .footer_heading .en {
    font-size: 7.5rem;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #3057ff;
}

html {
  line-height: 1.6;
}

body {
  font-size: 1.4rem;
  color: #5f6c76;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

.overflow_auto {
  min-width: 100%;
  overflow: auto;
}

@media only screen and (max-width: 767.98px) {
  .pc {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.btn {
  overflow: hidden;
  cursor: pointer;
  transition: 150ms ease-out;
}
.btn_default {
  max-width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 700;
  position: relative;
  background-color: #fff;
}
.btn_default::before, .btn_default::after {
  content: "";
  position: absolute;
  inset: 0;
  animation-name: kf_translate_slide_in;
  animation-duration: 450ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.btn_default::before {
  opacity: 0.5;
}
.btn_default::after {
  animation-delay: 100ms;
}
.btn_default .txt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .btn_default .txt {
    padding-top: 3px;
  }
}
@media only screen and (min-width: 768px) {
  .btn_default {
    width: 260px;
    height: 70px;
  }
  .btn_default:hover::after, .btn_default:hover::before {
    animation-name: kf_translate_slide_out;
  }
  .btn_default:hover::before {
    opacity: 1;
  }
  .btn_default:hover::after {
    opacity: 0.5;
  }
}
.btn_color_01 {
  border-color: #3057ff;
  color: #fff;
}
.btn_color_01::after, .btn_color_01::before {
  background-color: #3057ff;
}
@media only screen and (min-width: 768px) {
  .btn_color_01:hover {
    color: #3057ff;
  }
}
.btn_color_02 {
  border-color: #0eb4b4;
  color: #fff;
}
.btn_color_02::after, .btn_color_02::before {
  background-color: #0eb4b4;
}
@media only screen and (min-width: 768px) {
  .btn_color_02:hover {
    color: #0eb4b4;
  }
}
.btn_arrow {
  border-color: #ccdae2;
  background-color: #5f6c76;
}
.btn_arrow::after, .btn_arrow::before {
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .btn_arrow {
    width: 260px;
  }
  .btn_arrow:hover {
    color: #fff;
  }
  .btn_arrow:hover .txt::after {
    right: 12px;
    background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
  }
}
.btn_arrow .txt::after {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 50%;
  right: 17px;
  translate: 0 -50%;
  background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: inherit;
}

@keyframes kf_translate_slide_out {
  from {
    translate: 0 0;
  }
  to {
    translate: 100% 0;
  }
}
@keyframes kf_translate_slide_in {
  from {
    translate: 100% 0;
  }
  to {
    translate: 0 0;
  }
}
.icon_arrow_right {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 99px;
  position: relative;
  background-color: #5f6c76;
}
.icon_arrow_right::after {
  content: "";
  width: 10px;
  height: 8.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
  background-size: cover;
}

/** -- ▷ header ◁ -- */
.header {
  width: 100%;
  position: fixed;
  z-index: 250697;
  top: 0;
  left: 0;
}
.header > .inner {
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
}
@media only screen and (min-width: 768px) {
  .header > .inner {
    padding-right: 30px;
  }
}
.header_logo {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .header_logo {
    width: 349px;
    height: 100px;
  }
}
.header_logo .nav_link {
  width: 294px;
  max-width: calc(100% - 20px);
}
.header_info {
  margin-left: auto;
  display: none;
}
@media only screen and (min-width: 1200px) {
  .header_info {
    display: block;
  }
}
.header_info .btn {
  margin-right: 20px;
}
@media only screen and (min-width: 1200px) {
  .header_info .btn_group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 300ms ease, opacity 200ms linear 100ms;
}
.nav.is_active {
  opacity: 1;
  visibility: visible;
}
.nav > .inner {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav_wrap {
  width: 420px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.nav_wrap .btn {
  width: 100%;
  margin-bottom: 15px;
}
.nav_toggler {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  margin-left: auto;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .nav_toggler {
    width: 70px;
    height: 70px;
  }
  .nav_toggler:hover .nav_toggler_bar:nth-child(1) {
    translate: 4px 0;
  }
  .nav_toggler:hover .nav_toggler_bar:nth-child(4) {
    translate: -4px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .nav_toggler {
    margin-left: 0;
  }
}
.nav_toggler_bar {
  width: 100%;
  height: 2px;
  background-color: #5f6c76;
  position: absolute;
  left: 0;
  transition: 300ms ease-out;
}
.nav_toggler_bar:nth-child(1) {
  top: 0;
  transform-origin: center right;
}
.nav_toggler_bar:nth-child(2), .nav_toggler_bar:nth-child(3) {
  top: calc(50% - 1px);
}
.nav_toggler_bar:nth-child(4) {
  top: calc(100% - 2px);
}
.nav_toggler_bar_group {
  width: 14px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.nav_toggler.is_active .nav_toggler_bar:nth-child(1), .nav_toggler.is_active .nav_toggler_bar:nth-child(4) {
  scale: 0 1;
}
.nav_toggler.is_active .nav_toggler_bar:nth-child(2) {
  rotate: 45deg;
}
.nav_toggler.is_active .nav_toggler_bar:nth-child(3) {
  rotate: -45deg;
}
@media only screen and (min-width: 1200px) {
  .nav .btn {
    margin-right: 20px;
  }
}

/** -- ▷ footer ◁ -- */
.footer > .inner {
  padding: 0.1px;
  position: relative;
}
.footer_cover {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.footer_cover img {
  height: 100%;
  object-fit: cover;
}
.footer_head {
  padding-top: 60px;
}
@media only screen and (min-width: 768px) {
  .footer_head {
    padding-top: 140px;
  }
}
@media only screen and (min-width: 992px) {
  .footer_head {
    padding-top: 210px;
  }
}
.footer_heading {
  color: #fff;
  text-align: center;
}
.footer_heading .en,
.footer_heading .jp {
  display: block;
  line-height: 1.07;
}
.footer_heading .en {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.footer_heading .jp {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .footer .btn_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .footer .btn_group {
    margin-top: 52px;
  }
}
.footer .btn_group .btn {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .footer .btn_group .btn {
    width: calc(50% - 5px);
  }
}
@media only screen and (min-width: 992px) {
  .footer .btn_group .btn {
    width: calc(33.33% - 27px);
    height: 100px;
    margin-bottom: 0;
  }
}
.footer_body {
  width: 320px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .footer_body {
    width: 100%;
    padding-bottom: 110px;
  }
}
@media only screen and (min-width: 992px) {
  .footer_body {
    padding-bottom: 357px;
  }
}
.footer_foot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #f7f9fc;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer_foot::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .footer_foot {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 54px;
  }
}
.footer_foot .nav_link {
  padding-right: 22px;
}
@media only screen and (min-width: 768px) {
  .footer_foot .nav_link + .nav_link {
    padding-left: 22px;
    border-left: 1px solid #fff;
  }
}
.footer_copyright {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .footer_copyright {
    margin-top: 0;
    margin-left: auto;
  }
}

.h3_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.h3_title:before {
  content: "";
  height: 4px;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 4px;
  border: 0;
  border-left: 16px solid #0fb4b4;
  border-right: 16px solid #2f57ff;
}
@media only screen and (min-width: 768px) {
  .h3_title:before {
    height: 5px;
    border-width: 25px;
    margin-bottom: 5px;
  }
}

.p_sub_lead {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
/*cookie*/
.cookie_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3057ff;
  color: #000;
  z-index: 30;
  padding: 10px 0;
}
.cookie_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  padding: 0 25px;
}
@media only screen and (min-width: 768px) {
  .cookie_container {
    flex-wrap: nowrap;
  }
}
.cookie_txt {
  width: 100%;
  font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .cookie_txt {
    width: 75%;
    padding-right: 15px;
  }
}
.cookie_close {
  width: 90%;
  margin: 10px auto 0;
}
@media only screen and (min-width: 768px) {
  .cookie_close {
    margin-top: 0;
    flex-shrink: 0;
    width: 25%;
  }
}
.cookie_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px 6px;
  text-decoration: none;
  border: solid 2px #000;
  background: #000;
  border-radius: 30px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .cookie_btn {
    transition: all 0.5s;
    padding: 10px 10px 11px;
  }
  .cookie_btn:hover {
    opacity: 0.7;
  }
}

html.is_loading #loading {
  opacity: 1;
  pointer-events: all;
}

html.is_loading body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

#loading {
  position: fixed;
  z-index: 999999;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: #3057ff;
  opacity: 0;
  transition: opacity 500ms linear 2000ms;
}

.loading_three_body {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  animation: spin 2.75s infinite linear;
}
.loading_three_body_dot {
  position: absolute;
  height: 100%;
  width: 30%;
}
.loading_three_body_dot::after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: #fff;
  border-radius: 50%;
}
.loading_three_body_dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}
.loading_three_body_dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 1.1s infinite ease-in-out;
  animation-delay: -0.33s;
}
.loading_three_body_dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}
.loading_three_body_dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 1.1s infinite -0.165s ease-in-out;
}
.loading_three_body_dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}
.loading_three_body_dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 1.1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wobble1 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}
@keyframes wobble2 {
  0%, 100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
.nav_link {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .nav_link {
    transition: 150ms ease-out;
  }
  .nav_link:hover {
    opacity: 0.8;
  }
}

.p_desc {
  font-size: 1.6rem;
  line-height: 2.22;
}
@media only screen and (min-width: 768px) {
  .p_desc {
    font-size: 1.8rem;
  }
}

.totop {
  width: 45px;
  height: 45px;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 20px;
  border-width: 2px;
  border-color: #5f6c76;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: visibility 300ms ease, opacity 200ms linear 100ms;
}
.totop::after, .totop::before {
  background-color: #5f6c76;
}
.totop.is_active {
  opacity: 1;
  visibility: visible;
}
.totop .icon {
  width: 15px;
  height: 13px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: -90deg;
  background-image: url("./../images/commons/icons/icon_arrow_right_white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .totop {
    width: 70px;
    height: 70px;
  }
  .totop:hover .icon {
    background-image: url("./../images/commons/icons/icon_arrow_right_dark.svg");
  }
}

/*# sourceMappingURL=common.css.map */
